$sectionMobileY: 64px; // 32px
$sectionMobileX: 64px; // 32px

$sectionTabletY: 64px; //  48px
$sectionTabletX: 64px;

$sectionLaptopY: 64px;
$sectionLaptopX: 192px;

$sectionDesctopY: 128px;
$sectionDesctopX: 192px;
