@import './breakpoints';
@import './paddings';

.section {
  user-select: none;
  border-bottom: var(--ifm-common-bdw) solid var(--ifm-color-emphasis-200);
  padding: $sectionMobileY 0 0;

  @media (min-width: $mobile) {
    padding: $sectionTabletY 0 0;
  }

  @media (min-width: $tablet) {
    padding: $sectionLaptopY 0 0;
  }

  @media (min-width: $desktop) {
    padding: $sectionDesctopY 0 0;
  }

  h2 {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: var(--ifm-color-emphasis-700);
    padding: 0 $sectionMobileX;

    @media (min-width: $mobile) {
      padding: 0 $sectionTabletX;
    }

    @media (min-width: $tablet) {
      padding: 0 $sectionLaptopX;
    }

    @media (min-width: $desktop) {
      padding: 0 $sectionDesctopX;
    }
  }
}

.primary {
  --ppr-bgc: var(--ifm-color-emphasis-200);
  --ppr-bdc: var(--ifm-color-emphasis-200);
}

.secondary {
  --ppr-bgc: var(--ifm-color-emphasis-100);
  --ppr-bdc: var(--ifm-color-emphasis-200);
}

.product {
  display: block;
  // padding: 32px;
  // background-color: var(--product-card-bgc);
  // border-radius: 24px;
  // box-shadow: inset 0 0 0 4px var(--product-card-bdc);

  &_interactive {
    &:hover {
      --ppr-bdc: var(--color-accent-1-700);

      svg {
        fill: var(--color-accent-1-700);
      }

      h3 {
        color: var(--color-accent-1-700);
      }
    }
  }

  svg {
    fill: var(--ifm-color-emphasis-400);
    margin-bottom: 48px;
  }

  h3 {
    color: var(--ifm-color-emphasis-700);
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }

  p {
    color: var(--ifm-color-emphasis-700);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .buttons {
    margin-top: 48px;
  }
}
