$theme-light: (
  color-dark-solid: (
    content-general: var(--bbl_dk-s_cnt-gn, #ffffff),
    content-additional: var(--bbl_dk-s_cnt-ad, rgba(#ffffff, 0.6)),
    background: var(--bbl_dk-s_bg, rgb(23, 23, 23)),
    background-focused: var(--bbl_dk-s_bg-f, rgb(38, 38, 38)),
    background-hovered: var(--bbl_dk-s_bg-h, rgb(38, 38, 38)),
    background-pressed: var(--bbl_dk-s_bg-p, #0a0a0a),
    shadow: var(--bbl_dk-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-dark-elevate: (
    content-general: var(--bbl_dk-el_cnt-gn, #ffffff),
    content-additional: var(--bbl_dk-el_cnt-ad, rgba(#ffffff, 0.6)),
    background: var(--bbl_dk-el_bg, rgb(23, 23, 23)),
    background-focused: var(--bbl_dk-el_bg-f, rgb(38, 38, 38)),
    background-hovered: var(--bbl_dk-el_bg-h, rgb(38, 38, 38)),
    background-pressed: var(--bbl_dk-el_bg-p, #0a0a0a),
    shadow: var(--bbl_dk-el_sh, 0px 2px 10px 0px rgba(23, 23, 23, 0.1)),
  ),
  color-light-solid: (
    content-general: var(--bbl_lt-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bbl_lt-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bbl_lt-s_bg, #ffffff),
    background-focused: var(--bbl_lt-s_bg-f, #f5f5f5),
    background-hovered: var(--bbl_lt-s_bg-h, #f5f5f5),
    background-pressed: var(--bbl_lt-s_bg-p, #e0e0e0),
    shadow: var(--bbl_lt-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-elevate: (
    content-general: var(--bbl_lt-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bbl_lt-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bbl_lt-el_bg, #ffffff),
    background-focused: var(--bbl_lt-el_bg-f, #f5f5f5),
    background-hovered: var(--bbl_lt-el_bg-h, #f5f5f5),
    background-pressed: var(--bbl_lt-el_bg-p, #e0e0e0),
    shadow: 0px 2px 10px 0px rgba(#ffffff, 0.1),
  ),
  color-primary-solid: (
    content-general: var(--bbl_pm-s_cnt-gn, #ffffff),
    content-additional: var(--bbl_pm-s_cnt-ad, rgba(#ffffff, 0.6)),
    background: var(--bbl_pm-s_bg, #6e56e7),
    background-focused: var(--bbl_pm-s_bg-f, #4f32e2),
    background-hovered: var(--bbl_pm-s_bg-h, #4f32e2),
    background-pressed: var(--bbl_pm-s_bg-p, #4020e0),
    shadow: var(--bbl_pm-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-elevate: (
    content-general: var(--bbl_pm-el_cnt-gn, #ffffff),
    content-additional: var(--bbl_pm-el_cnt-ad, rgba(#ffffff, 0.6)),
    background: var(--bbl_pm-el_bg, #6e56e7),
    background-focused: var(--bbl_pm-el_bg-f, #4f32e2),
    background-hovered: var(--bbl_pm-el_bg-h, #4f32e2),
    background-pressed: var(--bbl_pm-el_bg-p, #4020e0),
    shadow: 0px 2px 10px 0px rgba(#6e56e7, 0.1),
  ),
);
