$variables: (
  theme-light: (
    --bbl_dk-s_cnt-gn: #ffffff,
    --bbl_dk-s_cnt-ad: rgba(#ffffff, 0.6),
    --bbl_dk-s_bg: rgb(23, 23, 23),
    --bbl_dk-s_bg-f: rgb(38, 38, 38),
    --bbl_dk-s_bg-h: rgb(38, 38, 38),
    --bbl_dk-s_bg-p: #0a0a0a,
    --bbl_dk-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bbl_dk-el_cnt-gn: #ffffff,
    --bbl_dk-el_cnt-ad: rgba(#ffffff, 0.6),
    --bbl_dk-el_bg: rgb(23, 23, 23),
    --bbl_dk-el_bg-f: rgb(38, 38, 38),
    --bbl_dk-el_bg-h: rgb(38, 38, 38),
    --bbl_dk-el_bg-p: #0a0a0a,
    --bbl_dk-el_sh: 0px 2px 10px 0px rgba(23, 23, 23, 0.1),
    --bbl_lt-s_cnt-gn: rgb(23, 23, 23),
    --bbl_lt-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --bbl_lt-s_bg: #ffffff,
    --bbl_lt-s_bg-f: #f5f5f5,
    --bbl_lt-s_bg-h: #f5f5f5,
    --bbl_lt-s_bg-p: #e0e0e0,
    --bbl_lt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bbl_lt-el_cnt-gn: rgb(23, 23, 23),
    --bbl_lt-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --bbl_lt-el_bg: #ffffff,
    --bbl_lt-el_bg-f: #f5f5f5,
    --bbl_lt-el_bg-h: #f5f5f5,
    --bbl_lt-el_bg-p: #e0e0e0,
    --bbl_pm-s_cnt-gn: #ffffff,
    --bbl_pm-s_cnt-ad: rgba(#ffffff, 0.6),
    --bbl_pm-s_bg: #6e56e7,
    --bbl_pm-s_bg-f: #4f32e2,
    --bbl_pm-s_bg-h: #4f32e2,
    --bbl_pm-s_bg-p: #4020e0,
    --bbl_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bbl_pm-el_cnt-gn: #ffffff,
    --bbl_pm-el_cnt-ad: rgba(#ffffff, 0.6),
    --bbl_pm-el_bg: #6e56e7,
    --bbl_pm-el_bg-f: #4f32e2,
    --bbl_pm-el_bg-h: #4f32e2,
    --bbl_pm-el_bg-p: #4020e0,
  ),
  theme-dark: (
    --bbl_dk-s_cnt-gn: #ffffff,
    --bbl_dk-s_cnt-ad: rgba(#ffffff, 0.6),
    --bbl_dk-s_bg: rgb(23, 23, 23),
    --bbl_dk-s_bg-f: rgb(38, 38, 38),
    --bbl_dk-s_bg-h: rgb(38, 38, 38),
    --bbl_dk-s_bg-p: #0a0a0a,
    --bbl_dk-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bbl_dk-el_cnt-gn: #ffffff,
    --bbl_dk-el_cnt-ad: rgba(#ffffff, 0.6),
    --bbl_dk-el_bg: rgb(23, 23, 23),
    --bbl_dk-el_bg-f: rgb(38, 38, 38),
    --bbl_dk-el_bg-h: rgb(38, 38, 38),
    --bbl_dk-el_bg-p: #0a0a0a,
    --bbl_dk-el_sh: 0px 2px 10px 0px rgba(23, 23, 23, 0.1),
    --bbl_lt-s_cnt-gn: rgb(23, 23, 23),
    --bbl_lt-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --bbl_lt-s_bg: #ffffff,
    --bbl_lt-s_bg-f: #f5f5f5,
    --bbl_lt-s_bg-h: #f5f5f5,
    --bbl_lt-s_bg-p: #e0e0e0,
    --bbl_lt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bbl_lt-el_cnt-gn: rgb(23, 23, 23),
    --bbl_lt-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --bbl_lt-el_bg: #ffffff,
    --bbl_lt-el_bg-f: #f5f5f5,
    --bbl_lt-el_bg-h: #f5f5f5,
    --bbl_lt-el_bg-p: #e0e0e0,
    --bbl_pm-s_cnt-gn: rgb(23, 23, 23),
    --bbl_pm-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --bbl_pm-s_bg: #6e56e7,
    --bbl_pm-s_bg-f: #4f32e2,
    --bbl_pm-s_bg-h: #4f32e2,
    --bbl_pm-s_bg-p: #4020e0,
    --bbl_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bbl_pm-el_cnt-gn: rgb(23, 23, 23),
    --bbl_pm-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --bbl_pm-el_bg: #6e56e7,
    --bbl_pm-el_bg-f: #4f32e2,
    --bbl_pm-el_bg-h: #4f32e2,
    --bbl_pm-el_bg-p: #4020e0,
  ),
);
