$scale: (
  opened: (
    none: 24px,
    xs: 384px,
    s: 480px,
    m: 512px,
    l: 640px,
    xl: 768px,
    2xl: 996px,
  ),
  closed: (
    none: 0px,
    xs: 0px,
    s: 0px,
    m: 0px,
    l: 0px,
    xl: 0px,
    2xl: 0px,
  ),
  border-width: (
    none: 2px,
    xs: 2px,
    s: 2px,
    m: 2px,
    l: 2px,
    xl: 2px,
    2xl: 2px,
  ),
);
