.mobileSidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  border-bottom: var(--ifm-common-bdw) solid var(--ifm-color-emphasis-200);
}
