@mixin wrappers {
  .DayPicker-wrapper {
    position: relative;
    user-select: none;
    padding: 0;
  }

  .DayPicker-Months {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .DayPicker-Month {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
