$scale: (
  width: (
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  height: (
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  gap-x: (
    xl: 0px,
    l: 0px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
  gap-y: (
    xl: 0px,
    l: 0px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
  border-width: (
    xl: 2px,
    l: 2px,
    m: 2px,
    s: 1px,
    xs: 1px,
  ),
  border-radius-circular: (
    xl: 50%,
    l: 50%,
    m: 50%,
    s: 50%,
    xs: 50%,
  ),
  border-radius-rounded: (
    xl: 12px,
    l: 8px,
    m: 8px,
    s: 8px,
    xs: 4px,
  ),
  border-radius-square: (
    xl: 0px,
    l: 0px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
  text-font-size: (
    xl: 14px,
    l: 14px,
    m: 14px,
    s: 12px,
    xs: 12px,
  ),
  text-line-height: (
    xl: 20px,
    l: 20px,
    m: 20px,
    s: 16px,
    xs: 16px,
  ),
  text-subline-font-size: (
    xl: 14px,
    l: 14px,
    m: 14px,
    s: 12px,
    xs: 12px,
  ),
  text-subline-line-height: (
    xl: 20px,
    l: 20px,
    m: 20px,
    s: 16px,
    xs: 16px,
  ),
  text-padding-y: (
    xl: 0px,
    l: 0px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
  text-padding-x: (
    xl: 8px,
    l: 8px,
    m: 8px,
    s: 8px,
    xs: 8px,
  ),
  notion-offset-squared: (
    xl: -4px,
    l: -4px,
    m: -4px,
    s: -4px,
    xs: -4px,
  ),
  notion-offset-rounded: (
    xl: -4px,
    l: -4px,
    m: -4px,
    s: -4px,
    xs: -4px,
  ),
  notion-offset-circular: (
    xl: -3px,
    l: -3px,
    m: -3px,
    s: -3px,
    xs: -3px,
  ),
);
