$theme-light: (
  color-primary: (
    content-general: var(--av_pm_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--av_pm_cnt-gn-h, #6060ff),
    content-general-pressed: var(--av_pm_cnt-gn-p, #6060ff),
    content-general-disabled: var(--av_pm_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--av_pm_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--av_pm_cnt-ad-h, rgb(128, 128, 128)),
    content-additional-pressed: var(--av_pm_cnt-ad-p, rgb(128, 128, 128)),
    content-additional-disabled: var(--av_pm_cnt-ad-db, rgb(128, 128, 128)),
    image-text: var(--av_pm_img-txt, rgb(255, 255, 255)),
    image-text-disabled: var(--av_pm_img-txt-db, rgb(128, 128, 128)),
    background: var(--av_pm_bgc, rgb(64, 96, 255)),
    background-disabled: var(--av_pm_bgc-db, rgb(235, 235, 235)),
    background-gradient: var(--av_pm_bg-gradient, rgb(64, 96, 255)),
    background-gradient-disabled:
      var(--av_pm_bg-gradient-db, rgb(235, 235, 235)),
    border: var(--av_pm_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--av_pm_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--av_pm_bdc-p, rgba(0, 0, 0, 0)),
    border-disabled: var(--av_pm_bdc-db, rgba(0, 0, 0, 0)),
    filter: var(--av_pm_filter, none),
    filter-disabled: var(--av_pm_filter-db, saturate(50%) opacity(40%)),
    notion: var(--av_pm_ntn, rgb(0, 192, 96)),
    notion-border: var(--av_pm_ntn-brdr, rgb(255, 255, 255)),
  ),
  color-secondary: (
    content-general: var(--av_sc_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--av_sc_cnt-gn-h, #6060ff),
    content-general-pressed: var(--av_sc_cnt-gn-p, #6060ff),
    content-general-disabled: var(--av_sc_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--av_sc_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--av_sc_cnt-ad-h, rgb(128, 128, 128)),
    content-additional-pressed: var(--av_sc_cnt-ad-p, rgb(128, 128, 128)),
    content-additional-disabled: var(--av_sc_cnt-ad-db, rgb(128, 128, 128)),
    image-text: var(--av_sc_img-txt, rgb(64, 96, 255)),
    image-text-disabled: var(--av_sc_img-txt-db, rgb(128, 128, 128)),
    background: var(--av_sc_bgc, rgb(255, 255, 255)),
    background-disabled: var(--av_sc_bgc-db, rgb(235, 235, 235)),
    background-gradient: var(--av_sc_bg-gradient, rgb(255, 255, 255)),
    background-gradient-disabled:
      var(--av_sc_bg-gradient-db, rgb(235, 235, 235)),
    border: var(--av_sc_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--av_sc_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--av_sc_bdc-p, rgba(0, 0, 0, 0)),
    border-disabled: var(--av_sc_bdc-db, rgba(0, 0, 0, 0)),
    filter: var(--av_sc_filter, none),
    filter-disabled: var(--av_sc_filter-db, saturate(50%) opacity(40%)),
    notion: var(--av_sc_ntn, rgb(0, 192, 96)),
    notion-border: var(--av_sc_ntn-brdr, rgb(255, 255, 255)),
  ),
  color-informative: (
    content-general: var(--av_inf_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--av_inf_cnt-gn-h, #6060ff),
    content-general-pressed: var(--av_inf_cnt-gn-p, #6060ff),
    content-general-disabled: var(--av_inf_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--av_inf_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--av_inf_cnt-ad-h, rgb(128, 128, 128)),
    content-additional-pressed: var(--av_inf_cnt-ad-p, rgb(128, 128, 128)),
    content-additional-disabled: var(--av_inf_cnt-ad-db, rgb(128, 128, 128)),
    image-text: var(--av_inf_img-txt, rgb(255, 255, 255)),
    image-text-disabled: var(--av_inf_img-txt-db, rgb(128, 128, 128)),
    background: var(--av_inf_bgc, rgb(64, 128, 255)),
    background-disabled: var(--av_inf_bgc-db, rgb(235, 235, 235)),
    background-gradient: var(--av_inf_bg-gradient, rgb(64, 128, 255)),
    background-gradient-disabled:
      var(--av_inf_bg-gradient-db, rgb(235, 235, 235)),
    border: var(--av_inf_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--av_inf_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--av_inf_bdc-p, rgba(0, 0, 0, 0)),
    border-disabled: var(--av_inf_bdc-db, rgba(0, 0, 0, 0)),
    filter: var(--av_inf_filter, none),
    filter-disabled: var(--av_inf_filter-db, saturate(50%) opacity(40%)),
    notion: var(--av_inf_ntn, rgb(0, 192, 96)),
    notion-border: var(--av_inf_ntn-brdr, rgb(255, 255, 255)),
  ),
  color-positive: (
    content-general: var(--av_ps_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--av_ps_cnt-gn-h, #6060ff),
    content-general-pressed: var(--av_ps_cnt-gn-p, #6060ff),
    content-general-disabled: var(--av_ps_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--av_ps_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--av_ps_cnt-ad-h, rgb(128, 128, 128)),
    content-additional-pressed: var(--av_ps_cnt-ad-p, rgb(128, 128, 128)),
    content-additional-disabled: var(--av_ps_cnt-ad-db, rgb(128, 128, 128)),
    image-text: var(--av_ps_img-txt, rgb(255, 255, 255)),
    image-text-disabled: var(--av_ps_img-txt-db, rgb(128, 128, 128)),
    background: var(--av_ps_bgc, rgb(0, 192, 96)),
    background-disabled: var(--av_ps_bgc-db, rgb(235, 235, 235)),
    background-gradient: var(--av_ps_bg-gradient, rgb(0, 192, 96)),
    background-gradient-disabled:
      var(--av_ps_bg-gradient-db, rgb(235, 235, 235)),
    border: var(--av_ps_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--av_ps_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--av_ps_bdc-p, rgba(0, 0, 0, 0)),
    border-disabled: var(--av_ps_bdc-db, rgba(0, 0, 0, 0)),
    filter: var(--av_ps_filter, none),
    filter-disabled: var(--av_ps_filter-db, saturate(50%) opacity(40%)),
    notion: var(--av_ps_ntn, rgb(0, 192, 96)),
    notion-border: var(--av_ps_ntn-brdr, rgb(255, 255, 255)),
  ),
  color-negative: (
    content-general: var(--av_ng_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--av_ng_cnt-gn-h, #6060ff),
    content-general-pressed: var(--av_ng_cnt-gn-p, #6060ff),
    content-general-disabled: var(--av_ng_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--av_ng_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--av_ng_cnt-ad-h, rgb(128, 128, 128)),
    content-additional-pressed: var(--av_ng_cnt-ad-p, rgb(128, 128, 128)),
    content-additional-disabled: var(--av_ng_cnt-ad-db, rgb(128, 128, 128)),
    image-text: var(--av_ng_img-txt, rgb(255, 255, 255)),
    image-text-disabled: var(--av_ng_img-txt-db, rgb(128, 128, 128)),
    background: var(--av_ng_bgc, rgb(255, 96, 64)),
    background-disabled: var(--av_ng_bgc-db, rgb(235, 235, 235)),
    background-gradient: var(--av_ng_bg-gradient, rgb(255, 96, 64)),
    background-gradient-disabled:
      var(--av_ng_bg-gradient-db, rgb(235, 235, 235)),
    border: var(--av_ng_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--av_ng_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--av_ng_bdc-p, rgba(0, 0, 0, 0)),
    border-disabled: var(--av_ng_bdc-db, rgba(0, 0, 0, 0)),
    filter: var(--av_ng_filter, none),
    filter-disabled: var(--av_ng_filter-db, saturate(50%) opacity(40%)),
    notion: var(--av_ng_ntn, rgb(0, 192, 96)),
    notion-border: var(--av_ng_ntn-brdr, rgb(255, 255, 255)),
  ),
  color-attention: (
    content-general: var(--av_at_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--av_at_cnt-gn-h, #6060ff),
    content-general-pressed: var(--av_at_cnt-gn-p, #6060ff),
    content-general-disabled: var(--av_at_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--av_at_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--av_at_cnt-ad-h, rgb(128, 128, 128)),
    content-additional-pressed: var(--av_at_cnt-ad-p, rgb(128, 128, 128)),
    content-additional-disabled: var(--av_at_cnt-ad-db, rgb(128, 128, 128)),
    image-text: var(--av_at_img-txt, rgb(10, 10, 10)),
    image-text-disabled: var(--av_at_img-txt-db, rgb(128, 128, 128)),
    background: var(--av_at_bgc, rgb(255, 192, 32)),
    background-disabled: var(--av_at_bgc-db, rgb(235, 235, 235)),
    background-gradient: var(--av_at_bg-gradient, rgb(255, 192, 32)),
    background-gradient-disabled:
      var(--av_at_bg-gradient-db, rgb(235, 235, 235)),
    border: var(--av_at_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--av_at_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--av_at_bdc-p, rgba(0, 0, 0, 0)),
    border-disabled: var(--av_at_bdc-db, rgba(0, 0, 0, 0)),
    filter: var(--av_at_filter, none),
    filter-disabled: var(--av_at_filter-db, saturate(50%) opacity(40%)),
    notion: var(--av_at_ntn, rgb(0, 192, 96)),
    notion-border: var(--av_at_ntn-brdr, rgb(255, 255, 255)),
  ),
);
