$scale: (
  width: (
    s: 64px,
    xs: 48px,
  ),
  height: (
    s: 64px,
    xs: 48px,
  ),
  padding-x: (
    s: 16px,
    xs: 8px,
  ),
  padding-y: (
    s: 16px,
    xs: 8px,
  ),
  gap-x: (
    s: 8px,
    xs: 4px,
  ),
  border-width: (
    s: 1px,
    xs: 1px,
  ),
  border-radius-circular: (
    s: 32px,
    xs: 24px,
  ),
  border-radius-rounded: (
    s: 16px,
    xs: 8px,
  ),
  border-radius-square: (
    s: 0px,
    xs: 0px,
  ),
  font-size: (
    s: 14px,
    xs: 14px,
  ),
  letter-spacing: (
    s: 0px,
    xs: 0px,
  ),
  line-height: (
    s: 24px,
    xs: 24px,
  ),
  labels-gap: (
    s: 16px,
    xs: 16px,
  ),
  labels-padding-y: (
    s: 4px,
    xs: 4px,
  ),
  labels-padding-x: (
    s: 6px,
    xs: 4px,
  ),
  focus-outline-width: (
    s: 2px,
    xs: 2px,
  ),
  focus-outline-space: (
    s: 4px,
    xs: 4px,
  ),
  notion-size: (
    s: 12px,
    xs: 12px,
  ),
  notion-offset: (
    s: 4px,
    xs: 4px,
  ),
);
