$theme-dark: (
  color-primary-solid: (
    focus-outline: var(--btn_pm-s_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_pm-s_ntn, rgb(139, 139, 222)),
    notion-active: var(--btn_pm-s_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_pm-s_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_pm-s_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_pm-s_cnt-gn, rgb(255, 255, 255)),
    content-general-hovered: var(--btn_pm-s_cnt-gn-h, rgb(139, 139, 222)),
    content-general-pressed: var(--btn_pm-s_cnt-gn-p, rgb(139, 139, 222)),
    content-general-active: var(--btn_pm-s_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_pm-s_cnt-gn-l, rgb(139, 139, 222)),
    content-general-disabled: var(--btn_pm-s_cnt-gn-db, rgb(128, 128, 128)),
    content-general-success: var(--btn_pm-s_cnt-gn-ss, rgb(122, 222, 172)),
    content-general-error: var(--btn_pm-s_cnt-gn-er, rgb(255, 172, 156)),
    content-additional: var(--btn_pm-s_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_pm-s_cnt-ad-h, rgb(184, 184, 235)),
    content-additional-pressed: var(--btn_pm-s_cnt-ad-p, rgb(184, 184, 235)),
    content-additional-active: var(--btn_pm-s_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_pm-s_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled: var(--btn_pm-s_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_pm-s_cnt-ad-ss, rgb(173, 235, 204)),
    content-additional-error: var(--btn_pm-s_cnt-ad-er, rgb(255, 204, 194)),
    background: var(--btn_pm-s_bgc, rgb(20, 20, 20)),
    background-hovered: var(--btn_pm-s_bgc-h, rgb(20, 20, 20)),
    background-pressed: var(--btn_pm-s_bgc-p, rgb(20, 20, 20)),
    background-active: var(--btn_pm-s_bgc-a, rgb(64, 96, 255)),
    background-loading: var(--btn_pm-s_bgc-l, rgb(20, 20, 20)),
    background-disabled: var(--btn_pm-s_bgc-db, rgb(20, 20, 20)),
    background-success: var(--btn_pm-s_bgc-ss, rgb(20, 20, 20)),
    background-error: var(--btn_pm-s_bgc-er, rgb(20, 20, 20)),
    border: var(--btn_pm-s_bdc, rgb(61, 61, 61)),
    border-hovered: var(--btn_pm-s_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--btn_pm-s_bdc-p, rgba(0, 0, 0, 0)),
    border-active: var(--btn_pm-s_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_pm-s_bdc-l, rgba(0, 0, 0, 0)),
    border-disabled: var(--btn_pm-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_pm-s_bdc-ss, rgba(0, 0, 0, 0)),
    border-error: var(--btn_pm-s_bdc-er, rgba(0, 0, 0, 0)),
    shadow: var(--btn_pm-s_sh, 0px 0px 16px 0px rgba(255, 255, 255, 0.2)),
  ),
  color-primary-solid-alt: (
    focus-outline: var(--btn_pm-s-alt_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_pm-s-alt_ntn, rgb(139, 139, 222)),
    notion-active: var(--btn_pm-s-alt_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_pm-s-alt_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_pm-s-alt_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_pm-s-alt_cnt-gn, rgb(255, 255, 255)),
    content-general-hovered: var(--btn_pm-s-alt_cnt-gn-h, rgb(139, 139, 222)),
    content-general-pressed: var(--btn_pm-s-alt_cnt-gn-p, rgb(139, 139, 222)),
    content-general-active: var(--btn_pm-s-alt_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_pm-s-alt_cnt-gn-l, rgb(139, 139, 222)),
    content-general-disabled: var(--btn_pm-s-alt_cnt-gn-db, rgb(128, 128, 128)),
    content-general-success: var(--btn_pm-s-alt_cnt-gn-ss, rgb(122, 222, 172)),
    content-general-error: var(--btn_pm-s-alt_cnt-gn-er, rgb(255, 172, 156)),
    content-additional: var(--btn_pm-s-alt_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_pm-s-alt_cnt-ad-h, rgb(184, 184, 235)),
    content-additional-pressed: var(--btn_pm-s-alt_cnt-ad-p, rgb(184, 184, 235)),
    content-additional-active: var(--btn_pm-s-alt_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_pm-s-alt_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled:
      var(--btn_pm-s-alt_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success:
      var(--btn_pm-s-alt_cnt-ad-ss, rgb(173, 235, 204)),
    content-additional-error: var(--btn_pm-s-alt_cnt-ad-er, rgb(255, 204, 194)),
    background: var(--btn_pm-s-alt_bgc, rgb(10, 10, 10)),
    background-hovered: var(--btn_pm-s-alt_bgc-h, rgb(10, 10, 10)),
    background-pressed: var(--btn_pm-s-alt_bgc-p, rgb(10, 10, 10)),
    background-active: var(--btn_pm-s-alt_bgc-a, rgb(64, 96, 255)),
    background-loading: var(--btn_pm-s-alt_bgc-l, rgb(10, 10, 10)),
    background-disabled: var(--btn_pm-s-alt_bgc-db, rgb(10, 10, 10)),
    background-success: var(--btn_pm-s-alt_bgc-ss, rgb(10, 10, 10)),
    background-error: var(--btn_pm-s-alt_bgc-er, rgb(10, 10, 10)),
    border: var(--btn_pm-s-alt_bdc, rgb(61, 61, 61)),
    border-hovered: var(--btn_pm-s-alt_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--btn_pm-s-alt_bdc-p, rgba(0, 0, 0, 0)),
    border-active: var(--btn_pm-s-alt_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_pm-s-alt_bdc-l, rgba(0, 0, 0, 0)),
    border-disabled: var(--btn_pm-s-alt_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_pm-s-alt_bdc-ss, rgba(0, 0, 0, 0)),
    border-error: var(--btn_pm-s-alt_bdc-er, rgba(0, 0, 0, 0)),
    shadow: var(--btn_pm-s-alt_sh, 0px 0px 16px 0px rgba(255, 255, 255, 0.2)),
  ),
  color-primary-transparent: (
    focus-outline: var(--btn_pm-tp_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_pm-tp_ntn, rgb(64, 96, 255)),
    notion-active: var(--btn_pm-tp_ntn-ctv, rgb(64, 96, 255)),
    notion-disabled: var(--btn_pm-tp_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_pm-tp_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_pm-tp_cnt-gn, rgb(255, 255, 255)),
    content-general-hovered: var(--btn_pm-tp_cnt-gn-h, rgba(64, 96, 255, 0.8)),
    content-general-pressed: var(--btn_pm-tp_cnt-gn-p, rgba(64, 96, 255, 0.6)),
    content-general-active: var(--btn_pm-tp_cnt-gn-a, rgb(64, 96, 255)),
    content-general-loading: var(--btn_pm-tp_cnt-gn-l, rgba(64, 96, 255, 0.6)),
    content-general-disabled: var(--btn_pm-tp_cnt-gn-db, rgb(128, 128, 128)),
    content-general-success: var(--btn_pm-tp_cnt-gn-ss, rgb(122, 222, 172)),
    content-general-error: var(--btn_pm-tp_cnt-gn-er, rgb(255, 172, 156)),
    content-additional: var(--btn_pm-tp_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_pm-tp_cnt-ad-h, rgb(184, 184, 235)),
    content-additional-pressed: var(--btn_pm-tp_cnt-ad-p, rgb(184, 184, 235)),
    content-additional-active: var(--btn_pm-tp_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_pm-tp_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled: var(--btn_pm-tp_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_pm-tp_cnt-ad-ss, rgb(173, 235, 204)),
    content-additional-error: var(--btn_pm-tp_cnt-ad-er, rgb(255, 204, 194)),
    background: var(--btn_pm-tp_bgc, rgba(0, 0, 0, 0)),
    background-hovered: var(--btn_pm-tp_bgc-h, rgba(0, 0, 0, 0)),
    background-pressed: var(--btn_pm-tp_bgc-p, rgba(0, 0, 0, 0)),
    background-active: var(--btn_pm-tp_bgc-a, rgba(0, 0, 0, 0)),
    background-loading: var(--btn_pm-tp_bgc-l, rgba(0, 0, 0, 0)),
    background-disabled: var(--btn_pm-tp_bgc-db, rgba(0, 0, 0, 0)),
    background-success: var(--btn_pm-tp_bgc-ss, rgba(0, 0, 0, 0)),
    background-error: var(--btn_pm-tp_bgc-er, rgba(0, 0, 0, 0)),
    border: var(--btn_pm-tp_bdc, rgb(61, 61, 61)),
    border-hovered: var(--btn_pm-tp_bdc-h, rgb(61, 61, 61)),
    border-pressed: var(--btn_pm-tp_bdc-p, rgb(61, 61, 61)),
    border-active: var(--btn_pm-tp_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_pm-tp_bdc-l, rgb(61, 61, 61)),
    border-disabled: var(--btn_pm-tp_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_pm-tp_bdc-ss, rgb(61, 61, 61)),
    border-error: var(--btn_pm-tp_bdc-er, rgb(61, 61, 61)),
    shadow: var(--btn_pm-tp_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-solid: (
    focus-outline: var(--btn_sc-s_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_sc-s_ntn, rgb(139, 139, 222)),
    notion-active: var(--btn_sc-s_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_sc-s_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_sc-s_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_sc-s_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--btn_sc-s_cnt-gn-h, rgb(64, 96, 255)),
    content-general-pressed: var(--btn_sc-s_cnt-gn-p, rgb(139, 139, 222)),
    content-general-active: var(--btn_sc-s_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_sc-s_cnt-gn-l, rgb(64, 96, 255)),
    content-general-disabled: var(--btn_sc-s_cnt-gn-db, rgb(128, 128, 128)),
    content-general-success: var(--btn_sc-s_cnt-gn-ss, rgb(0, 192, 96)),
    content-general-error: var(--btn_sc-s_cnt-gn-er, rgb(255, 96, 64)),
    content-additional: var(--btn_sc-s_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_sc-s_cnt-ad-h, rgb(139, 139, 222)),
    content-additional-pressed: var(--btn_sc-s_cnt-ad-p, rgb(139, 139, 222)),
    content-additional-active: var(--btn_sc-s_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_sc-s_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled: var(--btn_sc-s_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_sc-s_cnt-ad-ss, rgb(122, 222, 172)),
    content-additional-error: var(--btn_sc-s_cnt-ad-er, rgb(255, 172, 156)),
    background: var(--btn_sc-s_bgc, rgb(255, 255, 255)),
    background-hovered: var(--btn_sc-s_bgc-h, rgb(255, 255, 255)),
    background-pressed: var(--btn_sc-s_bgc-p, rgb(255, 255, 255)),
    background-active: var(--btn_sc-s_bgc-a, rgb(64, 96, 255)),
    background-loading: var(--btn_sc-s_bgc-l, rgb(255, 255, 255)),
    background-disabled: var(--btn_sc-s_bgc-db, rgb(20, 20, 20)),
    background-success: var(--btn_sc-s_bgc-ss, rgb(255, 255, 255)),
    background-error: var(--btn_sc-s_bgc-er, rgb(255, 255, 255)),
    border: var(--btn_sc-s_bdc, rgb(61, 61, 61)),
    border-hovered: var(--btn_sc-s_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--btn_sc-s_bdc-p, rgba(0, 0, 0, 0)),
    border-active: var(--btn_sc-s_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_sc-s_bdc-l, rgba(0, 0, 0, 0)),
    border-disabled: var(--btn_sc-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_sc-s_bdc-ss, rgba(0, 0, 0, 0)),
    border-error: var(--btn_sc-s_bdc-er, rgba(0, 0, 0, 0)),
    shadow: var(--btn_sc-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
    icon-hovered: var(--btn_sc-s_ic-h, rgb(139, 139, 222)),
  ),
  color-secondary-solid-alt: (
    focus-outline: var(--btn_sc-s-alt_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_sc-s-alt_ntn, rgb(139, 139, 222)),
    notion-active: var(--btn_sc-s-alt_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_sc-s-alt_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_sc-s-alt_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_sc-s-alt_cnt-gn, rgb(10, 10, 10)),
    content-general-hovered: var(--btn_sc-s-alt_cnt-gn-h, rgb(64, 96, 255)),
    content-general-pressed: var(--btn_sc-s-alt_cnt-gn-p, rgb(139, 139, 222)),
    content-general-active: var(--btn_sc-s-alt_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_sc-s-alt_cnt-gn-l, rgb(64, 96, 255)),
    content-general-disabled: var(--btn_sc-s-alt_cnt-gn-db, rgb(128, 128, 128)),
    content-general-success: var(--btn_sc-s-alt_cnt-gn-ss, rgb(0, 192, 96)),
    content-general-error: var(--btn_sc-s-alt_cnt-gn-er, rgb(255, 96, 64)),
    content-additional: var(--btn_sc-s-alt_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_sc-s-alt_cnt-ad-h, rgb(139, 139, 222)),
    content-additional-pressed: var(--btn_sc-s-alt_cnt-ad-p, rgb(139, 139, 222)),
    content-additional-active: var(--btn_sc-s-alt_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_sc-s-alt_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled:
      var(--btn_sc-s-alt_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success:
      var(--btn_sc-s-alt_cnt-ad-ss, rgb(122, 222, 172)),
    content-additional-error: var(--btn_sc-s-alt_cnt-ad-er, rgb(255, 172, 156)),
    background: var(--btn_sc-s-alt_bgc, rgb(255, 255, 255)),
    background-hovered: var(--btn_sc-s-alt_bgc-h, rgb(255, 255, 255)),
    background-pressed: var(--btn_sc-s-alt_bgc-p, rgb(255, 255, 255)),
    background-active: var(--btn_sc-s-alt_bgc-a, rgb(64, 96, 255)),
    background-loading: var(--btn_sc-s-alt_bgc-l, rgb(255, 255, 255)),
    background-disabled: var(--btn_sc-s-alt_bgc-db, rgb(20, 20, 20)),
    background-success: var(--btn_sc-s-alt_bgc-ss, rgb(255, 255, 255)),
    background-error: var(--btn_sc-s-alt_bgc-er, rgb(255, 255, 255)),
    border: var(--btn_sc-s-alt_bdc, rgb(61, 61, 61)),
    border-hovered: var(--btn_sc-s-alt_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--btn_sc-s-alt_bdc-p, rgba(0, 0, 0, 0)),
    border-active: var(--btn_sc-s-alt_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_sc-s-alt_bdc-l, rgba(0, 0, 0, 0)),
    border-disabled: var(--btn_sc-s-alt_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_sc-s-alt_bdc-ss, rgba(0, 0, 0, 0)),
    border-error: var(--btn_sc-s-alt_bdc-er, rgba(0, 0, 0, 0)),
    shadow: var(--btn_sc-s-alt_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
    icon-hovered: var(--btn_sc-s-alt_ic-h, rgb(139, 139, 222)),
  ),
  color-secondary-transparent: (
    focus-outline: var(--btn_sc-tp_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_sc-tp_ntn, rgb(64, 96, 255)),
    notion-active: var(--btn_sc-tp_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_sc-tp_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_sc-tp_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_sc-tp_cnt-gn, rgba(255, 255, 255, 0.4)),
    content-general-hovered: var(--btn_sc-tp_cnt-gn-h, rgba(255, 255, 255, 0.8)),
    content-general-pressed: var(--btn_sc-tp_cnt-gn-p, rgb(64, 96, 255)),
    content-general-active: var(--btn_sc-tp_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_sc-tp_cnt-gn-l, rgba(255, 255, 255, 0.4)),
    content-general-disabled:
      var(--btn_sc-tp_cnt-gn-db, rgba(255, 255, 255, 0.4)),
    content-general-success: var(--btn_sc-tp_cnt-gn-ss, rgb(0, 192, 96)),
    content-general-error: var(--btn_sc-tp_cnt-gn-er, rgb(255, 96, 64)),
    content-additional: var(--btn_sc-tp_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_sc-tp_cnt-ad-h, rgb(184, 184, 235)),
    content-additional-pressed: var(--btn_sc-tp_cnt-ad-p, rgb(184, 184, 235)),
    content-additional-active: var(--btn_sc-tp_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_sc-tp_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled: var(--btn_sc-tp_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_sc-tp_cnt-ad-ss, rgb(173, 235, 204)),
    content-additional-error: var(--btn_sc-tp_cnt-ad-er, rgb(255, 204, 194)),
    background: var(--btn_sc-tp_bgc, rgba(0, 0, 0, 0)),
    background-hovered: var(--btn_sc-tp_bgc-h, rgba(0, 0, 0, 0)),
    background-pressed: var(--btn_sc-tp_bgc-p, rgba(0, 0, 0, 0)),
    background-active: var(--btn_sc-tp_bgc-a, rgba(0, 0, 0, 0)),
    background-loading: var(--btn_sc-tp_bgc-l, rgba(0, 0, 0, 0)),
    background-disabled: var(--btn_sc-tp_bgc-db, rgba(0, 0, 0, 0)),
    background-success: var(--btn_sc-tp_bgc-ss, rgba(0, 0, 0, 0)),
    background-error: var(--btn_sc-tp_bgc-er, rgba(0, 0, 0, 0)),
    border: var(--btn_sc-tp_bdc, rgb(255, 255, 255)),
    border-hovered: var(--btn_sc-tp_bdc-h, rgb(255, 255, 255)),
    border-pressed: var(--btn_sc-tp_bdc-p, rgb(255, 255, 255)),
    border-active: var(--btn_sc-tp_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_sc-tp_bdc-l, rgb(255, 255, 255)),
    border-disabled: var(--btn_sc-tp_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_sc-tp_bdc-ss, rgb(255, 255, 255)),
    border-error: var(--btn_sc-tp_bdc-er, rgb(255, 255, 255)),
    shadow: var(--btn_sc-tp_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
    icon-hovered: var(--btn_sc-tp_ic-h, rgb(139, 139, 222)),
  ),
  color-tertiary-solid: (
    focus-outline: var(--btn_tt-s_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_tt-s_ntn, rgb(139, 139, 222)),
    notion-active: var(--btn_tt-s_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_tt-s_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_tt-s_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_tt-s_cnt-gn, rgb(64, 96, 255)),
    content-general-hovered: var(--btn_tt-s_cnt-gn-h, rgba(64, 96, 255, 0.6)),
    content-general-pressed: var(--btn_tt-s_cnt-gn-p, rgba(64, 96, 255, 0.8)),
    content-general-active: var(--btn_tt-s_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_tt-s_cnt-gn-l, rgba(64, 96, 255, 0.6)),
    content-general-disabled: var(--btn_tt-s_cnt-gn-db, rgba(64, 96, 255, 0.6)),
    content-general-success: var(--btn_tt-s_cnt-gn-ss, rgb(0, 192, 96)),
    content-general-error: var(--btn_tt-s_cnt-gn-er, rgb(255, 96, 64)),
    content-additional: var(--btn_tt-s_cnt-ad, rgb(255, 255, 255)),
    content-additional-hovered: var(--btn_tt-s_cnt-ad-h, rgb(139, 139, 222)),
    content-additional-pressed: var(--btn_tt-s_cnt-ad-p, rgb(86, 86, 207)),
    content-additional-active: var(--btn_tt-s_cnt-ad-a, rgb(255, 255, 255)),
    content-additional-loading: var(--btn_tt-s_cnt-ad-l, rgb(139, 139, 222)),
    content-additional-disabled: var(--btn_tt-s_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_tt-s_cnt-ad-ss, rgb(122, 222, 172)),
    content-additional-error: var(--btn_tt-s_cnt-ad-er, rgb(255, 172, 156)),
    background: var(--btn_tt-s_bgc, rgba(64, 96, 255, 0.2)),
    background-hovered: var(--btn_tt-s_bgc-h, rgba(64, 96, 255, 0.2)),
    background-pressed: var(--btn_tt-s_bgc-p, rgba(64, 96, 255, 0.2)),
    background-active: var(--btn_tt-s_bgc-a, rgba(64, 96, 255, 0.2)),
    background-loading: var(--btn_tt-s_bgc-l, rgba(64, 96, 255, 0.2)),
    background-disabled: var(--btn_tt-s_bgc-db, rgba(64, 96, 255, 0.2)),
    background-success: var(--btn_tt-s_bgc-ss, rgba(64, 96, 255, 0.2)),
    background-error: var(--btn_tt-s_bgc-er, rgba(64, 96, 255, 0.2)),
    border: var(--btn_tt-s_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--btn_tt-s_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--btn_tt-s_bdc-p, rgba(0, 0, 0, 0)),
    border-active: var(--btn_tt-s_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_tt-s_bdc-l, rgba(0, 0, 0, 0)),
    border-disabled: var(--btn_tt-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_tt-s_bdc-ss, rgba(0, 0, 0, 0)),
    border-error: var(--btn_tt-s_bdc-er, rgba(0, 0, 0, 0)),
    shadow: var(--btn_tt-s_sh, 0px 0px 16px 0px rgba(255, 255, 255, 0.2)),
  ),
  color-tertiary-transparent: (
    focus-outline: var(--btn_tt-tp_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_tt-tp_ntn, rgb(64, 96, 255)),
    notion-active: var(--btn_tt-tp_ntn-ctv, rgb(64, 96, 255)),
    notion-disabled: var(--btn_tt-tp_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_tt-tp_ldng, rgb(139, 139, 222)),
    content-general: var(--btn_tt-tp_cnt-gn, rgba(64, 96, 255, 0.4)),
    content-general-hovered: var(--btn_tt-tp_cnt-gn-h, rgb(64, 96, 255)),
    content-general-pressed: var(--btn_tt-tp_cnt-gn-p, rgba(64, 96, 255, 0.6)),
    content-general-active: var(--btn_tt-tp_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_tt-tp_cnt-gn-l, rgba(64, 96, 255, 0.4)),
    content-general-disabled: var(--btn_tt-tp_cnt-gn-db, rgba(64, 96, 255, 0.4)),
    content-general-success: var(--btn_tt-tp_cnt-gn-ss, rgb(0, 192, 96)),
    content-general-error: var(--btn_tt-tp_cnt-gn-er, rgb(255, 96, 64)),
    content-additional: var(--btn_tt-tp_cnt-ad, rgb(128, 128, 128)),
    content-additional-hovered: var(--btn_tt-tp_cnt-ad-h, rgb(184, 184, 235)),
    content-additional-pressed: var(--btn_tt-tp_cnt-ad-p, rgb(184, 184, 235)),
    content-additional-active: var(--btn_tt-tp_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_tt-tp_cnt-ad-l, rgb(184, 184, 235)),
    content-additional-disabled: var(--btn_tt-tp_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_tt-tp_cnt-ad-ss, rgb(173, 235, 204)),
    content-additional-error: var(--btn_tt-tp_cnt-ad-er, rgb(255, 204, 194)),
    background: var(--btn_tt-tp_bgc, rgba(0, 0, 0, 0)),
    background-hovered: var(--btn_tt-tp_bgc-h, rgba(0, 0, 0, 0)),
    background-pressed: var(--btn_tt-tp_bgc-p, rgba(0, 0, 0, 0)),
    background-active: var(--btn_tt-tp_bgc-a, rgba(0, 0, 0, 0)),
    background-loading: var(--btn_tt-tp_bgc-l, rgba(0, 0, 0, 0)),
    background-disabled: var(--btn_tt-tp_bgc-db, rgba(0, 0, 0, 0)),
    background-success: var(--btn_tt-tp_bgc-ss, rgba(0, 0, 0, 0)),
    background-error: var(--btn_tt-tp_bgc-er, rgba(0, 0, 0, 0)),
    border: var(--btn_tt-tp_bdc, rgba(64, 96, 255, 0.4)),
    border-hovered: var(--btn_tt-tp_bdc-h, rgba(64, 96, 255, 0.4)),
    border-pressed: var(--btn_tt-tp_bdc-p, rgba(64, 96, 255, 0.4)),
    border-active: var(--btn_tt-tp_bdc-a, rgba(64, 96, 255, 0.4)),
    border-loading: var(--btn_tt-tp_bdc-l, rgba(64, 96, 255, 0.4)),
    border-disabled: var(--btn_tt-tp_bdc-db, rgba(64, 96, 255, 0.4)),
    border-success: var(--btn_tt-tp_bdc-ss, rgba(64, 96, 255, 0.4)),
    border-error: var(--btn_tt-tp_bdc-er, rgba(64, 96, 255, 0.4)),
    shadow: var(--btn_tt-tp_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-quaternary-solid: (
    focus-outline: var(--btn_qt-s_f-outline, rgb(139, 139, 222)),
    notion: var(--btn_qt-s_ntn, rgb(255, 255, 255)),
    notion-active: var(--btn_qt-s_ntn-ctv, rgb(255, 255, 255)),
    notion-disabled: var(--btn_qt-s_ntn-dsbld, rgb(139, 139, 222)),
    loading: var(--btn_qt-s_ldng, rgb(184, 184, 235)),
    content-general: var(--btn_qt-s_cnt-gn, rgb(255, 255, 255)),
    content-general-hovered: var(--btn_qt-s_cnt-gn-h, rgb(139, 139, 222)),
    content-general-pressed: var(--btn_qt-s_cnt-gn-p, rgb(139, 139, 222)),
    content-general-active: var(--btn_qt-s_cnt-gn-a, rgb(255, 255, 255)),
    content-general-loading: var(--btn_qt-s_cnt-gn-l, rgb(255, 255, 255)),
    content-general-disabled: var(--btn_qt-s_cnt-gn-db, rgb(128, 128, 128)),
    content-general-success: var(--btn_qt-s_cnt-gn-ss, rgb(122, 222, 172)),
    content-general-error: var(--btn_qt-s_cnt-gn-er, rgb(255, 172, 156)),
    content-additional: var(--btn_qt-s_cnt-ad, rgb(139, 139, 222)),
    content-additional-hovered: var(--btn_qt-s_cnt-ad-h, rgb(139, 139, 222)),
    content-additional-pressed: var(--btn_qt-s_cnt-ad-p, rgb(139, 139, 222)),
    content-additional-active: var(--btn_qt-s_cnt-ad-a, rgb(139, 139, 222)),
    content-additional-loading: var(--btn_qt-s_cnt-ad-l, rgb(139, 139, 222)),
    content-additional-disabled: var(--btn_qt-s_cnt-ad-db, rgb(128, 128, 128)),
    content-additional-success: var(--btn_qt-s_cnt-ad-ss, rgb(122, 222, 172)),
    content-additional-error: var(--btn_qt-s_cnt-ad-er, rgb(255, 172, 156)),
    background: var(--btn_qt-s_bgc, rgb(64, 96, 255)),
    background-hovered: var(--btn_qt-s_bgc-h, rgb(64, 96, 255)),
    background-pressed: var(--btn_qt-s_bgc-p, rgb(64, 96, 255)),
    background-active: var(--btn_qt-s_bgc-a, rgb(64, 96, 255)),
    background-loading: var(--btn_qt-s_bgc-l, rgb(64, 96, 255)),
    background-disabled: var(--btn_qt-s_bgc-db, rgb(20, 20, 20)),
    background-success: var(--btn_qt-s_bgc-ss, rgb(64, 96, 255)),
    background-error: var(--btn_qt-s_bgc-er, rgb(64, 96, 255)),
    border: var(--btn_qt-s_bdc, rgb(61, 61, 61)),
    border-hovered: var(--btn_qt-s_bdc-h, rgba(0, 0, 0, 0)),
    border-pressed: var(--btn_qt-s_bdc-p, rgba(0, 0, 0, 0)),
    border-active: var(--btn_qt-s_bdc-a, rgba(0, 0, 0, 0)),
    border-loading: var(--btn_qt-s_bdc-l, rgba(0, 0, 0, 0)),
    border-disabled: var(--btn_qt-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--btn_qt-s_bdc-ss, rgba(0, 0, 0, 0)),
    border-error: var(--btn_qt-s_bdc-er, rgba(0, 0, 0, 0)),
    shadow: var(--btn_qt-s_sh, 0px 0px 16px 0px rgba(237, 237, 250, 0.2)),
  ),
);
