$variables: (
  theme-light: (
    --btn_trckr-sld-prmr_f-outline: rgb(64, 96, 255),
    --btn_trckr-sld-prmr_ntn: rgb(64, 96, 255),
    --btn_trckr-sld-prmr_ntn-ctv: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_ntn-dsbld: rgb(139, 139, 222),
    --btn_trckr-sld-prmr_ldng: rgb(64, 96, 255),
    --btn_trckr-sld-prmr_cnt-gn: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_cnt-gn-h: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_cnt-gn-p: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_cnt-gn-a: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_cnt-gn-l: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_cnt-gn-db: rgba(0, 0, 0, 0.25),
    --btn_trckr-sld-prmr_cnt-gn-ss: rgb(0, 192, 96),
    --btn_trckr-sld-prmr_cnt-gn-er: rgb(255, 96, 64),
    --btn_trckr-sld-prmr_cnt-ad: rgb(10, 10, 10),
    --btn_trckr-sld-prmr_cnt-ad-h: rgb(139, 139, 222),
    --btn_trckr-sld-prmr_cnt-ad-p: rgb(86, 86, 207),
    --btn_trckr-sld-prmr_cnt-ad-a: rgb(255, 255, 255),
    --btn_trckr-sld-prmr_cnt-ad-l: rgb(139, 139, 222),
    --btn_trckr-sld-prmr_cnt-ad-db: rgb(128, 128, 128),
    --btn_trckr-sld-prmr_cnt-ad-ss: rgb(122, 222, 172),
    --btn_trckr-sld-prmr_cnt-ad-er: rgb(255, 172, 156),
    --btn_trckr-sld-prmr_bgc: rgb(22, 119, 255),
    --btn_trckr-sld-prmr_bgc-h: rgb(64, 150, 255),
    --btn_trckr-sld-prmr_bgc-p: rgb(9, 88, 217),
    --btn_trckr-sld-prmr_bgc-a: rgb(9, 88, 217),
    --btn_trckr-sld-prmr_bgc-l: rgb(9, 88, 217),
    --btn_trckr-sld-prmr_bgc-db: rgba(0, 0, 0, 0.04),
    --btn_trckr-sld-prmr_bgc-ss: rgb(235, 235, 235),
    --btn_trckr-sld-prmr_bgc-er: rgb(235, 235, 235),
    --btn_trckr-sld-prmr_bdc: rgb(194, 194, 194),
    --btn_trckr-sld-prmr_bdc-h: rgba(0, 0, 0, 0),
    --btn_trckr-sld-prmr_bdc-p: rgba(0, 0, 0, 0),
    --btn_trckr-sld-prmr_bdc-a: rgba(0, 0, 0, 0),
    --btn_trckr-sld-prmr_bdc-l: rgba(0, 0, 0, 0),
    --btn_trckr-sld-prmr_bdc-db: rgb(217, 217, 217),
    --btn_trckr-sld-prmr_bdc-ss: rgba(0, 0, 0, 0),
    --btn_trckr-sld-prmr_bdc-er: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_f-outline: #1677ff,
    --btn_trckr-trnsprnt-prmr_ntn: #1677ff,
    --btn_trckr-trnsprnt-prmr_ntn-ctv: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-prmr_ntn-dsbld: rgb(139, 139, 222),
    --btn_trckr-trnsprnt-prmr_ldng: #1677ff,
    --btn_trckr-trnsprnt-prmr_cnt-gn: rgba(0, 0, 0, 0.88),
    --btn_trckr-trnsprnt-prmr_cnt-gn-h: rgb(64, 150, 255),
    --btn_trckr-trnsprnt-prmr_cnt-gn-p: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-prmr_cnt-gn-a: #ffffff,
    --btn_trckr-trnsprnt-prmr_cnt-gn-l: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-prmr_cnt-gn-db: rgba(0, 0, 0, 0.25),
    --btn_trckr-trnsprnt-prmr_cnt-gn-ss: rgb(0, 192, 96),
    --btn_trckr-trnsprnt-prmr_cnt-gn-er: rgb(255, 96, 64),
    --btn_trckr-trnsprnt-prmr_cnt-ad: rgb(10, 10, 10),
    --btn_trckr-trnsprnt-prmr_cnt-ad-h: rgb(139, 139, 222),
    --btn_trckr-trnsprnt-prmr_cnt-ad-p: rgb(86, 86, 207),
    --btn_trckr-trnsprnt-prmr_cnt-ad-a: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-prmr_cnt-ad-l: rgb(139, 139, 222),
    --btn_trckr-trnsprnt-prmr_cnt-ad-db: rgb(128, 128, 128),
    --btn_trckr-trnsprnt-prmr_cnt-ad-ss: rgb(122, 222, 172),
    --btn_trckr-trnsprnt-prmr_cnt-ad-er: rgb(255, 172, 156),
    --btn_trckr-trnsprnt-prmr_bgc: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bgc-h: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bgc-p: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bgc-a: #1677ff,
    --btn_trckr-trnsprnt-prmr_bgc-l: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bgc-db: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bgc-ss: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bgc-er: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bdc: rgb(217, 217, 217),
    --btn_trckr-trnsprnt-prmr_bdc-h: rgb(64, 150, 255),
    --btn_trckr-trnsprnt-prmr_bdc-p: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-prmr_bdc-a: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-prmr_bdc-l: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-prmr_bdc-db: rgb(217, 217, 217),
    --btn_trckr-trnsprnt-prmr_bdc-ss: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-prmr_bdc-er: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-scndr_f-outline: rgb(64, 96, 255),
    --btn_trckr-trnsprnt-scndr_ntn: rgb(64, 96, 255),
    --btn_trckr-trnsprnt-scndr_ntn-ctv: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_ntn-dsbld: rgb(139, 139, 222),
    --btn_trckr-trnsprnt-scndr_ldng: rgb(64, 96, 255),
    --btn_trckr-trnsprnt-scndr_cnt-gn: rgba(0, 0, 0, 0.88),
    --btn_trckr-trnsprnt-scndr_cnt-gn-h: rgb(64, 150, 255),
    --btn_trckr-trnsprnt-scndr_cnt-gn-p: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-scndr_cnt-gn-a: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-scndr_cnt-gn-l: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-scndr_cnt-gn-db: rgba(0, 0, 0, 0.25),
    --btn_trckr-trnsprnt-scndr_cnt-gn-ss: rgb(0, 192, 96),
    --btn_trckr-trnsprnt-scndr_cnt-gn-er: rgb(255, 96, 64),
    --btn_trckr-trnsprnt-scndr_cnt-ad: rgb(10, 10, 10),
    --btn_trckr-trnsprnt-scndr_cnt-ad-h: rgb(139, 139, 222),
    --btn_trckr-trnsprnt-scndr_cnt-ad-p: rgb(86, 86, 207),
    --btn_trckr-trnsprnt-scndr_cnt-ad-a: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_cnt-ad-l: rgb(139, 139, 222),
    --btn_trckr-trnsprnt-scndr_cnt-ad-db: rgb(128, 128, 128),
    --btn_trckr-trnsprnt-scndr_cnt-ad-ss: rgb(122, 222, 172),
    --btn_trckr-trnsprnt-scndr_cnt-ad-er: rgb(255, 172, 156),
    --btn_trckr-trnsprnt-scndr_bgc: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bgc-h: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bgc-p: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bgc-a: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bgc-l: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bgc-db: rgba(0, 0, 0, 0.04),
    --btn_trckr-trnsprnt-scndr_bgc-ss: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bgc-er: rgb(255, 255, 255),
    --btn_trckr-trnsprnt-scndr_bdc: rgb(0, 116, 217),
    --btn_trckr-trnsprnt-scndr_bdc-h: rgb(64, 150, 255),
    --btn_trckr-trnsprnt-scndr_bdc-p: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-scndr_bdc-a: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-scndr_bdc-l: rgb(9, 88, 217),
    --btn_trckr-trnsprnt-scndr_bdc-db: rgb(217, 217, 217),
    --btn_trckr-trnsprnt-scndr_bdc-ss: rgba(0, 0, 0, 0),
    --btn_trckr-trnsprnt-scndr_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s_f-outline: rgb(64, 96, 255),
    --btn_pm-s_ntn: rgb(64, 96, 255),
    --btn_pm-s_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_pm-s_ldng: rgb(64, 96, 255),
    --btn_pm-s_cnt-gn: rgb(10, 10, 10),
    --btn_pm-s_cnt-gn-h: rgb(64, 96, 255),
    --btn_pm-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-s_cnt-gn-l: rgb(64, 96, 255),
    --btn_pm-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-s_cnt-gn-ss: rgb(0, 192, 96),
    --btn_pm-s_cnt-gn-er: rgb(255, 96, 64),
    --btn_pm-s_cnt-ad: rgb(10, 10, 10),
    --btn_pm-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-p: rgb(86, 86, 207),
    --btn_pm-s_cnt-ad-a: rgb(255, 255, 255),
    --btn_pm-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_pm-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_pm-s_bgc: rgb(235, 235, 235),
    --btn_pm-s_bgc-h: rgb(235, 235, 235),
    --btn_pm-s_bgc-p: rgb(235, 235, 235),
    --btn_pm-s_bgc-a: rgb(64, 96, 255),
    --btn_pm-s_bgc-l: rgb(235, 235, 235),
    --btn_pm-s_bgc-db: rgb(235, 235, 235),
    --btn_pm-s_bgc-ss: rgb(235, 235, 235),
    --btn_pm-s_bgc-er: rgb(235, 235, 235),
    --btn_pm-s_bdc: rgb(194, 194, 194),
    --btn_pm-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s_sh: 0px 0px 16px 0px rgba(10, 10, 10, 0.2),
    --btn_pm-s-alt_f-outline: rgb(64, 96, 255),
    --btn_pm-s-alt_ntn: rgb(64, 96, 255),
    --btn_pm-s-alt_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-s-alt_ntn-dsbld: rgb(139, 139, 222),
    --btn_pm-s-alt_ldng: rgb(64, 96, 255),
    --btn_pm-s-alt_cnt-gn: rgb(10, 10, 10),
    --btn_pm-s-alt_cnt-gn-h: rgb(64, 96, 255),
    --btn_pm-s-alt_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-s-alt_cnt-gn-l: rgb(64, 96, 255),
    --btn_pm-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-gn-ss: rgb(0, 192, 96),
    --btn_pm-s-alt_cnt-gn-er: rgb(255, 96, 64),
    --btn_pm-s-alt_cnt-ad: rgb(10, 10, 10),
    --btn_pm-s-alt_cnt-ad-h: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-p: rgb(86, 86, 207),
    --btn_pm-s-alt_cnt-ad-a: rgb(255, 255, 255),
    --btn_pm-s-alt_cnt-ad-l: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-ad-ss: rgb(122, 222, 172),
    --btn_pm-s-alt_cnt-ad-er: rgb(255, 172, 156),
    --btn_pm-s-alt_bgc: rgb(255, 255, 255),
    --btn_pm-s-alt_bgc-h: rgb(255, 255, 255),
    --btn_pm-s-alt_bgc-p: rgb(255, 255, 255),
    --btn_pm-s-alt_bgc-a: rgb(64, 96, 255),
    --btn_pm-s-alt_bgc-l: rgb(255, 255, 255),
    --btn_pm-s-alt_bgc-db: rgb(255, 255, 255),
    --btn_pm-s-alt_bgc-ss: rgb(255, 255, 255),
    --btn_pm-s-alt_bgc-er: rgb(255, 255, 255),
    --btn_pm-s-alt_bdc: rgb(194, 194, 194),
    --btn_pm-s-alt_bdc-h: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-p: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-l: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-ss: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_sh: 0px 0px 16px 0px rgba(10, 10, 10, 0.2),
    --btn_pm-tp_f-outline: rgb(64, 96, 255),
    --btn_pm-tp_ntn: rgb(64, 96, 255),
    --btn_pm-tp_ntn-ctv: rgb(64, 96, 255),
    --btn_pm-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_pm-tp_ldng: rgb(139, 139, 222),
    --btn_pm-tp_cnt-gn: rgb(10, 10, 10),
    --btn_pm-tp_cnt-gn-h: rgb(64, 96, 255),
    --btn_pm-tp_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-tp_cnt-gn-l: rgb(64, 96, 255),
    --btn_pm-tp_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_pm-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_pm-tp_cnt-ad: rgb(10, 10, 10),
    --btn_pm-tp_cnt-ad-h: rgb(139, 139, 222),
    --btn_pm-tp_cnt-ad-p: rgb(86, 86, 207),
    --btn_pm-tp_cnt-ad-a: rgb(255, 255, 255),
    --btn_pm-tp_cnt-ad-l: rgb(139, 139, 222),
    --btn_pm-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-tp_cnt-ad-ss: rgb(122, 222, 172),
    --btn_pm-tp_cnt-ad-er: rgb(255, 172, 156),
    --btn_pm-tp_bgc: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-a: #6060ff,
    --btn_pm-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-db: rgb(235, 235, 235),
    --btn_pm-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc: rgb(235, 235, 235),
    --btn_pm-tp_bdc-h: rgb(235, 235, 235),
    --btn_pm-tp_bdc-p: rgb(235, 235, 235),
    --btn_pm-tp_bdc-a: rgb(235, 235, 235),
    --btn_pm-tp_bdc-l: rgb(235, 235, 235),
    --btn_pm-tp_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc-ss: rgb(235, 235, 235),
    --btn_pm-tp_bdc-er: rgb(235, 235, 235),
    --btn_pm-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s_f-outline: rgb(64, 96, 255),
    --btn_sc-s_ntn: rgb(139, 139, 222),
    --btn_sc-s_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-s_ldng: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn: rgb(255, 255, 255),
    --btn_sc-s_cnt-gn-h: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-s_cnt-gn-l: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-s_cnt-gn-ss: rgb(122, 222, 172),
    --btn_sc-s_cnt-gn-er: rgb(255, 172, 156),
    --btn_sc-s_cnt-ad: rgb(128, 128, 128),
    --btn_sc-s_cnt-ad-h: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-p: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-s_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-s_cnt-ad-ss: rgb(173, 235, 204),
    --btn_sc-s_cnt-ad-er: rgb(255, 204, 194),
    --btn_sc-s_bgc: rgb(10, 10, 10),
    --btn_sc-s_bgc-h: rgb(10, 10, 10),
    --btn_sc-s_bgc-p: rgb(10, 10, 10),
    --btn_sc-s_bgc-a: rgb(64, 96, 255),
    --btn_sc-s_bgc-l: rgb(10, 10, 10),
    --btn_sc-s_bgc-db: rgb(235, 235, 235),
    --btn_sc-s_bgc-ss: rgb(10, 10, 10),
    --btn_sc-s_bgc-er: rgb(10, 10, 10),
    --btn_sc-s_bdc: rgb(194, 194, 194),
    --btn_sc-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s-alt_f-outline: rgb(64, 96, 255),
    --btn_sc-s-alt_ntn: rgb(139, 139, 222),
    --btn_sc-s-alt_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-s-alt_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-s-alt_ldng: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn: rgb(255, 255, 255),
    --btn_sc-s-alt_cnt-gn-h: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-s-alt_cnt-gn-l: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-gn-ss: rgb(122, 222, 172),
    --btn_sc-s-alt_cnt-gn-er: rgb(255, 172, 156),
    --btn_sc-s-alt_cnt-ad: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-ad-h: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-p: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-ad-ss: rgb(173, 235, 204),
    --btn_sc-s-alt_cnt-ad-er: rgb(255, 204, 194),
    --btn_sc-s-alt_bgc: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-h: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-p: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-a: rgb(64, 96, 255),
    --btn_sc-s-alt_bgc-l: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-db: rgb(235, 235, 235),
    --btn_sc-s-alt_bgc-ss: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-er: rgb(10, 10, 10),
    --btn_sc-s-alt_bdc: rgb(194, 194, 194),
    --btn_sc-s-alt_bdc-h: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-p: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-l: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-ss: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-er: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-tp_f-outline: rgb(64, 96, 255),
    --btn_sc-tp_ntn: rgb(64, 96, 255),
    --btn_sc-tp_ntn-ctv: rgb(64, 96, 255),
    --btn_sc-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-tp_ldng: rgb(139, 139, 222),
    --btn_sc-tp_cnt-gn: rgb(10, 10, 10),
    --btn_sc-tp_cnt-gn-h: rgb(64, 96, 255),
    --btn_sc-tp_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-tp_cnt-gn-l: rgb(64, 96, 255),
    --btn_sc-tp_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_sc-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_sc-tp_cnt-ad: rgb(10, 10, 10),
    --btn_sc-tp_cnt-ad-h: rgb(139, 139, 222),
    --btn_sc-tp_cnt-ad-p: rgb(86, 86, 207),
    --btn_sc-tp_cnt-ad-a: rgb(255, 255, 255),
    --btn_sc-tp_cnt-ad-l: rgb(139, 139, 222),
    --btn_sc-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-tp_cnt-ad-ss: rgb(122, 222, 172),
    --btn_sc-tp_cnt-ad-er: rgb(255, 172, 156),
    --btn_sc-tp_bgc: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-a: #6060ff,
    --btn_sc-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-db: rgb(235, 235, 235),
    --btn_sc-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc: rgb(10, 10, 10),
    --btn_sc-tp_bdc-h: rgb(10, 10, 10),
    --btn_sc-tp_bdc-p: rgb(10, 10, 10),
    --btn_sc-tp_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc-l: rgb(10, 10, 10),
    --btn_sc-tp_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc-ss: rgb(10, 10, 10),
    --btn_sc-tp_bdc-er: rgb(10, 10, 10),
    --btn_sc-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-tp_ic-h: rgb(139, 139, 222),
    --btn_tt-s_f-outline: rgb(64, 96, 255),
    --btn_tt-s_ntn: rgb(64, 96, 255),
    --btn_tt-s_ntn-ctv: rgb(255, 255, 255),
    --btn_tt-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_tt-s_ldng: rgb(64, 96, 255),
    --btn_tt-s_cnt-gn: rgb(64, 96, 255),
    --btn_tt-s_cnt-gn-h: rgb(50, 50, 197),
    --btn_tt-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_tt-s_cnt-gn-l: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn-db: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn-ss: rgb(0, 192, 96),
    --btn_tt-s_cnt-gn-er: rgb(255, 96, 64),
    --btn_tt-s_cnt-ad: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-a: rgb(255, 255, 255),
    --btn_tt-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-db: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_tt-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_tt-s_bgc: rgb(237, 237, 250),
    --btn_tt-s_bgc-h: rgb(237, 237, 250),
    --btn_tt-s_bgc-p: rgb(237, 237, 250),
    --btn_tt-s_bgc-a: rgb(64, 96, 255),
    --btn_tt-s_bgc-l: rgb(237, 237, 250),
    --btn_tt-s_bgc-db: rgb(237, 237, 250),
    --btn_tt-s_bgc-ss: rgb(237, 237, 250),
    --btn_tt-s_bgc-er: rgb(237, 237, 250),
    --btn_tt-s_bdc: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_tt-s_sh: 0px 0px 16px 0px rgba(64, 96, 255, 0.2),
    --btn_tt-tp_f-outline: rgb(64, 96, 255),
    --btn_tt-tp_ntn: rgb(64, 96, 255),
    --btn_tt-tp_ntn-ctv: rgb(64, 96, 255),
    --btn_tt-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_tt-tp_ldng: rgb(139, 139, 222),
    --btn_tt-tp_cnt-gn: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-h: rgb(64, 96, 255),
    --btn_tt-tp_cnt-gn-p: rgba(64, 96, 255, 0.6),
    --btn_tt-tp_cnt-gn-a: rgb(10, 10, 10),
    --btn_tt-tp_cnt-gn-l: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-db: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_tt-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_tt-tp_cnt-ad: rgb(10, 10, 10),
    --btn_tt-tp_cnt-ad-h: rgb(139, 139, 222),
    --btn_tt-tp_cnt-ad-p: rgb(86, 86, 207),
    --btn_tt-tp_cnt-ad-a: rgb(255, 255, 255),
    --btn_tt-tp_cnt-ad-l: rgb(139, 139, 222),
    --btn_tt-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_tt-tp_cnt-ad-ss: rgb(122, 222, 172),
    --btn_tt-tp_cnt-ad-er: rgb(255, 172, 156),
    --btn_tt-tp_bgc: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-a: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-db: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_tt-tp_bdc: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-h: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-p: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-a: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-l: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-db: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-ss: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-er: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_qt-s_f-outline: rgb(64, 96, 255),
    --btn_qt-s_ntn: rgb(255, 255, 255),
    --btn_qt-s_ntn-ctv: rgb(255, 255, 255),
    --btn_qt-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_qt-s_ldng: rgb(184, 184, 235),
    --btn_qt-s_cnt-gn: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-h: rgb(139, 139, 222),
    --btn_qt-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_qt-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-l: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_qt-s_cnt-gn-ss: rgb(122, 222, 172),
    --btn_qt-s_cnt-gn-er: rgb(255, 172, 156),
    --btn_qt-s_cnt-ad: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_qt-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_qt-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_qt-s_bgc: rgb(64, 96, 255),
    --btn_qt-s_bgc-h: rgb(64, 96, 255),
    --btn_qt-s_bgc-p: rgb(64, 96, 255),
    --btn_qt-s_bgc-a: rgb(64, 96, 255),
    --btn_qt-s_bgc-l: rgb(64, 96, 255),
    --btn_qt-s_bgc-db: rgb(235, 235, 235),
    --btn_qt-s_bgc-ss: rgb(64, 96, 255),
    --btn_qt-s_bgc-er: rgb(64, 96, 255),
    --btn_qt-s_bdc: rgb(194, 194, 194),
    --btn_qt-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_qt-s_sh: 0px 0px 16px 0px rgba(64, 96, 255, 0.2),
  ),
  theme-dark: (
    --btn_pm-s_f-outline: rgb(139, 139, 222),
    --btn_pm-s_ntn: rgb(139, 139, 222),
    --btn_pm-s_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_pm-s_ldng: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn: rgb(255, 255, 255),
    --btn_pm-s_cnt-gn-h: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-s_cnt-gn-l: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-s_cnt-gn-ss: rgb(122, 222, 172),
    --btn_pm-s_cnt-gn-er: rgb(255, 172, 156),
    --btn_pm-s_cnt-ad: rgb(128, 128, 128),
    --btn_pm-s_cnt-ad-h: rgb(184, 184, 235),
    --btn_pm-s_cnt-ad-p: rgb(184, 184, 235),
    --btn_pm-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-l: rgb(184, 184, 235),
    --btn_pm-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-s_cnt-ad-ss: rgb(173, 235, 204),
    --btn_pm-s_cnt-ad-er: rgb(255, 204, 194),
    --btn_pm-s_bgc: rgb(20, 20, 20),
    --btn_pm-s_bgc-h: rgb(20, 20, 20),
    --btn_pm-s_bgc-p: rgb(20, 20, 20),
    --btn_pm-s_bgc-a: rgb(64, 96, 255),
    --btn_pm-s_bgc-l: rgb(20, 20, 20),
    --btn_pm-s_bgc-db: rgb(20, 20, 20),
    --btn_pm-s_bgc-ss: rgb(20, 20, 20),
    --btn_pm-s_bgc-er: rgb(20, 20, 20),
    --btn_pm-s_bdc: rgb(61, 61, 61),
    --btn_pm-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s_sh: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
    --btn_pm-s-alt_f-outline: rgb(139, 139, 222),
    --btn_pm-s-alt_ntn: rgb(139, 139, 222),
    --btn_pm-s-alt_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-s-alt_ntn-dsbld: rgb(139, 139, 222),
    --btn_pm-s-alt_ldng: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn: rgb(255, 255, 255),
    --btn_pm-s-alt_cnt-gn-h: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-s-alt_cnt-gn-l: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-gn-ss: rgb(122, 222, 172),
    --btn_pm-s-alt_cnt-gn-er: rgb(255, 172, 156),
    --btn_pm-s-alt_cnt-ad: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-ad-h: rgb(184, 184, 235),
    --btn_pm-s-alt_cnt-ad-p: rgb(184, 184, 235),
    --btn_pm-s-alt_cnt-ad-a: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-l: rgb(184, 184, 235),
    --btn_pm-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-ad-ss: rgb(173, 235, 204),
    --btn_pm-s-alt_cnt-ad-er: rgb(255, 204, 194),
    --btn_pm-s-alt_bgc: rgb(10, 10, 10),
    --btn_pm-s-alt_bgc-h: rgb(10, 10, 10),
    --btn_pm-s-alt_bgc-p: rgb(10, 10, 10),
    --btn_pm-s-alt_bgc-a: rgb(64, 96, 255),
    --btn_pm-s-alt_bgc-l: rgb(10, 10, 10),
    --btn_pm-s-alt_bgc-db: rgb(10, 10, 10),
    --btn_pm-s-alt_bgc-ss: rgb(10, 10, 10),
    --btn_pm-s-alt_bgc-er: rgb(10, 10, 10),
    --btn_pm-s-alt_bdc: rgb(61, 61, 61),
    --btn_pm-s-alt_bdc-h: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-p: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-l: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-ss: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_sh: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
    --btn_pm-tp_f-outline: rgb(139, 139, 222),
    --btn_pm-tp_ntn: rgb(64, 96, 255),
    --btn_pm-tp_ntn-ctv: rgb(64, 96, 255),
    --btn_pm-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_pm-tp_ldng: rgb(139, 139, 222),
    --btn_pm-tp_cnt-gn: rgb(255, 255, 255),
    --btn_pm-tp_cnt-gn-h: rgba(64, 96, 255, 0.8),
    --btn_pm-tp_cnt-gn-p: rgba(64, 96, 255, 0.6),
    --btn_pm-tp_cnt-gn-a: rgb(64, 96, 255),
    --btn_pm-tp_cnt-gn-l: rgba(64, 96, 255, 0.6),
    --btn_pm-tp_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-tp_cnt-gn-ss: rgb(122, 222, 172),
    --btn_pm-tp_cnt-gn-er: rgb(255, 172, 156),
    --btn_pm-tp_cnt-ad: rgb(128, 128, 128),
    --btn_pm-tp_cnt-ad-h: rgb(184, 184, 235),
    --btn_pm-tp_cnt-ad-p: rgb(184, 184, 235),
    --btn_pm-tp_cnt-ad-a: rgb(139, 139, 222),
    --btn_pm-tp_cnt-ad-l: rgb(184, 184, 235),
    --btn_pm-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-tp_cnt-ad-ss: rgb(173, 235, 204),
    --btn_pm-tp_cnt-ad-er: rgb(255, 204, 194),
    --btn_pm-tp_bgc: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-a: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-db: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc: rgb(61, 61, 61),
    --btn_pm-tp_bdc-h: rgb(61, 61, 61),
    --btn_pm-tp_bdc-p: rgb(61, 61, 61),
    --btn_pm-tp_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc-l: rgb(61, 61, 61),
    --btn_pm-tp_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc-ss: rgb(61, 61, 61),
    --btn_pm-tp_bdc-er: rgb(61, 61, 61),
    --btn_pm-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s_f-outline: rgb(139, 139, 222),
    --btn_sc-s_ntn: rgb(139, 139, 222),
    --btn_sc-s_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-s_ldng: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn: rgb(10, 10, 10),
    --btn_sc-s_cnt-gn-h: rgb(64, 96, 255),
    --btn_sc-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-s_cnt-gn-l: rgb(64, 96, 255),
    --btn_sc-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-s_cnt-gn-ss: rgb(0, 192, 96),
    --btn_sc-s_cnt-gn-er: rgb(255, 96, 64),
    --btn_sc-s_cnt-ad: rgb(128, 128, 128),
    --btn_sc-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_sc-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_sc-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-s_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_sc-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_sc-s_bgc: rgb(255, 255, 255),
    --btn_sc-s_bgc-h: rgb(255, 255, 255),
    --btn_sc-s_bgc-p: rgb(255, 255, 255),
    --btn_sc-s_bgc-a: rgb(64, 96, 255),
    --btn_sc-s_bgc-l: rgb(255, 255, 255),
    --btn_sc-s_bgc-db: rgb(20, 20, 20),
    --btn_sc-s_bgc-ss: rgb(255, 255, 255),
    --btn_sc-s_bgc-er: rgb(255, 255, 255),
    --btn_sc-s_bdc: rgb(61, 61, 61),
    --btn_sc-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s_ic-h: rgb(139, 139, 222),
    --btn_sc-s-alt_f-outline: rgb(139, 139, 222),
    --btn_sc-s-alt_ntn: rgb(139, 139, 222),
    --btn_sc-s-alt_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-s-alt_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-s-alt_ldng: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn: rgb(10, 10, 10),
    --btn_sc-s-alt_cnt-gn-h: rgb(64, 96, 255),
    --btn_sc-s-alt_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-s-alt_cnt-gn-l: rgb(64, 96, 255),
    --btn_sc-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-gn-ss: rgb(0, 192, 96),
    --btn_sc-s-alt_cnt-gn-er: rgb(255, 96, 64),
    --btn_sc-s-alt_cnt-ad: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-ad-h: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-ad-p: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-ad-ss: rgb(122, 222, 172),
    --btn_sc-s-alt_cnt-ad-er: rgb(255, 172, 156),
    --btn_sc-s-alt_bgc: rgb(255, 255, 255),
    --btn_sc-s-alt_bgc-h: rgb(255, 255, 255),
    --btn_sc-s-alt_bgc-p: rgb(255, 255, 255),
    --btn_sc-s-alt_bgc-a: rgb(64, 96, 255),
    --btn_sc-s-alt_bgc-l: rgb(255, 255, 255),
    --btn_sc-s-alt_bgc-db: rgb(20, 20, 20),
    --btn_sc-s-alt_bgc-ss: rgb(255, 255, 255),
    --btn_sc-s-alt_bgc-er: rgb(255, 255, 255),
    --btn_sc-s-alt_bdc: rgb(61, 61, 61),
    --btn_sc-s-alt_bdc-h: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-p: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-l: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-ss: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-er: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s-alt_ic-h: rgb(139, 139, 222),
    --btn_sc-tp_f-outline: rgb(139, 139, 222),
    --btn_sc-tp_ntn: rgb(64, 96, 255),
    --btn_sc-tp_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-tp_ldng: rgb(139, 139, 222),
    --btn_sc-tp_cnt-gn: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-gn-h: rgba(255, 255, 255, 0.8),
    --btn_sc-tp_cnt-gn-p: rgb(64, 96, 255),
    --btn_sc-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-tp_cnt-gn-l: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-gn-db: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_sc-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_sc-tp_cnt-ad: rgb(128, 128, 128),
    --btn_sc-tp_cnt-ad-h: rgb(184, 184, 235),
    --btn_sc-tp_cnt-ad-p: rgb(184, 184, 235),
    --btn_sc-tp_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-tp_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-tp_cnt-ad-ss: rgb(173, 235, 204),
    --btn_sc-tp_cnt-ad-er: rgb(255, 204, 194),
    --btn_sc-tp_bgc: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-a: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-db: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc: rgb(255, 255, 255),
    --btn_sc-tp_bdc-h: rgb(255, 255, 255),
    --btn_sc-tp_bdc-p: rgb(255, 255, 255),
    --btn_sc-tp_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc-l: rgb(255, 255, 255),
    --btn_sc-tp_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc-ss: rgb(255, 255, 255),
    --btn_sc-tp_bdc-er: rgb(255, 255, 255),
    --btn_sc-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-tp_ic-h: rgb(139, 139, 222),
    --btn_tt-s_f-outline: rgb(139, 139, 222),
    --btn_tt-s_ntn: rgb(139, 139, 222),
    --btn_tt-s_ntn-ctv: rgb(255, 255, 255),
    --btn_tt-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_tt-s_ldng: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn: rgb(64, 96, 255),
    --btn_tt-s_cnt-gn-h: rgba(64, 96, 255, 0.6),
    --btn_tt-s_cnt-gn-p: rgba(64, 96, 255, 0.8),
    --btn_tt-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_tt-s_cnt-gn-l: rgba(64, 96, 255, 0.6),
    --btn_tt-s_cnt-gn-db: rgba(64, 96, 255, 0.6),
    --btn_tt-s_cnt-gn-ss: rgb(0, 192, 96),
    --btn_tt-s_cnt-gn-er: rgb(255, 96, 64),
    --btn_tt-s_cnt-ad: rgb(255, 255, 255),
    --btn_tt-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-p: rgb(86, 86, 207),
    --btn_tt-s_cnt-ad-a: rgb(255, 255, 255),
    --btn_tt-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_tt-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_tt-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_tt-s_bgc: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-h: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-p: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-a: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-l: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-db: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-ss: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bgc-er: rgba(64, 96, 255, 0.2),
    --btn_tt-s_bdc: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_tt-s_sh: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
    --btn_tt-tp_f-outline: rgb(139, 139, 222),
    --btn_tt-tp_ntn: rgb(64, 96, 255),
    --btn_tt-tp_ntn-ctv: rgb(64, 96, 255),
    --btn_tt-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_tt-tp_ldng: rgb(139, 139, 222),
    --btn_tt-tp_cnt-gn: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-h: rgb(64, 96, 255),
    --btn_tt-tp_cnt-gn-p: rgba(64, 96, 255, 0.6),
    --btn_tt-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_tt-tp_cnt-gn-l: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-db: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_tt-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_tt-tp_cnt-ad: rgb(128, 128, 128),
    --btn_tt-tp_cnt-ad-h: rgb(184, 184, 235),
    --btn_tt-tp_cnt-ad-p: rgb(184, 184, 235),
    --btn_tt-tp_cnt-ad-a: rgb(139, 139, 222),
    --btn_tt-tp_cnt-ad-l: rgb(184, 184, 235),
    --btn_tt-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_tt-tp_cnt-ad-ss: rgb(173, 235, 204),
    --btn_tt-tp_cnt-ad-er: rgb(255, 204, 194),
    --btn_tt-tp_bgc: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-a: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-db: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_tt-tp_bdc: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-h: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-p: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-a: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-l: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-db: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-ss: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-er: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_qt-s_f-outline: rgb(139, 139, 222),
    --btn_qt-s_ntn: rgb(255, 255, 255),
    --btn_qt-s_ntn-ctv: rgb(255, 255, 255),
    --btn_qt-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_qt-s_ldng: rgb(184, 184, 235),
    --btn_qt-s_cnt-gn: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-h: rgb(139, 139, 222),
    --btn_qt-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_qt-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-l: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_qt-s_cnt-gn-ss: rgb(122, 222, 172),
    --btn_qt-s_cnt-gn-er: rgb(255, 172, 156),
    --btn_qt-s_cnt-ad: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_qt-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_qt-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_qt-s_bgc: rgb(64, 96, 255),
    --btn_qt-s_bgc-h: rgb(64, 96, 255),
    --btn_qt-s_bgc-p: rgb(64, 96, 255),
    --btn_qt-s_bgc-a: rgb(64, 96, 255),
    --btn_qt-s_bgc-l: rgb(64, 96, 255),
    --btn_qt-s_bgc-db: rgb(20, 20, 20),
    --btn_qt-s_bgc-ss: rgb(64, 96, 255),
    --btn_qt-s_bgc-er: rgb(64, 96, 255),
    --btn_qt-s_bdc: rgb(61, 61, 61),
    --btn_qt-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_qt-s_sh: 0px 0px 16px 0px rgba(237, 237, 250, 0.2),
  ),
  theme-color: (
    --btn_pm-s_f-outline: rgb(139, 139, 222),
    --btn_pm-s_ntn: rgb(255, 255, 255),
    --btn_pm-s_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-s_ntn-dsbld: rgb(128, 128, 128),
    --btn_pm-s_ldng: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn: rgb(10, 10, 10),
    --btn_pm-s_cnt-gn-h: rgb(64, 96, 255),
    --btn_pm-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-s_cnt-gn-l: rgb(64, 96, 255),
    --btn_pm-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-s_cnt-gn-ss: rgb(0, 192, 96),
    --btn_pm-s_cnt-gn-er: rgb(255, 96, 64),
    --btn_pm-s_cnt-ad: rgb(128, 128, 128),
    --btn_pm-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_pm-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_pm-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_pm-s_bgc: rgb(255, 255, 255),
    --btn_pm-s_bgc-h: rgb(255, 255, 255),
    --btn_pm-s_bgc-p: rgb(255, 255, 255),
    --btn_pm-s_bgc-a: rgb(86, 86, 207),
    --btn_pm-s_bgc-l: rgb(255, 255, 255),
    --btn_pm-s_bgc-db: rgb(235, 235, 235),
    --btn_pm-s_bgc-ss: rgb(255, 255, 255),
    --btn_pm-s_bgc-er: rgb(255, 255, 255),
    --btn_pm-s_bdc: rgb(139, 139, 222),
    --btn_pm-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_pm-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s_sh: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
    --btn_pm-s-alt_f-outline: rgb(139, 139, 222),
    --btn_pm-s-alt_ntn: rgb(255, 255, 255),
    --btn_pm-s-alt_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-s-alt_ntn-dsbld: rgb(128, 128, 128),
    --btn_pm-s-alt_ldng: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn: rgb(10, 10, 10),
    --btn_pm-s-alt_cnt-gn-h: rgb(64, 96, 255),
    --btn_pm-s-alt_cnt-gn-p: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-s-alt_cnt-gn-l: rgb(64, 96, 255),
    --btn_pm-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-gn-ss: rgb(0, 192, 96),
    --btn_pm-s-alt_cnt-gn-er: rgb(255, 96, 64),
    --btn_pm-s-alt_cnt-ad: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-ad-h: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-p: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-a: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-l: rgb(139, 139, 222),
    --btn_pm-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --btn_pm-s-alt_cnt-ad-ss: rgb(122, 222, 172),
    --btn_pm-s-alt_cnt-ad-er: rgb(255, 172, 156),
    --btn_pm-s-alt_bgc: rgb(235, 235, 235),
    --btn_pm-s-alt_bgc-h: rgb(235, 235, 235),
    --btn_pm-s-alt_bgc-p: rgb(235, 235, 235),
    --btn_pm-s-alt_bgc-a: rgb(64, 96, 255),
    --btn_pm-s-alt_bgc-l: rgb(235, 235, 235),
    --btn_pm-s-alt_bgc-db: rgb(235, 235, 235),
    --btn_pm-s-alt_bgc-ss: rgb(235, 235, 235),
    --btn_pm-s-alt_bgc-er: rgb(235, 235, 235),
    --btn_pm-s-alt_bdc: rgb(139, 139, 222),
    --btn_pm-s-alt_bdc-h: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-p: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-l: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-ss: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_bdc-er: rgba(0, 0, 0, 0),
    --btn_pm-s-alt_sh: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
    --btn_pm-tp_f-outline: rgb(139, 139, 222),
    --btn_pm-tp_ntn: rgb(255, 255, 255),
    --btn_pm-tp_ntn-ctv: rgb(255, 255, 255),
    --btn_pm-tp_ntn-dsbld: rgb(128, 128, 128),
    --btn_pm-tp_ldng: rgb(139, 139, 222),
    --btn_pm-tp_cnt-gn: rgb(255, 255, 255),
    --btn_pm-tp_cnt-gn-h: rgba(255, 255, 255, 0.6),
    --btn_pm-tp_cnt-gn-p: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_pm-tp_cnt-gn-l: rgb(139, 139, 222),
    --btn_pm-tp_cnt-gn-db: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_pm-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_pm-tp_cnt-ad: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-ad-h: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-ad-p: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-ad-a: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-ad-l: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-ad-db: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_cnt-ad-ss: rgb(122, 222, 172),
    --btn_pm-tp_cnt-ad-er: rgb(255, 172, 156),
    --btn_pm-tp_bgc: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-a: rgba(255, 255, 255, 0.1),
    --btn_pm-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-db: rgb(235, 235, 235),
    --btn_pm-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_pm-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc: rgba(255, 255, 255, 0.2),
    --btn_pm-tp_bdc-h: rgba(255, 255, 255, 0.4),
    --btn_pm-tp_bdc-p: rgba(255, 255, 255, 0.2),
    --btn_pm-tp_bdc-a: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc-l: rgba(255, 255, 255, 0.2),
    --btn_pm-tp_bdc-db: rgba(0, 0, 0, 0),
    --btn_pm-tp_bdc-ss: rgb(122, 222, 172),
    --btn_pm-tp_bdc-er: rgb(255, 172, 156),
    --btn_pm-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s_f-outline: rgb(139, 139, 222),
    --btn_sc-s_ntn: rgb(139, 139, 222),
    --btn_sc-s_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-s_ldng: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn: rgb(255, 255, 255),
    --btn_sc-s_cnt-gn-h: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-s_cnt-gn-l: rgb(139, 139, 222),
    --btn_sc-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-s_cnt-gn-ss: rgb(122, 222, 172),
    --btn_sc-s_cnt-gn-er: rgb(255, 172, 156),
    --btn_sc-s_cnt-ad: rgb(128, 128, 128),
    --btn_sc-s_cnt-ad-h: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-p: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-s_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-s_cnt-ad-ss: rgb(173, 235, 204),
    --btn_sc-s_cnt-ad-er: rgb(255, 204, 194),
    --btn_sc-s_bgc: rgb(10, 10, 10),
    --btn_sc-s_bgc-h: rgb(10, 10, 10),
    --btn_sc-s_bgc-p: rgb(10, 10, 10),
    --btn_sc-s_bgc-a: rgb(86, 86, 207),
    --btn_sc-s_bgc-l: rgb(10, 10, 10),
    --btn_sc-s_bgc-db: rgb(235, 235, 235),
    --btn_sc-s_bgc-ss: rgb(10, 10, 10),
    --btn_sc-s_bgc-er: rgb(10, 10, 10),
    --btn_sc-s_bdc: rgb(194, 194, 194),
    --btn_sc-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_sc-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-s-alt_f-outline: rgb(139, 139, 222),
    --btn_sc-s-alt_ntn: rgb(139, 139, 222),
    --btn_sc-s-alt_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-s-alt_ntn-dsbld: rgb(139, 139, 222),
    --btn_sc-s-alt_ldng: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn: rgb(255, 255, 255),
    --btn_sc-s-alt_cnt-gn-h: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-p: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-s-alt_cnt-gn-l: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-gn-ss: rgb(122, 222, 172),
    --btn_sc-s-alt_cnt-gn-er: rgb(255, 172, 156),
    --btn_sc-s-alt_cnt-ad: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-ad-h: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-p: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-a: rgb(139, 139, 222),
    --btn_sc-s-alt_cnt-ad-l: rgb(184, 184, 235),
    --btn_sc-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --btn_sc-s-alt_cnt-ad-ss: rgb(173, 235, 204),
    --btn_sc-s-alt_cnt-ad-er: rgb(255, 204, 194),
    --btn_sc-s-alt_bgc: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-h: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-p: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-a: rgb(86, 86, 207),
    --btn_sc-s-alt_bgc-l: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-db: rgb(235, 235, 235),
    --btn_sc-s-alt_bgc-ss: rgb(10, 10, 10),
    --btn_sc-s-alt_bgc-er: rgb(10, 10, 10),
    --btn_sc-s-alt_bdc: rgb(194, 194, 194),
    --btn_sc-s-alt_bdc-h: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-p: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-l: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-ss: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_bdc-er: rgba(0, 0, 0, 0),
    --btn_sc-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_sc-tp_f-outline: rgb(139, 139, 222),
    --btn_sc-tp_ntn: rgb(255, 255, 255),
    --btn_sc-tp_ntn-ctv: rgb(255, 255, 255),
    --btn_sc-tp_ntn-dsbld: rgb(128, 128, 128),
    --btn_sc-tp_ldng: rgb(139, 139, 222),
    --btn_sc-tp_cnt-gn: rgba(255, 255, 255, 0.6),
    --btn_sc-tp_cnt-gn-h: rgba(255, 255, 255, 0.8),
    --btn_sc-tp_cnt-gn-p: rgb(255, 255, 255),
    --btn_sc-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_sc-tp_cnt-gn-l: rgb(139, 139, 222),
    --btn_sc-tp_cnt-gn-db: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_sc-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_sc-tp_cnt-ad: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-ad-h: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-ad-p: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-ad-a: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-ad-l: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-ad-db: rgba(255, 255, 255, 0.4),
    --btn_sc-tp_cnt-ad-ss: rgb(122, 222, 172),
    --btn_sc-tp_cnt-ad-er: rgb(255, 172, 156),
    --btn_sc-tp_bgc: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-a: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-db: rgb(235, 235, 235),
    --btn_sc-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_sc-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc: rgb(184, 184, 235),
    --btn_sc-tp_bdc-h: rgb(184, 184, 235),
    --btn_sc-tp_bdc-p: rgb(184, 184, 235),
    --btn_sc-tp_bdc-a: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc-l: rgb(184, 184, 235),
    --btn_sc-tp_bdc-db: rgba(0, 0, 0, 0),
    --btn_sc-tp_bdc-ss: rgb(184, 184, 235),
    --btn_sc-tp_bdc-er: rgb(184, 184, 235),
    --btn_sc-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_tt-s_f-outline: rgb(64, 96, 255),
    --btn_tt-s_ntn: rgb(64, 96, 255),
    --btn_tt-s_ntn-ctv: rgb(255, 255, 255),
    --btn_tt-s_ntn-dsbld: rgb(139, 139, 222),
    --btn_tt-s_ldng: rgb(64, 96, 255),
    --btn_tt-s_cnt-gn: rgb(64, 96, 255),
    --btn_tt-s_cnt-gn-h: rgb(50, 50, 197),
    --btn_tt-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_tt-s_cnt-gn-l: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn-db: rgb(139, 139, 222),
    --btn_tt-s_cnt-gn-ss: rgb(0, 192, 96),
    --btn_tt-s_cnt-gn-er: rgb(255, 96, 64),
    --btn_tt-s_cnt-ad: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-a: rgb(255, 255, 255),
    --btn_tt-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-db: rgb(139, 139, 222),
    --btn_tt-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_tt-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_tt-s_bgc: rgb(237, 237, 250),
    --btn_tt-s_bgc-h: rgb(237, 237, 250),
    --btn_tt-s_bgc-p: rgb(237, 237, 250),
    --btn_tt-s_bgc-a: rgb(64, 96, 255),
    --btn_tt-s_bgc-l: rgb(237, 237, 250),
    --btn_tt-s_bgc-db: rgb(237, 237, 250),
    --btn_tt-s_bgc-ss: rgb(237, 237, 250),
    --btn_tt-s_bgc-er: rgb(237, 237, 250),
    --btn_tt-s_bdc: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_tt-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_tt-s_sh: 0px 0px 16px 0px rgba(64, 96, 255, 0.2),
    --btn_tt-tp_f-outline: rgb(139, 139, 222),
    --btn_tt-tp_ntn: rgb(64, 96, 255),
    --btn_tt-tp_ntn-ctv: rgb(64, 96, 255),
    --btn_tt-tp_ntn-dsbld: rgb(139, 139, 222),
    --btn_tt-tp_ldng: rgb(139, 139, 222),
    --btn_tt-tp_cnt-gn: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-h: rgb(64, 96, 255),
    --btn_tt-tp_cnt-gn-p: rgba(64, 96, 255, 0.6),
    --btn_tt-tp_cnt-gn-a: rgb(255, 255, 255),
    --btn_tt-tp_cnt-gn-l: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-db: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_cnt-gn-ss: rgb(0, 192, 96),
    --btn_tt-tp_cnt-gn-er: rgb(255, 96, 64),
    --btn_tt-tp_cnt-ad: rgb(128, 128, 128),
    --btn_tt-tp_cnt-ad-h: rgb(184, 184, 235),
    --btn_tt-tp_cnt-ad-p: rgb(184, 184, 235),
    --btn_tt-tp_cnt-ad-a: rgb(139, 139, 222),
    --btn_tt-tp_cnt-ad-l: rgb(184, 184, 235),
    --btn_tt-tp_cnt-ad-db: rgb(128, 128, 128),
    --btn_tt-tp_cnt-ad-ss: rgb(173, 235, 204),
    --btn_tt-tp_cnt-ad-er: rgb(255, 204, 194),
    --btn_tt-tp_bgc: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-h: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-p: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-a: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-l: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-db: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-ss: rgba(0, 0, 0, 0),
    --btn_tt-tp_bgc-er: rgba(0, 0, 0, 0),
    --btn_tt-tp_bdc: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-h: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-p: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-a: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-l: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-db: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-ss: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_bdc-er: rgba(64, 96, 255, 0.4),
    --btn_tt-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --btn_qt-s_f-outline: rgb(139, 139, 222),
    --btn_qt-s_ntn: rgb(255, 255, 255),
    --btn_qt-s_ntn-ctv: rgb(255, 255, 255),
    --btn_qt-s_ntn-dsbld: rgb(128, 128, 128),
    --btn_qt-s_ldng: rgb(139, 139, 222),
    --btn_qt-s_cnt-gn: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-h: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-p: rgb(139, 139, 222),
    --btn_qt-s_cnt-gn-a: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-l: rgb(255, 255, 255),
    --btn_qt-s_cnt-gn-db: rgb(128, 128, 128),
    --btn_qt-s_cnt-gn-ss: rgb(122, 222, 172),
    --btn_qt-s_cnt-gn-er: rgb(255, 172, 156),
    --btn_qt-s_cnt-ad: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-h: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-p: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-a: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-l: rgb(139, 139, 222),
    --btn_qt-s_cnt-ad-db: rgb(128, 128, 128),
    --btn_qt-s_cnt-ad-ss: rgb(122, 222, 172),
    --btn_qt-s_cnt-ad-er: rgb(255, 172, 156),
    --btn_qt-s_bgc: rgb(86, 86, 207),
    --btn_qt-s_bgc-h: rgb(86, 86, 207),
    --btn_qt-s_bgc-p: rgb(86, 86, 207),
    --btn_qt-s_bgc-a: rgb(86, 86, 207),
    --btn_qt-s_bgc-l: rgb(86, 86, 207),
    --btn_qt-s_bgc-db: rgb(235, 235, 235),
    --btn_qt-s_bgc-ss: rgb(86, 86, 207),
    --btn_qt-s_bgc-er: rgb(86, 86, 207),
    --btn_qt-s_bdc: rgb(139, 139, 222),
    --btn_qt-s_bdc-h: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-p: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-a: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-l: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-db: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-ss: rgba(0, 0, 0, 0),
    --btn_qt-s_bdc-er: rgba(0, 0, 0, 0),
    --btn_qt-s_sh: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
    --btn_qt-s_ic-h: rgb(139, 139, 222),
  ),
);
