$scale: (
  min-width: (
    xs: 200px,
  ),
  min-height: (
    xs: 48px,
  ),
  border-radius: (
    xs: 12px,
  ),
  padding-y: (
    xs: 16px,
  ),
  padding-x: (
    xs: 16px,
  ),
  gap-x: (
    xs: 8px,
  ),
  gap-y: (
    xs: 16px,
  ),
  font-size: (
    xs: 16px,
  ),
  line-height: (
    xs: 24px,
  ),
  text-padding-x: (
    xs: 8px,
  ),
  text-padding-y: (
    xs: 0px,
  ),
);
