.text {
  color: var(--tphy-c);
  line-height: var(--tphy-lh);
  font-size: var(--tphy-fz);
  font-family: var(--tphy-ff);
  font-weight: var(--tphy-fw);
  letter-spacing: var(--tphy-lts);
  fill: var(--tphy-c);
}
