.button {
  --btn_tt-s_bgc: #0f0f29;
  --btn_tt-s_bgc-h: #0f0f29;
  --btn_tt-s_bgc-a: #0f0f29;
  --btn_tt-s_bgc-db: #0f0f29;
  --btn_tt-s_bgc-p: #0f0f29;
  --btn_tt-s_bgc-l: #0f0f29;

  --btn_tt-s_cnt-gn: #ffffff;
  --btn_tt-s_cnt-gn-h: #6060ff;
}
