$scale: (
  width: (
    s: 32px,
    xs: 24px,
  ),
  height: (
    s: 32px,
    xs: 24px,
  ),
  padding-x: (
    s: 8px,
    xs: 4px,
  ),
  padding-y: (
    s: 4px,
    xs: 0px,
  ),
  gap-x: (
    s: 12px,
    xs: 4px,
  ),
  border-width: (
    s: 1px,
    xs: 1px,
  ),
  border-radius-square: (
    s: 0px,
    xs: 0px,
  ),
  border-radius-rounded: (
    s: 4px,
    xs: 4px,
  ),
  border-radius-circular: (
    s: 16px,
    xs: 12px,
  ),
  font-size: (
    s: 14px,
    xs: 12px,
  ),
  letter-spacing: (
    s: 0px,
    xs: 0px,
  ),
  line-height: (
    s: 24px,
    xs: 24px,
  ),
  text-padding-y: (
    s: 0px,
    xs: 0px,
  ),
  text-padding-x: (
    s: 0px,
    xs: 4px,
  ),
);
