$theme-color: (
  color-primary-solid: (
    content-general: var(--bdg_pm-s_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_pm-s_cnt-gn-db, rgb(139, 139, 222)),
    content-additional: var(--bdg_pm-s_cnt-ad, rgb(139, 139, 222)),
    content-additional-disabled: var(--bdg_pm-s_cnt-ad-db, rgb(139, 139, 222)),
    background: var(--bdg_pm-s_bgc, rgba(255, 255, 255, 0.1)),
    background-disabled: var(--bdg_pm-s_bgc-db, rgba(255, 255, 255, 0.1)),
    border: var(--bdg_pm-s_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_pm-s_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-solid-alt: (
    content-general: var(--bdg_pm-s-alt_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_pm-s-alt_cnt-gn-db, rgb(139, 139, 222)),
    content-additional: var(--bdg_pm-s-alt_cnt-ad, rgb(139, 139, 222)),
    content-additional-disabled:
      var(--bdg_pm-s-alt_cnt-ad-db, rgb(139, 139, 222)),
    background: var(--bdg_pm-s-alt_bgc, rgb(235, 235, 235)),
    background-disabled: var(--bdg_pm-s-alt_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_pm-s-alt_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_pm-s-alt_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm-s-alt_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-transparent: (
    content-general: var(--bdg_pm-tp_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_pm-tp_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_pm-tp_cnt-ad, rgb(139, 139, 222)),
    content-additional-disabled: var(--bdg_pm-tp_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_pm-tp_bgc, rgba(0, 0, 0, 0)),
    background-disabled: var(--bdg_pm-tp_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_pm-tp_bdc, rgb(255, 255, 255)),
    border-disabled: var(--bdg_pm-tp_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm-tp_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-solid: (
    content-general: var(--bdg_sc-s_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_sc-s_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_sc-s_cnt-ad, rgb(128, 128, 128)),
    content-additional-disabled: var(--bdg_sc-s_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_sc-s_bgc, rgb(61, 61, 61)),
    background-disabled: var(--bdg_sc-s_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_sc-s_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_sc-s_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-solid-alt: (
    content-general: var(--bdg_sc-s-alt_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_sc-s-alt_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_sc-s-alt_cnt-ad, rgb(128, 128, 128)),
    content-additional-disabled:
      var(--bdg_sc-s-alt_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_sc-s-alt_bgc, rgb(10, 10, 10)),
    background-disabled: var(--bdg_sc-s-alt_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_sc-s-alt_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_sc-s-alt_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc-s-alt_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-transparent: (
    content-general: var(--bdg_sc-tp_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_sc-tp_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_sc-tp_cnt-ad, rgb(139, 139, 222)),
    content-additional-disabled: var(--bdg_sc-tp_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_sc-tp_bgc, rgba(0, 0, 0, 0)),
    background-disabled: var(--bdg_sc-tp_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_sc-tp_bdc, rgb(10, 10, 10)),
    border-disabled: var(--bdg_sc-tp_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc-tp_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-tertiary-solid: (
    content-general: var(--bdg_tt-s_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_tt-s_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_tt-s_cnt-ad, rgb(128, 128, 128)),
    content-additional-disabled: var(--bdg_tt-s_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_tt-s_bgc, rgba(255, 255, 255, 0.1)),
    background-disabled: var(--bdg_tt-s_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_tt-s_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_tt-s_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_tt-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-tertiary-transparent: (
    content-general: var(--bdg_tt-tp_cnt-gn, rgb(255, 255, 255)),
    content-general-disabled: var(--bdg_tt-tp_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_tt-tp_cnt-ad, rgb(139, 139, 222)),
    content-additional-disabled: var(--bdg_tt-tp_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_tt-tp_bgc, rgba(0, 0, 0, 0)),
    background-disabled: var(--bdg_tt-tp_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_tt-tp_bdc, rgb(139, 139, 222)),
    border-disabled: var(--bdg_tt-tp_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_tt-tp_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary: (
    content-general: var(--bdg_pm_cnt-gn, rgb(128, 128, 128)),
    content-general-disabled: var(--bdg_pm_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_pm_cnt-ad, rgb(128, 128, 128)),
    content-additional-disabled: var(--bdg_pm_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_pm_bgc, rgb(235, 235, 235)),
    background-disabled: var(--bdg_pm_bgc-db, rgb(235, 235, 235)),
    border: var(--bdg_pm_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_pm_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary: (
    content-general: var(--bdg_sc_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--bdg_sc_cnt-gn-db, rgb(128, 128, 128)),
    content-additional: var(--bdg_sc_cnt-ad, rgb(128, 128, 128)),
    content-additional-disabled: var(--bdg_sc_cnt-ad-db, rgb(128, 128, 128)),
    background: var(--bdg_sc_bgc, rgb(255, 255, 255)),
    background-disabled: var(--bdg_sc_bgc-db, rgb(255, 255, 255)),
    border: var(--bdg_sc_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_sc_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-tertiary: (
    content-general: var(--bdg_tt_cnt-gn, rgb(64, 96, 255)),
    content-general-disabled: var(--bdg_tt_cnt-gn-db, rgb(139, 139, 222)),
    content-additional: var(--bdg_tt_cnt-ad, rgb(139, 139, 222)),
    content-additional-disabled: var(--bdg_tt_cnt-ad-db, rgb(139, 139, 222)),
    background: var(--bdg_tt_bgc, rgb(237, 237, 250)),
    background-disabled: var(--bdg_tt_bgc-db, rgb(237, 237, 250)),
    border: var(--bdg_tt_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_tt_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_tt_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-quaternary: (
    content-general: var(--bdg_qt_cnt-gn, rgb(128, 48, 255)),
    content-general-disabled: var(--bdg_qt_cnt-gn-db, rgb(189, 147, 255)),
    content-additional: var(--bdg_qt_cnt-ad, rgb(189, 147, 255)),
    content-additional-disabled: var(--bdg_qt_cnt-ad-db, rgb(189, 147, 255)),
    background: var(--bdg_qt_bgc, rgb(245, 238, 255)),
    background-disabled: var(--bdg_qt_bgc-db, rgb(245, 238, 255)),
    border: var(--bdg_qt_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_qt_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_qt_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive: (
    content-general: var(--bdg_ps_cnt-gn, rgb(0, 192, 96)),
    content-general-disabled: var(--bdg_ps_cnt-gn-db, rgb(122, 222, 172)),
    content-additional: var(--bdg_ps_cnt-ad, rgb(122, 222, 172)),
    content-additional-disabled: var(--bdg_ps_cnt-ad-db, rgb(122, 222, 172)),
    background: var(--bdg_ps_bgc, rgb(235, 250, 242)),
    background-disabled: var(--bdg_ps_bgc-db, rgb(235, 250, 242)),
    border: var(--bdg_ps_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_ps_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ps_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention: (
    content-general: var(--bdg_at_cnt-gn, rgb(255, 192, 32)),
    content-general-disabled: var(--bdg_at_cnt-gn-db, rgb(255, 222, 139)),
    content-additional: var(--bdg_at_cnt-ad, rgb(255, 222, 139)),
    content-additional-disabled: var(--bdg_at_cnt-ad-db, rgb(255, 222, 139)),
    background: var(--bdg_at_bgc, rgb(255, 250, 237)),
    background-disabled: var(--bdg_at_bgc-db, rgb(255, 250, 237)),
    border: var(--bdg_at_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_at_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_at_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative: (
    content-general: var(--bdg_ng_cnt-gn, rgb(255, 96, 64)),
    content-general-disabled: var(--bdg_ng_cnt-gn-db, rgb(255, 172, 156)),
    content-additional: var(--bdg_ng_cnt-ad, rgb(255, 172, 156)),
    content-additional-disabled: var(--bdg_ng_cnt-ad-db, rgb(255, 172, 156)),
    background: var(--bdg_ng_bgc, rgb(255, 242, 240)),
    background-disabled: var(--bdg_ng_bgc-db, rgb(255, 242, 240)),
    border: var(--bdg_ng_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_ng_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ng_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative: (
    content-general: var(--bdg_inf_cnt-gn, rgb(64, 128, 255)),
    content-general-disabled: var(--bdg_inf_cnt-gn-db, rgb(156, 189, 255)),
    content-additional: var(--bdg_inf_cnt-ad, rgb(156, 189, 255)),
    content-additional-disabled: var(--bdg_inf_cnt-ad-db, rgb(156, 189, 255)),
    background: var(--bdg_inf_bgc, rgb(240, 245, 255)),
    background-disabled: var(--bdg_inf_bgc-db, rgb(240, 245, 255)),
    border: var(--bdg_inf_bdc, rgba(0, 0, 0, 0)),
    border-disabled: var(--bdg_inf_bdc-db, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_inf_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
);
