$variables: (
  theme-light: (
    --bdg_trckr-sld-ntrl_cnt-gn: rgb(51, 65, 85),
    --bdg_trckr-sld-ntrl_cnt-gn-db: rgb(100, 116, 139),
    --bdg_trckr-sld-ntrl_cnt-ad: rgb(51, 65, 85),
    --bdg_trckr-sld-ntrl_cnt-ad-db: rgb(100, 116, 139),
    --bdg_trckr-sld-ntrl_bgc: rgb(234, 239, 245),
    --bdg_trckr-sld-ntrl_bgc-db: rgb(234, 239, 245),
    --bdg_trckr-sld-ntrl_bdc: rgba(0, 0, 0, 0),
    --bdg_trckr-sld-ntrl_bdc-db: rgba(0, 0, 0, 0),
    --bdg_trckr-sld-ntrl_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_trckr-sld-pstv_cnt-gn: rgb(100, 116, 139),
    --bdg_trckr-sld-pstv_cnt-gn-db: rgb(100, 116, 139),
    --bdg_trckr-sld-pstv_cnt-ad: rgb(100, 116, 139),
    --bdg_trckr-sld-pstv_cnt-ad-db: rgb(100, 116, 139),
    --bdg_trckr-sld-pstv_bgc: rgb(205, 250, 221),
    --bdg_trckr-sld-pstv_bgc-db: rgb(234, 239, 245),
    --bdg_trckr-sld-pstv_bdc: rgba(0, 0, 0, 0),
    --bdg_trckr-sld-pstv_bdc-db: rgba(0, 0, 0, 0),
    --bdg_trckr-sld-pstv_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_trckr-sld-ttntn_cnt-gn: rgb(100, 116, 139),
    --bdg_trckr-sld-ttntn_cnt-gn-db: rgb(100, 116, 139),
    --bdg_trckr-sld-ttntn_cnt-ad: rgb(100, 116, 139),
    --bdg_trckr-sld-ttntn_cnt-ad-db: rgb(100, 116, 139),
    --bdg_trckr-sld-ttntn_bgc: rgb(254, 238, 167),
    --bdg_trckr-sld-ttntn_bgc-db: rgb(234, 239, 245),
    --bdg_trckr-sld-ttntn_bdc: rgba(0, 0, 0, 0),
    --bdg_trckr-sld-ttntn_bdc-db: rgba(0, 0, 0, 0),
    --bdg_trckr-sld-ttntn_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-s_cnt-gn: rgb(10, 10, 10),
    --bdg_pm-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-s_cnt-ad: rgb(128, 128, 128),
    --bdg_pm-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-s_bgc: rgb(235, 235, 235),
    --bdg_pm-s_bgc-db: rgb(235, 235, 235),
    --bdg_pm-s_bdc: rgba(0, 0, 0, 0),
    --bdg_pm-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_cnt-gn: rgb(10, 10, 10),
    --bdg_pm-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-s-alt_cnt-ad: rgb(128, 128, 128),
    --bdg_pm-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-s-alt_bgc: rgb(255, 255, 255),
    --bdg_pm-s-alt_bgc-db: rgb(255, 255, 255),
    --bdg_pm-s-alt_bdc: rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-tp_cnt-gn: rgb(10, 10, 10),
    --bdg_pm-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-tp_cnt-ad: rgb(128, 128, 128),
    --bdg_pm-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_pm-tp_bgc-db: rgb(235, 235, 235),
    --bdg_pm-tp_bdc: rgb(128, 128, 128),
    --bdg_pm-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-s_cnt-gn: rgb(255, 255, 255),
    --bdg_sc-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-s_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-s_bgc: rgb(10, 10, 10),
    --bdg_sc-s_bgc-db: rgb(235, 235, 235),
    --bdg_sc-s_bdc: rgba(0, 0, 0, 0),
    --bdg_sc-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_cnt-gn: rgb(255, 255, 255),
    --bdg_sc-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-s-alt_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-s-alt_bgc: rgb(61, 61, 61),
    --bdg_sc-s-alt_bgc-db: rgb(235, 235, 235),
    --bdg_sc-s-alt_bdc: rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-tp_cnt-gn: rgb(10, 10, 10),
    --bdg_sc-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-tp_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_sc-tp_bgc-db: rgb(235, 235, 235),
    --bdg_sc-tp_bdc: rgb(10, 10, 10),
    --bdg_sc-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt-s_cnt-gn: rgb(255, 255, 255),
    --bdg_tt-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_tt-s_cnt-ad: rgb(128, 128, 128),
    --bdg_tt-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_tt-s_bgc: rgb(64, 96, 255),
    --bdg_tt-s_bgc-db: rgb(235, 235, 235),
    --bdg_tt-s_bdc: rgba(0, 0, 0, 0),
    --bdg_tt-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt-tp_cnt-gn: rgb(10, 10, 10),
    --bdg_tt-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_tt-tp_cnt-ad: rgb(128, 128, 128),
    --bdg_tt-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_tt-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_tt-tp_bgc-db: rgb(235, 235, 235),
    --bdg_tt-tp_bdc: rgb(64, 96, 255),
    --bdg_tt-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm_cnt-gn: rgb(128, 128, 128),
    --bdg_pm_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm_cnt-ad: rgb(128, 128, 128),
    --bdg_pm_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm_bgc: rgb(235, 235, 235),
    --bdg_pm_bgc-db: rgb(235, 235, 235),
    --bdg_pm_bdc: rgba(0, 0, 0, 0),
    --bdg_pm_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc_cnt-gn: rgb(128, 128, 128),
    --bdg_sc_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc_cnt-ad: rgb(128, 128, 128),
    --bdg_sc_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc_bgc: rgb(255, 255, 255),
    --bdg_sc_bgc-db: rgb(255, 255, 255),
    --bdg_sc_bdc: rgba(0, 0, 0, 0),
    --bdg_sc_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt_cnt-gn: rgb(64, 96, 255),
    --bdg_tt_cnt-gn-db: rgb(139, 139, 222),
    --bdg_tt_cnt-ad: rgb(139, 139, 222),
    --bdg_tt_cnt-ad-db: rgb(139, 139, 222),
    --bdg_tt_bgc: rgb(237, 237, 250),
    --bdg_tt_bgc-db: rgb(237, 237, 250),
    --bdg_tt_bdc: rgba(0, 0, 0, 0),
    --bdg_tt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_qt_cnt-gn: rgb(128, 48, 255),
    --bdg_qt_cnt-gn-db: rgb(189, 147, 255),
    --bdg_qt_cnt-ad: rgb(189, 147, 255),
    --bdg_qt_cnt-ad-db: rgb(189, 147, 255),
    --bdg_qt_bgc: rgb(245, 238, 255),
    --bdg_qt_bgc-db: rgb(245, 238, 255),
    --bdg_qt_bdc: rgba(0, 0, 0, 0),
    --bdg_qt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_qt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_ps_cnt-gn: rgb(0, 192, 96),
    --bdg_ps_cnt-gn-db: rgb(122, 222, 172),
    --bdg_ps_cnt-ad: rgb(122, 222, 172),
    --bdg_ps_cnt-ad-db: rgb(122, 222, 172),
    --bdg_ps_bgc: rgb(235, 250, 242),
    --bdg_ps_bgc-db: rgb(235, 250, 242),
    --bdg_ps_bdc: rgba(0, 0, 0, 0),
    --bdg_ps_bdc-db: rgba(0, 0, 0, 0),
    --bdg_ps_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_at_cnt-gn: rgb(255, 192, 32),
    --bdg_at_cnt-gn-db: rgb(255, 222, 139),
    --bdg_at_cnt-ad: rgb(255, 222, 139),
    --bdg_at_cnt-ad-db: rgb(255, 222, 139),
    --bdg_at_bgc: rgb(255, 250, 237),
    --bdg_at_bgc-db: rgb(255, 250, 237),
    --bdg_at_bdc: rgba(0, 0, 0, 0),
    --bdg_at_bdc-db: rgba(0, 0, 0, 0),
    --bdg_at_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_ng_cnt-gn: rgb(255, 96, 64),
    --bdg_ng_cnt-gn-db: rgb(255, 172, 156),
    --bdg_ng_cnt-ad: rgb(255, 172, 156),
    --bdg_ng_cnt-ad-db: rgb(255, 172, 156),
    --bdg_ng_bgc: rgb(255, 242, 240),
    --bdg_ng_bgc-db: rgb(255, 242, 240),
    --bdg_ng_bdc: rgba(0, 0, 0, 0),
    --bdg_ng_bdc-db: rgba(0, 0, 0, 0),
    --bdg_ng_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_inf_cnt-gn: rgb(64, 128, 255),
    --bdg_inf_cnt-gn-db: rgb(156, 189, 255),
    --bdg_inf_cnt-ad: rgb(156, 189, 255),
    --bdg_inf_cnt-ad-db: rgb(156, 189, 255),
    --bdg_inf_bgc: rgb(240, 245, 255),
    --bdg_inf_bgc-db: rgb(240, 245, 255),
    --bdg_inf_bdc: rgba(0, 0, 0, 0),
    --bdg_inf_bdc-db: rgba(0, 0, 0, 0),
    --bdg_inf_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  theme-dark: (
    --bdg_pm-s_cnt-gn: rgb(255, 255, 255),
    --bdg_pm-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-s_cnt-ad: rgb(128, 128, 128),
    --bdg_pm-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-s_bgc: rgb(61, 61, 61),
    --bdg_pm-s_bgc-db: rgb(61, 61, 61),
    --bdg_pm-s_bdc: rgba(0, 0, 0, 0),
    --bdg_pm-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_cnt-gn: rgb(255, 255, 255),
    --bdg_pm-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-s-alt_cnt-ad: rgb(128, 128, 128),
    --bdg_pm-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-s-alt_bgc: rgb(20, 20, 20),
    --bdg_pm-s-alt_bgc-db: rgb(20, 20, 20),
    --bdg_pm-s-alt_bdc: rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-tp_cnt-gn: rgb(255, 255, 255),
    --bdg_pm-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-tp_cnt-ad: rgb(128, 128, 128),
    --bdg_pm-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_pm-tp_bgc-db: rgb(61, 61, 61),
    --bdg_pm-tp_bdc: rgb(128, 128, 128),
    --bdg_pm-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-s_cnt-gn: rgb(10, 10, 10),
    --bdg_sc-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-s_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-s_bgc: rgb(255, 255, 255),
    --bdg_sc-s_bgc-db: rgb(61, 61, 61),
    --bdg_sc-s_bdc: rgba(0, 0, 0, 0),
    --bdg_sc-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_cnt-gn: rgb(10, 10, 10),
    --bdg_sc-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-s-alt_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-s-alt_bgc: rgb(235, 235, 235),
    --bdg_sc-s-alt_bgc-db: rgb(61, 61, 61),
    --bdg_sc-s-alt_bdc: rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-tp_cnt-gn: rgb(255, 255, 255),
    --bdg_sc-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-tp_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_sc-tp_bgc-db: rgb(61, 61, 61),
    --bdg_sc-tp_bdc: rgb(255, 255, 255),
    --bdg_sc-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt-s_cnt-gn: rgb(255, 255, 255),
    --bdg_tt-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_tt-s_cnt-ad: rgb(128, 128, 128),
    --bdg_tt-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_tt-s_bgc: rgb(64, 96, 255),
    --bdg_tt-s_bgc-db: rgb(61, 61, 61),
    --bdg_tt-s_bdc: rgba(0, 0, 0, 0),
    --bdg_tt-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt-tp_cnt-gn: rgb(255, 255, 255),
    --bdg_tt-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_tt-tp_cnt-ad: rgb(128, 128, 128),
    --bdg_tt-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_tt-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_tt-tp_bgc-db: rgb(61, 61, 61),
    --bdg_tt-tp_bdc: rgb(86, 86, 207),
    --bdg_tt-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm_cnt-gn: rgba(255, 255, 255, 0.6),
    --bdg_pm_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_pm_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_pm_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_pm_bgc: rgba(255, 255, 255, 0.2),
    --bdg_pm_bgc-db: rgba(255, 255, 255, 0.2),
    --bdg_pm_bdc: rgba(255, 255, 255, 0.2),
    --bdg_pm_bdc-db: rgba(255, 255, 255, 0.2),
    --bdg_pm_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc_cnt-gn: rgb(255, 255, 255),
    --bdg_sc_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_sc_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_sc_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_sc_bgc: rgba(255, 255, 255, 0.2),
    --bdg_sc_bgc-db: rgba(255, 255, 255, 0.2),
    --bdg_sc_bdc: rgba(255, 255, 255, 0.2),
    --bdg_sc_bdc-db: rgba(255, 255, 255, 0.2),
    --bdg_sc_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt_cnt-gn: rgb(255, 255, 255),
    --bdg_tt_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_tt_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_tt_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_tt_bgc: rgba(64, 96, 255, 0.2),
    --bdg_tt_bgc-db: rgba(64, 96, 255, 0.2),
    --bdg_tt_bdc: rgba(64, 96, 255, 0.2),
    --bdg_tt_bdc-db: rgba(64, 96, 255, 0.2),
    --bdg_tt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_qt_cnt-gn: rgb(255, 255, 255),
    --bdg_qt_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_qt_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_qt_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_qt_bgc: rgba(128, 48, 255, 0.2),
    --bdg_qt_bgc-db: rgba(128, 48, 255, 0.2),
    --bdg_qt_bdc: rgba(128, 48, 255, 0.2),
    --bdg_qt_bdc-db: rgba(128, 48, 255, 0.2),
    --bdg_qt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_ps_cnt-gn: rgb(255, 255, 255),
    --bdg_ps_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_ps_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_ps_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_ps_bgc: rgba(0, 192, 96, 0.2),
    --bdg_ps_bgc-db: rgba(0, 192, 96, 0.2),
    --bdg_ps_bdc: rgba(0, 192, 96, 0.2),
    --bdg_ps_bdc-db: rgba(0, 192, 96, 0.2),
    --bdg_ps_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_at_cnt-gn: rgb(255, 255, 255),
    --bdg_at_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_at_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_at_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_at_bgc: rgba(255, 192, 32, 0.2),
    --bdg_at_bgc-db: rgba(255, 192, 32, 0.2),
    --bdg_at_bdc: rgba(255, 192, 32, 0.2),
    --bdg_at_bdc-db: rgba(255, 192, 32, 0.2),
    --bdg_at_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_ng_cnt-gn: rgb(255, 255, 255),
    --bdg_ng_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_ng_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_ng_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_ng_bgc: rgba(255, 96, 64, 0.2),
    --bdg_ng_bgc-db: rgba(255, 96, 64, 0.2),
    --bdg_ng_bdc: rgba(255, 96, 64, 0.2),
    --bdg_ng_bdc-db: rgba(255, 96, 64, 0.2),
    --bdg_ng_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_inf_cnt-gn: rgb(255, 255, 255),
    --bdg_inf_cnt-gn-db: rgba(255, 255, 255, 0.6),
    --bdg_inf_cnt-ad: rgba(255, 255, 255, 0.6),
    --bdg_inf_cnt-ad-db: rgba(255, 255, 255, 0.6),
    --bdg_inf_bgc: rgba(64, 128, 255, 0.2),
    --bdg_inf_bgc-db: rgba(64, 128, 255, 0.2),
    --bdg_inf_bdc: rgba(64, 128, 255, 0.2),
    --bdg_inf_bdc-db: rgba(64, 128, 255, 0.2),
    --bdg_inf_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  theme-color: (
    --bdg_pm-s_cnt-gn: rgb(255, 255, 255),
    --bdg_pm-s_cnt-gn-db: rgb(139, 139, 222),
    --bdg_pm-s_cnt-ad: rgb(139, 139, 222),
    --bdg_pm-s_cnt-ad-db: rgb(139, 139, 222),
    --bdg_pm-s_bgc: rgba(255, 255, 255, 0.1),
    --bdg_pm-s_bgc-db: rgba(255, 255, 255, 0.1),
    --bdg_pm-s_bdc: rgba(0, 0, 0, 0),
    --bdg_pm-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_cnt-gn: rgb(255, 255, 255),
    --bdg_pm-s-alt_cnt-gn-db: rgb(139, 139, 222),
    --bdg_pm-s-alt_cnt-ad: rgb(139, 139, 222),
    --bdg_pm-s-alt_cnt-ad-db: rgb(139, 139, 222),
    --bdg_pm-s-alt_bgc: rgb(235, 235, 235),
    --bdg_pm-s-alt_bgc-db: rgb(235, 235, 235),
    --bdg_pm-s-alt_bdc: rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm-tp_cnt-gn: rgb(255, 255, 255),
    --bdg_pm-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm-tp_cnt-ad: rgb(139, 139, 222),
    --bdg_pm-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_pm-tp_bgc-db: rgb(235, 235, 235),
    --bdg_pm-tp_bdc: rgb(255, 255, 255),
    --bdg_pm-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-s_cnt-gn: rgb(255, 255, 255),
    --bdg_sc-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-s_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-s_bgc: rgb(61, 61, 61),
    --bdg_sc-s_bgc-db: rgb(235, 235, 235),
    --bdg_sc-s_bdc: rgba(0, 0, 0, 0),
    --bdg_sc-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_cnt-gn: rgb(255, 255, 255),
    --bdg_sc-s-alt_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-s-alt_cnt-ad: rgb(128, 128, 128),
    --bdg_sc-s-alt_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-s-alt_bgc: rgb(10, 10, 10),
    --bdg_sc-s-alt_bgc-db: rgb(235, 235, 235),
    --bdg_sc-s-alt_bdc: rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-s-alt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc-tp_cnt-gn: rgb(255, 255, 255),
    --bdg_sc-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc-tp_cnt-ad: rgb(139, 139, 222),
    --bdg_sc-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_sc-tp_bgc-db: rgb(235, 235, 235),
    --bdg_sc-tp_bdc: rgb(10, 10, 10),
    --bdg_sc-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt-s_cnt-gn: rgb(255, 255, 255),
    --bdg_tt-s_cnt-gn-db: rgb(128, 128, 128),
    --bdg_tt-s_cnt-ad: rgb(128, 128, 128),
    --bdg_tt-s_cnt-ad-db: rgb(128, 128, 128),
    --bdg_tt-s_bgc: rgba(255, 255, 255, 0.1),
    --bdg_tt-s_bgc-db: rgb(235, 235, 235),
    --bdg_tt-s_bdc: rgba(0, 0, 0, 0),
    --bdg_tt-s_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt-tp_cnt-gn: rgb(255, 255, 255),
    --bdg_tt-tp_cnt-gn-db: rgb(128, 128, 128),
    --bdg_tt-tp_cnt-ad: rgb(139, 139, 222),
    --bdg_tt-tp_cnt-ad-db: rgb(128, 128, 128),
    --bdg_tt-tp_bgc: rgba(0, 0, 0, 0),
    --bdg_tt-tp_bgc-db: rgb(235, 235, 235),
    --bdg_tt-tp_bdc: rgb(139, 139, 222),
    --bdg_tt-tp_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt-tp_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_pm_cnt-gn: rgb(128, 128, 128),
    --bdg_pm_cnt-gn-db: rgb(128, 128, 128),
    --bdg_pm_cnt-ad: rgb(128, 128, 128),
    --bdg_pm_cnt-ad-db: rgb(128, 128, 128),
    --bdg_pm_bgc: rgb(235, 235, 235),
    --bdg_pm_bgc-db: rgb(235, 235, 235),
    --bdg_pm_bdc: rgba(0, 0, 0, 0),
    --bdg_pm_bdc-db: rgba(0, 0, 0, 0),
    --bdg_pm_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_sc_cnt-gn: rgb(10, 10, 10),
    --bdg_sc_cnt-gn-db: rgb(128, 128, 128),
    --bdg_sc_cnt-ad: rgb(128, 128, 128),
    --bdg_sc_cnt-ad-db: rgb(128, 128, 128),
    --bdg_sc_bgc: rgb(255, 255, 255),
    --bdg_sc_bgc-db: rgb(255, 255, 255),
    --bdg_sc_bdc: rgba(0, 0, 0, 0),
    --bdg_sc_bdc-db: rgba(0, 0, 0, 0),
    --bdg_sc_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_tt_cnt-gn: rgb(64, 96, 255),
    --bdg_tt_cnt-gn-db: rgb(139, 139, 222),
    --bdg_tt_cnt-ad: rgb(139, 139, 222),
    --bdg_tt_cnt-ad-db: rgb(139, 139, 222),
    --bdg_tt_bgc: rgb(237, 237, 250),
    --bdg_tt_bgc-db: rgb(237, 237, 250),
    --bdg_tt_bdc: rgba(0, 0, 0, 0),
    --bdg_tt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_tt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_qt_cnt-gn: rgb(128, 48, 255),
    --bdg_qt_cnt-gn-db: rgb(189, 147, 255),
    --bdg_qt_cnt-ad: rgb(189, 147, 255),
    --bdg_qt_cnt-ad-db: rgb(189, 147, 255),
    --bdg_qt_bgc: rgb(245, 238, 255),
    --bdg_qt_bgc-db: rgb(245, 238, 255),
    --bdg_qt_bdc: rgba(0, 0, 0, 0),
    --bdg_qt_bdc-db: rgba(0, 0, 0, 0),
    --bdg_qt_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_ps_cnt-gn: rgb(0, 192, 96),
    --bdg_ps_cnt-gn-db: rgb(122, 222, 172),
    --bdg_ps_cnt-ad: rgb(122, 222, 172),
    --bdg_ps_cnt-ad-db: rgb(122, 222, 172),
    --bdg_ps_bgc: rgb(235, 250, 242),
    --bdg_ps_bgc-db: rgb(235, 250, 242),
    --bdg_ps_bdc: rgba(0, 0, 0, 0),
    --bdg_ps_bdc-db: rgba(0, 0, 0, 0),
    --bdg_ps_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_at_cnt-gn: rgb(255, 192, 32),
    --bdg_at_cnt-gn-db: rgb(255, 222, 139),
    --bdg_at_cnt-ad: rgb(255, 222, 139),
    --bdg_at_cnt-ad-db: rgb(255, 222, 139),
    --bdg_at_bgc: rgb(255, 250, 237),
    --bdg_at_bgc-db: rgb(255, 250, 237),
    --bdg_at_bdc: rgba(0, 0, 0, 0),
    --bdg_at_bdc-db: rgba(0, 0, 0, 0),
    --bdg_at_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_ng_cnt-gn: rgb(255, 96, 64),
    --bdg_ng_cnt-gn-db: rgb(255, 172, 156),
    --bdg_ng_cnt-ad: rgb(255, 172, 156),
    --bdg_ng_cnt-ad-db: rgb(255, 172, 156),
    --bdg_ng_bgc: rgb(255, 242, 240),
    --bdg_ng_bgc-db: rgb(255, 242, 240),
    --bdg_ng_bdc: rgba(0, 0, 0, 0),
    --bdg_ng_bdc-db: rgba(0, 0, 0, 0),
    --bdg_ng_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --bdg_inf_cnt-gn: rgb(64, 128, 255),
    --bdg_inf_cnt-gn-db: rgb(156, 189, 255),
    --bdg_inf_cnt-ad: rgb(156, 189, 255),
    --bdg_inf_cnt-ad-db: rgb(156, 189, 255),
    --bdg_inf_bgc: rgb(240, 245, 255),
    --bdg_inf_bgc-db: rgb(240, 245, 255),
    --bdg_inf_bdc: rgba(0, 0, 0, 0),
    --bdg_inf_bdc-db: rgba(0, 0, 0, 0),
    --bdg_inf_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
);
