@use '~@kit-xyz/theme/src/scss/mixins/scroll' as scroll;

:global {
  .closed {
    padding: 0 !important;
    border-left: none !important;

    & > div {
      display: none;
    }
  }

  .opened {
    border-left: var(--ifm-common-bdw) solid var(--ifm-color-emphasis-200);
    padding: var(--docitem-padding-y) 64px 0;
  }
}

.desktopToc {
  flex: unset !important;
  width: var(--right-sidebar-w);
  flex-shrink: 0;
  transition: width var(--ifm-transition-fast) ease;

  & > div {
    top: var(--docitem-padding-y);
    min-width: 254px;
    max-height: calc(100vh - var(--docitem-padding-y) - var(--ifm-navbar-height));
  }
}

.scrollbar-light > div {
  @include scroll.scrollbar('mini', 'onLight');
}

.scrollbar-dark > div {
  @include scroll.scrollbar('mini', 'onDark');
}

.mobileToc {
  border-bottom: var(--ifm-common-bdw) solid var(--ifm-color-emphasis-200);
  padding: var(--docitem-mobile-padding-y) var(--docitem-mobile-padding-x);

  @media (width >= 1440px) {
    // padding: var(--docitem-padding-y) var(--docitem-padding-x);
    padding: var(--docitem-mobile-padding-y) var(--docitem-mobile-padding-x);
  }

  & > div {
    @media (max-width: 996px) {
      display: block !important;
    }
  }
}
