$scale: (
  height: (
    2xl: 64px,
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  width: (
    2xl: 64px,
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  stroke-width: (
    2xl: 2.2px,
    xl: 2.4px,
    l: 2.8px,
    m: 3px,
    s: 3.2px,
    xs: 3.4px,
  ),
);
