$variables: (
  theme-light: (
    --spnr_pm_cnt-gn: rgb(64, 96, 255),
  ),
  theme-dark: (
    --spnr_pm_cnt-gn: rgb(64, 96, 255),
  ),
  theme-color: (
    --spnr_pm_cnt-gn: rgba(255, 255, 255, 0.6),
  ),
);
