$scale: (
  inset-x: (
    s: 64px,
  ),
  inset-y: (
    s: 64px,
  ),
  min-width: (
    s: 384px,
  ),
  min-height: (
    s: 256px,
  ),
  border-radius: (
    s: 24px,
  ),
  content-padding-y: (
    s: 32px,
  ),
  content-padding-x: (
    s: 32px,
  ),
);
