$theme-color: (
  color-default: (
    content-general: var(--mdl_df_cnt-gn, rgb(10, 10, 10)),
    background: var(--mdl_df_bgc, rgb(255, 255, 255)),
    overlay-background: var(--mdl_df_overlay-bgc, rgba(255, 255, 255, 0.8)),
    drop-shadow: var(--mdl_df_drp-sh, 0 0 0 0 transparent),
    border-shadow: var(--mdl_df_bd-sh, 0 0 0 2px rgb(235, 235, 235)),
    mobile-close-button-background:
      var(--mdl_df_mobile-cs-btn-bgc, rgb(128, 128, 128)),
    mobile-close-button-background-hovered:
      var(--mdl_df_mobile-cs-btn-bgc-h, rgb(139, 139, 222)),
    mobile-close-button-background-pressed:
      var(--mdl_df_mobile-cs-btn-bgc-p, rgb(64, 96, 255)),
  ),
);
