.examples {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8px);
}

.list {
  padding-top: 16px;
  padding-left: 16px;

  .item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
