.value {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 !important;
  font-size: var(--cmbx-control-fz);
  line-height: var(--cmbx-control-lh);
  font-weight: var(--cmbx-control-fw);
  color: var(--cmbx-control-cnt-gn) !important;

  .title {
    display: block;
    padding-left: 0;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_noIcon {
      padding-left: var(--cmbx-control-pd-x);
    }
  }
}
