$variables: (
  theme-light: (
    --ntfc_pm_cnt-gn: rgb(10, 10, 10),
    --ntfc_pm_cnt-ad: rgb(61, 61, 61),
    --ntfc_pm_bgc: rgb(235, 235, 235),
    --ntfc_sc_cnt-gn: rgb(10, 10, 10),
    --ntfc_sc_cnt-ad: rgb(61, 61, 61),
    --ntfc_sc_bgc: rgb(255, 255, 255),
    --ntfc_tt_cnt-gn: rgb(64, 96, 255),
    --ntfc_tt_cnt-ad: rgb(86, 86, 207),
    --ntfc_tt_bgc: rgb(237, 237, 250),
    --ntfc_qt_cnt-gn: rgb(128, 48, 255),
    --ntfc_qt_cnt-ad: rgb(158, 98, 255),
    --ntfc_qt_bgc: rgb(245, 238, 255),
    --ntfc_inf_cnt-gn: rgb(64, 128, 255),
    --ntfc_inf_cnt-ad: rgb(110, 158, 255),
    --ntfc_inf_bgc: rgb(240, 245, 255),
    --ntfc_ps_cnt-gn: rgb(0, 192, 96),
    --ntfc_ps_cnt-ad: rgb(61, 207, 134),
    --ntfc_ps_bgc: rgb(235, 250, 242),
    --ntfc_at_cnt-gn: rgb(255, 192, 32),
    --ntfc_at_cnt-ad: rgb(255, 207, 86),
    --ntfc_at_bgc: rgb(255, 250, 237),
    --ntfc_ng_cnt-gn: rgb(255, 96, 64),
    --ntfc_ng_cnt-ad: rgb(255, 134, 110),
    --ntfc_ng_bgc: rgb(255, 242, 240),
  ),
  theme-dark: (
    --ntfc_pm_cnt-gn: rgb(255, 255, 255),
    --ntfc_pm_cnt-ad: rgb(194, 194, 194),
    --ntfc_pm_bgc: rgb(20, 20, 20),
    --ntfc_sc_cnt-gn: rgb(255, 255, 255),
    --ntfc_sc_cnt-ad: rgb(194, 194, 194),
    --ntfc_sc_bgc: rgb(10, 10, 10),
    --ntfc_tt_cnt-gn: rgb(255, 255, 255),
    --ntfc_tt_cnt-ad: rgba(255, 255, 255, 0.4),
    --ntfc_tt_bgc: rgb(64, 96, 255),
    --ntfc_qt_cnt-gn: rgb(255, 255, 255),
    --ntfc_qt_cnt-ad: rgba(255, 255, 255, 0.4),
    --ntfc_qt_bgc: rgb(128, 48, 255),
    --ntfc_inf_cnt-gn: rgb(255, 255, 255),
    --ntfc_inf_cnt-ad: rgba(255, 255, 255, 0.4),
    --ntfc_inf_bgc: rgb(64, 128, 255),
    --ntfc_ps_cnt-gn: rgb(255, 255, 255),
    --ntfc_ps_cnt-ad: rgba(255, 255, 255, 0.4),
    --ntfc_ps_bgc: rgb(0, 192, 96),
    --ntfc_at_cnt-gn: rgb(255, 255, 255),
    --ntfc_at_cnt-ad: rgba(255, 255, 255, 0.4),
    --ntfc_at_bgc: rgb(255, 192, 32),
    --ntfc_ng_cnt-gn: rgb(255, 255, 255),
    --ntfc_ng_cnt-ad: rgba(255, 255, 255, 0.4),
    --ntfc_ng_bgc: rgb(255, 96, 64),
  ),
  theme-color: (
    --ntfc_pm_cnt-gn: rgb(10, 10, 10),
    --ntfc_pm_cnt-ad: rgb(61, 61, 61),
    --ntfc_pm_bgc: rgb(235, 235, 235),
    --ntfc_sc_cnt-gn: rgb(10, 10, 10),
    --ntfc_sc_cnt-ad: rgb(61, 61, 61),
    --ntfc_sc_bgc: rgb(255, 255, 255),
    --ntfc_tt_cnt-gn: rgb(64, 96, 255),
    --ntfc_tt_cnt-ad: rgb(86, 86, 207),
    --ntfc_tt_bgc: rgb(237, 237, 250),
    --ntfc_qt_cnt-gn: rgb(128, 48, 255),
    --ntfc_qt_cnt-ad: rgb(158, 98, 255),
    --ntfc_qt_bgc: rgb(245, 238, 255),
    --ntfc_inf_cnt-gn: rgb(64, 128, 255),
    --ntfc_inf_cnt-ad: rgb(110, 158, 255),
    --ntfc_inf_bgc: rgb(240, 245, 255),
    --ntfc_ps_cnt-gn: rgb(0, 192, 96),
    --ntfc_ps_cnt-ad: rgb(61, 207, 134),
    --ntfc_ps_bgc: rgb(235, 250, 242),
    --ntfc_at_cnt-gn: rgb(255, 192, 32),
    --ntfc_at_cnt-ad: rgb(255, 207, 86),
    --ntfc_at_bgc: rgb(255, 250, 237),
    --ntfc_ng_cnt-gn: rgb(255, 96, 64),
    --ntfc_ng_cnt-ad: rgb(255, 134, 110),
    --ntfc_ng_bgc: rgb(255, 242, 240),
  ),
);
