$scale: (
  padding-x: (
    xs: 0px,
  ),
  padding-y: (
    xs: 0px,
  ),
  gap-x: (
    xs: 8px,
  ),
  glyph-width: (
    xs: 24px,
  ),
  glyph-height: (
    xs: 24px,
  ),
  glyph-border-width: (
    xs: 2px,
  ),
  glyph-inner-size: (
    xs: 12px,
  ),
  text-gap-x: (
    xs: 12px,
  ),
  text-font-size: (
    xs: 16px,
  ),
  text-letter-spacing: (
    xs: 0px,
  ),
  text-line-height: (
    xs: 24px,
  ),
  text-padding-x: (
    xs: 8px,
  ),
  text-padding-y: (
    xs: 0px,
  ),
);
