$variables: (
  theme-light: (
    --rdo_c-s_txt-gn: rgb(10, 10, 10),
    --rdo_c-s_txt-gn-db: rgb(128, 128, 128),
    --rdo_c-s_txt-ad: rgb(128, 128, 128),
    --rdo_c-s_txt-ad-db: rgb(128, 128, 128),
    --rdo_c-s_glph-gn: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-gn-f: rgb(139, 139, 222),
    --rdo_c-s_glph-gn-h: rgb(64, 96, 255),
    --rdo_c-s_glph-gn-a: rgb(64, 96, 255),
    --rdo_c-s_glph-gn-p: rgb(64, 96, 255),
    --rdo_c-s_glph-gn-db: rgb(128, 128, 128),
    --rdo_c-s_glph-ad: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-f: rgb(64, 96, 255),
    --rdo_c-s_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-a: rgb(64, 96, 255),
    --rdo_c-s_glph-ad-p: rgb(139, 139, 222),
    --rdo_c-s_glph-ad-db: rgb(128, 128, 128),
    --rdo_c-s_glph-bgc: rgb(235, 235, 235),
    --rdo_c-s_glph-bgc-f: rgb(235, 235, 235),
    --rdo_c-s_glph-bgc-h: rgb(235, 235, 235),
    --rdo_c-s_glph-bgc-a: rgb(235, 235, 235),
    --rdo_c-s_glph-bgc-p: rgb(235, 235, 235),
    --rdo_c-s_glph-bgc-db: rgb(235, 235, 235),
    --rdo_c-s-alt_txt-gn: rgb(10, 10, 10),
    --rdo_c-s-alt_txt-gn-db: rgb(128, 128, 128),
    --rdo_c-s-alt_txt-ad: rgb(128, 128, 128),
    --rdo_c-s-alt_txt-ad-db: rgb(128, 128, 128),
    --rdo_c-s-alt_glph-gn: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-gn-f: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-gn-h: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-gn-a: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-gn-p: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-gn-db: rgb(194, 194, 194),
    --rdo_c-s-alt_glph-ad: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-f: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-a: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-ad-p: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-ad-db: rgb(128, 128, 128),
    --rdo_c-s-alt_glph-bgc: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-bgc-f: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-bgc-h: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-bgc-a: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-bgc-p: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-bgc-db: rgb(194, 194, 194),
    --rdo_s-sc_txt-gn: rgb(10, 10, 10),
    --rdo_s-sc_txt-gn-db: rgb(128, 128, 128),
    --rdo_s-sc_txt-ad: rgb(128, 128, 128),
    --rdo_s-sc_txt-ad-db: rgb(128, 128, 128),
    --rdo_s-sc_glph-gn: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-gn-f: rgb(139, 139, 222),
    --rdo_s-sc_glph-gn-h: rgb(64, 96, 255),
    --rdo_s-sc_glph-gn-a: rgb(0, 192, 96),
    --rdo_s-sc_glph-gn-p: rgb(64, 96, 255),
    --rdo_s-sc_glph-gn-db: rgb(128, 128, 128),
    --rdo_s-sc_glph-ad: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-f: rgb(64, 96, 255),
    --rdo_s-sc_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-a: rgb(0, 192, 96),
    --rdo_s-sc_glph-ad-p: rgb(139, 139, 222),
    --rdo_s-sc_glph-ad-db: rgb(128, 128, 128),
    --rdo_s-sc_glph-bgc: rgb(235, 235, 235),
    --rdo_s-sc_glph-bgc-f: rgb(235, 235, 235),
    --rdo_s-sc_glph-bgc-h: rgb(235, 235, 235),
    --rdo_s-sc_glph-bgc-a: rgb(235, 235, 235),
    --rdo_s-sc_glph-bgc-p: rgb(235, 235, 235),
    --rdo_s-sc_glph-bgc-db: rgb(235, 235, 235),
    --rdo_s-er_txt-gn: rgb(10, 10, 10),
    --rdo_s-er_txt-gn-db: rgb(128, 128, 128),
    --rdo_s-er_txt-ad: rgb(128, 128, 128),
    --rdo_s-er_txt-ad-db: rgb(128, 128, 128),
    --rdo_s-er_glph-gn: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-gn-f: rgb(139, 139, 222),
    --rdo_s-er_glph-gn-h: rgb(64, 96, 255),
    --rdo_s-er_glph-gn-a: rgb(255, 96, 64),
    --rdo_s-er_glph-gn-p: rgb(64, 96, 255),
    --rdo_s-er_glph-gn-db: rgb(128, 128, 128),
    --rdo_s-er_glph-ad: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-f: rgb(64, 96, 255),
    --rdo_s-er_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-a: rgb(255, 96, 64),
    --rdo_s-er_glph-ad-p: rgb(139, 139, 222),
    --rdo_s-er_glph-ad-db: rgb(128, 128, 128),
    --rdo_s-er_glph-bgc: rgb(235, 235, 235),
    --rdo_s-er_glph-bgc-f: rgb(235, 235, 235),
    --rdo_s-er_glph-bgc-h: rgb(235, 235, 235),
    --rdo_s-er_glph-bgc-a: rgb(235, 235, 235),
    --rdo_s-er_glph-bgc-p: rgb(235, 235, 235),
    --rdo_s-er_glph-bgc-db: rgb(235, 235, 235),
  ),
  theme-dark: (
    --rdo_c-s_txt-gn: rgb(255, 255, 255),
    --rdo_c-s_txt-gn-db: rgb(128, 128, 128),
    --rdo_c-s_txt-ad: rgb(128, 128, 128),
    --rdo_c-s_txt-ad-db: rgb(128, 128, 128),
    --rdo_c-s_glph-gn: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-gn-f: rgb(139, 139, 222),
    --rdo_c-s_glph-gn-h: rgb(64, 96, 255),
    --rdo_c-s_glph-gn-a: rgb(64, 96, 255),
    --rdo_c-s_glph-gn-p: rgb(64, 96, 255),
    --rdo_c-s_glph-gn-db: rgb(128, 128, 128),
    --rdo_c-s_glph-ad: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-f: rgb(64, 96, 255),
    --rdo_c-s_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-a: rgb(64, 96, 255),
    --rdo_c-s_glph-ad-p: rgb(139, 139, 222),
    --rdo_c-s_glph-ad-db: rgb(128, 128, 128),
    --rdo_c-s_glph-bgc: rgb(20, 20, 20),
    --rdo_c-s_glph-bgc-f: rgb(20, 20, 20),
    --rdo_c-s_glph-bgc-h: rgb(20, 20, 20),
    --rdo_c-s_glph-bgc-a: rgb(20, 20, 20),
    --rdo_c-s_glph-bgc-p: rgb(20, 20, 20),
    --rdo_c-s_glph-bgc-db: rgb(20, 20, 20),
    --rdo_c-s-alt_txt-gn: rgb(255, 255, 255),
    --rdo_c-s-alt_txt-gn-db: rgb(128, 128, 128),
    --rdo_c-s-alt_txt-ad: rgb(128, 128, 128),
    --rdo_c-s-alt_txt-ad-db: rgb(128, 128, 128),
    --rdo_c-s-alt_glph-gn: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-gn-f: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-gn-h: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-gn-a: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-gn-p: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-gn-db: rgb(61, 61, 61),
    --rdo_c-s-alt_glph-ad: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-f: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-a: rgb(64, 96, 255),
    --rdo_c-s-alt_glph-ad-p: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-ad-db: rgb(10, 10, 10),
    --rdo_c-s-alt_glph-bgc: rgb(10, 10, 10),
    --rdo_c-s-alt_glph-bgc-f: rgb(10, 10, 10),
    --rdo_c-s-alt_glph-bgc-h: rgb(10, 10, 10),
    --rdo_c-s-alt_glph-bgc-a: rgb(10, 10, 10),
    --rdo_c-s-alt_glph-bgc-p: rgb(10, 10, 10),
    --rdo_c-s-alt_glph-bgc-db: rgb(61, 61, 61),
    --rdo_s-sc_txt-gn: rgb(255, 255, 255),
    --rdo_s-sc_txt-gn-db: rgb(128, 128, 128),
    --rdo_s-sc_txt-ad: rgb(128, 128, 128),
    --rdo_s-sc_txt-ad-db: rgb(128, 128, 128),
    --rdo_s-sc_glph-gn: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-gn-f: rgb(139, 139, 222),
    --rdo_s-sc_glph-gn-h: rgb(64, 96, 255),
    --rdo_s-sc_glph-gn-a: rgb(0, 192, 96),
    --rdo_s-sc_glph-gn-p: rgb(64, 96, 255),
    --rdo_s-sc_glph-gn-db: rgb(128, 128, 128),
    --rdo_s-sc_glph-ad: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-f: rgb(64, 96, 255),
    --rdo_s-sc_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-a: rgb(0, 192, 96),
    --rdo_s-sc_glph-ad-p: rgb(139, 139, 222),
    --rdo_s-sc_glph-ad-db: rgb(128, 128, 128),
    --rdo_s-sc_glph-bgc: rgb(20, 20, 20),
    --rdo_s-sc_glph-bgc-f: rgb(20, 20, 20),
    --rdo_s-sc_glph-bgc-h: rgb(20, 20, 20),
    --rdo_s-sc_glph-bgc-a: rgb(20, 20, 20),
    --rdo_s-sc_glph-bgc-p: rgb(20, 20, 20),
    --rdo_s-sc_glph-bgc-db: rgb(20, 20, 20),
    --rdo_s-er_txt-gn: rgb(255, 255, 255),
    --rdo_s-er_txt-gn-db: rgb(128, 128, 128),
    --rdo_s-er_txt-ad: rgb(128, 128, 128),
    --rdo_s-er_txt-ad-db: rgb(128, 128, 128),
    --rdo_s-er_glph-gn: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-gn-f: rgb(139, 139, 222),
    --rdo_s-er_glph-gn-h: rgb(64, 96, 255),
    --rdo_s-er_glph-gn-a: rgb(255, 96, 64),
    --rdo_s-er_glph-gn-p: rgb(64, 96, 255),
    --rdo_s-er_glph-gn-db: rgb(128, 128, 128),
    --rdo_s-er_glph-ad: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-f: rgb(64, 96, 255),
    --rdo_s-er_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-a: rgb(255, 96, 64),
    --rdo_s-er_glph-ad-p: rgb(139, 139, 222),
    --rdo_s-er_glph-ad-db: rgb(128, 128, 128),
    --rdo_s-er_glph-bgc: rgb(20, 20, 20),
    --rdo_s-er_glph-bgc-f: rgb(20, 20, 20),
    --rdo_s-er_glph-bgc-h: rgb(20, 20, 20),
    --rdo_s-er_glph-bgc-a: rgb(20, 20, 20),
    --rdo_s-er_glph-bgc-p: rgb(20, 20, 20),
    --rdo_s-er_glph-bgc-db: rgb(20, 20, 20),
  ),
  theme-color: (
    --rdo_c-s_txt-gn: rgb(255, 255, 255),
    --rdo_c-s_txt-gn-db: rgb(139, 139, 222),
    --rdo_c-s_txt-ad: rgb(139, 139, 222),
    --rdo_c-s_txt-ad-db: rgb(139, 139, 222),
    --rdo_c-s_glph-gn: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-gn-f: rgb(139, 139, 222),
    --rdo_c-s_glph-gn-h: rgb(255, 255, 255),
    --rdo_c-s_glph-gn-a: rgb(255, 255, 255),
    --rdo_c-s_glph-gn-p: rgb(255, 255, 255),
    --rdo_c-s_glph-gn-db: rgb(139, 139, 222),
    --rdo_c-s_glph-ad: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-f: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_c-s_glph-ad-a: rgb(255, 255, 255),
    --rdo_c-s_glph-ad-p: rgb(184, 184, 235),
    --rdo_c-s_glph-ad-db: rgb(139, 139, 222),
    --rdo_c-s_glph-bgc: rgb(139, 139, 222),
    --rdo_c-s_glph-bgc-f: rgb(139, 139, 222),
    --rdo_c-s_glph-bgc-h: rgb(139, 139, 222),
    --rdo_c-s_glph-bgc-a: rgb(139, 139, 222),
    --rdo_c-s_glph-bgc-p: rgb(139, 139, 222),
    --rdo_c-s_glph-bgc-db: rgb(86, 86, 207),
    --rdo_c-s-alt_txt-gn: rgb(255, 255, 255),
    --rdo_c-s-alt_txt-gn-db: rgb(139, 139, 222),
    --rdo_c-s-alt_txt-ad: rgb(139, 139, 222),
    --rdo_c-s-alt_txt-ad-db: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-gn: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-gn-f: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-gn-h: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-gn-a: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-gn-p: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-gn-db: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-ad: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-f: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_c-s-alt_glph-ad-a: rgb(255, 255, 255),
    --rdo_c-s-alt_glph-ad-p: rgb(184, 184, 235),
    --rdo_c-s-alt_glph-ad-db: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-bgc: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-bgc-f: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-bgc-h: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-bgc-a: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-bgc-p: rgb(139, 139, 222),
    --rdo_c-s-alt_glph-bgc-db: rgb(86, 86, 207),
    --rdo_s-sc_txt-gn: rgb(255, 255, 255),
    --rdo_s-sc_txt-gn-db: rgb(139, 139, 222),
    --rdo_s-sc_txt-ad: rgb(139, 139, 222),
    --rdo_s-sc_txt-ad-db: rgb(139, 139, 222),
    --rdo_s-sc_glph-gn: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-gn-f: rgb(139, 139, 222),
    --rdo_s-sc_glph-gn-h: rgb(255, 255, 255),
    --rdo_s-sc_glph-gn-a: rgb(122, 222, 172),
    --rdo_s-sc_glph-gn-p: rgb(255, 255, 255),
    --rdo_s-sc_glph-gn-db: rgb(139, 139, 222),
    --rdo_s-sc_glph-ad: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-f: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_s-sc_glph-ad-a: rgb(122, 222, 172),
    --rdo_s-sc_glph-ad-p: rgb(184, 184, 235),
    --rdo_s-sc_glph-ad-db: rgb(139, 139, 222),
    --rdo_s-sc_glph-bgc: rgb(139, 139, 222),
    --rdo_s-sc_glph-bgc-f: rgb(139, 139, 222),
    --rdo_s-sc_glph-bgc-h: rgb(139, 139, 222),
    --rdo_s-sc_glph-bgc-a: rgb(139, 139, 222),
    --rdo_s-sc_glph-bgc-p: rgb(139, 139, 222),
    --rdo_s-sc_glph-bgc-db: rgb(86, 86, 207),
    --rdo_s-er_txt-gn: rgb(255, 255, 255),
    --rdo_s-er_txt-gn-db: rgb(139, 139, 222),
    --rdo_s-er_txt-ad: rgb(139, 139, 222),
    --rdo_s-er_txt-ad-db: rgb(139, 139, 222),
    --rdo_s-er_glph-gn: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-gn-f: rgb(139, 139, 222),
    --rdo_s-er_glph-gn-h: rgb(255, 255, 255),
    --rdo_s-er_glph-gn-a: rgb(255, 172, 156),
    --rdo_s-er_glph-gn-p: rgb(255, 255, 255),
    --rdo_s-er_glph-gn-db: rgb(139, 139, 222),
    --rdo_s-er_glph-ad: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-f: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-h: rgba(0, 0, 0, 0),
    --rdo_s-er_glph-ad-a: rgb(255, 172, 156),
    --rdo_s-er_glph-ad-p: rgb(184, 184, 235),
    --rdo_s-er_glph-ad-db: rgb(139, 139, 222),
    --rdo_s-er_glph-bgc: rgb(139, 139, 222),
    --rdo_s-er_glph-bgc-f: rgb(139, 139, 222),
    --rdo_s-er_glph-bgc-h: rgb(139, 139, 222),
    --rdo_s-er_glph-bgc-a: rgb(139, 139, 222),
    --rdo_s-er_glph-bgc-p: rgb(139, 139, 222),
    --rdo_s-er_glph-bgc-db: rgb(86, 86, 207),
  ),
);
