$variables: (
  theme-light: (
    --tphy_tp: rgba(#000000, 0),
    --tphy_dk: rgb(23, 23, 23),
    --tphy_lt: #ffffff,
    --tphy_nc: #292929,
    --tphy_pm: #6e56e7,
    --tphy_sc: #3d86ff,
    --tphy_inf: #6e56e7,
    --tphy_ps: #3dcf86,
    --tphy_at: #ffb756,
    --tphy_ng: #ff866e,
    --tphy_s-db: #292929,
    --tphy_s-sk: rgba(#000000, 0),
  ),
  theme-dark: (
    --tphy_tp: rgba(#000000, 0),
    --tphy_nc: #292929,
    --tphy_lt: #ffffff,
    --tphy_dk: rgb(23, 23, 23),
    --tphy_pm: #6e56e7,
    --tphy_sc: #3d86ff,
    --tphy_inf: #6e56e7,
    --tphy_ps: #3dcf86,
    --tphy_at: #ffb756,
    --tphy_ng: #ff866e,
    --tphy_s-db: #292929,
    --tphy_s-sk: rgba(#000000, 0),
  ),
);
