$content: (
  padding-x: (
    default: 32px,
  ),
  padding-y: (
    default: 32px,
  ),
  border-radius: (
    default: 16px,
  ),
  icon-padding: (
    default: 20px,
  ),
  title-font-size: (
    default: 22px,
  ),
  title-line-height: (
    default: 28px,
  ),
  title-letter-spacing: (
    default: 1px,
  ),
  description-font-size: (
    default: 16px,
  ),
  description-line-height: (
    default: 24px,
  ),
  description-letter-spacing: (
    default: 1px,
  ),
);
