$scale: (
  width: (
    xl: 32px,
    l: 28px,
    m: 24px,
    s: 20px,
    xs: 16px,
  ),
  height: (
    xl: 32px,
    l: 28px,
    m: 24px,
    s: 20px,
    xs: 16px,
  ),
  border-width: (
    xl: 12px,
    l: 8px,
    m: 4px,
    s: 2px,
    xs: 1px,
  ),
);
