$scale: (
  width: (
    xs: 88px,
  ),
  padding-x: (
    xs: 0px,
  ),
  padding-y: (
    xs: 0px,
  ),
  gap-x: (
    xs: 6px,
  ),
  glyph-width: (
    xs: 40px,
  ),
  glyph-height: (
    xs: 24px,
  ),
  glyph-border-radius: (
    xs: 12px,
  ),
  glyph-toggler-size: (
    xs: 16px,
  ),
  glyph-border-width: (
    xs: 2px,
  ),
  glyph-inner-width: (
    xs: 12px,
  ),
  glyph-inner-height: (
    xs: 12px,
  ),
  text-font-size: (
    xs: 14px,
  ),
  text-letter-spacing: (
    xs: 0px,
  ),
  text-line-height: (
    xs: 24px,
  ),
  text-padding-x: (
    xs: 8px,
  ),
  text-padding-y: (
    xs: 0px,
  ),
);
