$theme-dark: (
  color-solid: (
    text-general: var(--sch_c-s_txt-gn, rgb(255, 255, 255)),
    text-general-hovered: var(--sch_c-s_txt-gn-h, rgb(255, 255, 255)),
    text-general-pressed: var(--sch_c-s_txt-gn-p, rgb(255, 255, 255)),
    text-general-disabled: var(--sch_c-s_txt-gn-db, rgb(128, 128, 128)),
    text-additional: var(--sch_c-s_txt-ad, rgb(128, 128, 128)),
    text-additional-hovered: var(--sch_c-s_txt-ad-h, rgb(128, 128, 128)),
    text-additional-pressed: var(--sch_c-s_txt-ad-p, rgb(128, 128, 128)),
    text-additional-disabled: var(--sch_c-s_txt-ad-db, rgb(128, 128, 128)),
    glyph-general: var(--sch_c-s_glph-gn, rgb(64, 96, 255)),
    glyph-general-focused: var(--sch_c-s_glph-gn-f, rgb(139, 139, 222)),
    glyph-general-hovered: var(--sch_c-s_glph-gn-h, rgb(139, 139, 222)),
    glyph-general-pressed: var(--sch_c-s_glph-gn-p, rgb(139, 139, 222)),
    glyph-general-disabled: var(--sch_c-s_glph-gn-db, rgb(20, 20, 20)),
    glyph-additional: var(--sch_c-s_glph-ad, rgb(64, 96, 255)),
    glyph-additional-focused: var(--sch_c-s_glph-ad-f, rgb(64, 96, 255)),
    glyph-additional-hovered: var(--sch_c-s_glph-ad-h, rgb(139, 139, 222)),
    glyph-additional-pressed: var(--sch_c-s_glph-ad-p, rgb(64, 96, 255)),
    glyph-additional-disabled: var(--sch_c-s_glph-ad-db, rgb(128, 128, 128)),
    glyph-background: var(--sch_c-s_glph-bgc, rgb(20, 20, 20)),
    glyph-background-focused: var(--sch_c-s_glph-bgc-f, rgb(20, 20, 20)),
    glyph-background-hovered: var(--sch_c-s_glph-bgc-h, rgb(20, 20, 20)),
    glyph-background-pressed: var(--sch_c-s_glph-bgc-p, rgb(20, 20, 20)),
    glyph-background-disabled: var(--sch_c-s_glph-bgc-db, rgb(20, 20, 20)),
  ),
  color-solid-alt: (
    text-general: var(--sch_c-s-alt_txt-gn, rgb(255, 255, 255)),
    text-general-hovered: var(--sch_c-s-alt_txt-gn-h, rgb(255, 255, 255)),
    text-general-pressed: var(--sch_c-s-alt_txt-gn-p, rgb(255, 255, 255)),
    text-general-disabled: var(--sch_c-s-alt_txt-gn-db, rgb(128, 128, 128)),
    text-additional: var(--sch_c-s-alt_txt-ad, rgb(128, 128, 128)),
    text-additional-hovered: var(--sch_c-s-alt_txt-ad-h, rgb(128, 128, 128)),
    text-additional-pressed: var(--sch_c-s-alt_txt-ad-p, rgb(128, 128, 128)),
    text-additional-disabled: var(--sch_c-s-alt_txt-ad-db, rgb(128, 128, 128)),
    glyph-general: var(--sch_c-s-alt_glph-gn, rgb(64, 96, 255)),
    glyph-general-focused: var(--sch_c-s-alt_glph-gn-f, rgb(139, 139, 222)),
    glyph-general-hovered: var(--sch_c-s-alt_glph-gn-h, rgb(139, 139, 222)),
    glyph-general-pressed: var(--sch_c-s-alt_glph-gn-p, rgb(139, 139, 222)),
    glyph-general-disabled: var(--sch_c-s-alt_glph-gn-db, rgb(61, 61, 61)),
    glyph-additional: var(--sch_c-s-alt_glph-ad, rgb(64, 96, 255)),
    glyph-additional-focused: var(--sch_c-s-alt_glph-ad-f, rgb(64, 96, 255)),
    glyph-additional-hovered: var(--sch_c-s-alt_glph-ad-h, rgb(139, 139, 222)),
    glyph-additional-pressed: var(--sch_c-s-alt_glph-ad-p, rgb(64, 96, 255)),
    glyph-additional-disabled: var(--sch_c-s-alt_glph-ad-db, rgb(10, 10, 10)),
    glyph-background: var(--sch_c-s-alt_glph-bgc, rgb(10, 10, 10)),
    glyph-background-focused: var(--sch_c-s-alt_glph-bgc-f, rgb(10, 10, 10)),
    glyph-background-hovered: var(--sch_c-s-alt_glph-bgc-h, rgb(10, 10, 10)),
    glyph-background-pressed: var(--sch_c-s-alt_glph-bgc-p, rgb(10, 10, 10)),
    glyph-background-disabled: var(--sch_c-s-alt_glph-bgc-db, rgb(61, 61, 61)),
  ),
  state-success: (
    text-general: var(--sch_s-sc_txt-gn, rgb(255, 255, 255)),
    text-general-hovered: var(--sch_s-sc_txt-gn-h, rgb(255, 255, 255)),
    text-general-pressed: var(--sch_s-sc_txt-gn-p, rgb(255, 255, 255)),
    text-general-disabled: var(--sch_s-sc_txt-gn-db, rgb(128, 128, 128)),
    text-additional: var(--sch_s-sc_txt-ad, rgb(128, 128, 128)),
    text-additional-hovered: var(--sch_s-sc_txt-ad-h, rgb(128, 128, 128)),
    text-additional-pressed: var(--sch_s-sc_txt-ad-p, rgb(128, 128, 128)),
    text-additional-disabled: var(--sch_s-sc_txt-ad-db, rgb(128, 128, 128)),
    glyph-general: var(--sch_s-sc_glph-gn, rgb(64, 96, 255)),
    glyph-general-focused: var(--sch_s-sc_glph-gn-f, rgb(139, 139, 222)),
    glyph-general-hovered: var(--sch_s-sc_glph-gn-h, rgb(139, 139, 222)),
    glyph-general-pressed: var(--sch_s-sc_glph-gn-p, rgb(139, 139, 222)),
    glyph-general-disabled: var(--sch_s-sc_glph-gn-db, rgb(20, 20, 20)),
    glyph-additional: var(--sch_s-sc_glph-ad, rgb(64, 96, 255)),
    glyph-additional-focused: var(--sch_s-sc_glph-ad-f, rgb(64, 96, 255)),
    glyph-additional-hovered: var(--sch_s-sc_glph-ad-h, rgb(139, 139, 222)),
    glyph-additional-pressed: var(--sch_s-sc_glph-ad-p, rgb(64, 96, 255)),
    glyph-additional-disabled: var(--sch_s-sc_glph-ad-db, rgb(128, 128, 128)),
    glyph-background: var(--sch_s-sc_glph-bgc, rgb(20, 20, 20)),
    glyph-background-focused: var(--sch_s-sc_glph-bgc-f, rgb(20, 20, 20)),
    glyph-background-hovered: var(--sch_s-sc_glph-bgc-h, rgb(20, 20, 20)),
    glyph-background-pressed: var(--sch_s-sc_glph-bgc-p, rgb(20, 20, 20)),
    glyph-background-disabled: var(--sch_s-sc_glph-bgc-db, rgb(20, 20, 20)),
  ),
  state-error: (
    text-general: var(--sch_s-er_txt-gn, rgb(255, 255, 255)),
    text-general-hovered: var(--sch_s-er_txt-gn-h, rgb(255, 255, 255)),
    text-general-pressed: var(--sch_s-er_txt-gn-p, rgb(255, 255, 255)),
    text-general-disabled: var(--sch_s-er_txt-gn-db, rgb(128, 128, 128)),
    text-additional: var(--sch_s-er_txt-ad, rgb(128, 128, 128)),
    text-additional-hovered: var(--sch_s-er_txt-ad-h, rgb(128, 128, 128)),
    text-additional-pressed: var(--sch_s-er_txt-ad-p, rgb(128, 128, 128)),
    text-additional-disabled: var(--sch_s-er_txt-ad-db, rgb(128, 128, 128)),
    glyph-general: var(--sch_s-er_glph-gn, rgb(64, 96, 255)),
    glyph-general-focused: var(--sch_s-er_glph-gn-f, rgb(139, 139, 222)),
    glyph-general-hovered: var(--sch_s-er_glph-gn-h, rgb(139, 139, 222)),
    glyph-general-pressed: var(--sch_s-er_glph-gn-p, rgb(139, 139, 222)),
    glyph-general-disabled: var(--sch_s-er_glph-gn-db, rgb(20, 20, 20)),
    glyph-additional: var(--sch_s-er_glph-ad, rgb(64, 96, 255)),
    glyph-additional-focused: var(--sch_s-er_glph-ad-f, rgb(64, 96, 255)),
    glyph-additional-hovered: var(--sch_s-er_glph-ad-h, rgb(139, 139, 222)),
    glyph-additional-pressed: var(--sch_s-er_glph-ad-p, rgb(64, 96, 255)),
    glyph-additional-disabled: var(--sch_s-er_glph-ad-db, rgb(128, 128, 128)),
    glyph-background: var(--sch_s-er_glph-bgc, rgb(20, 20, 20)),
    glyph-background-focused: var(--sch_s-er_glph-bgc-f, rgb(20, 20, 20)),
    glyph-background-hovered: var(--sch_s-er_glph-bgc-h, rgb(20, 20, 20)),
    glyph-background-pressed: var(--sch_s-er_glph-bgc-p, rgb(20, 20, 20)),
    glyph-background-disabled: var(--sch_s-er_glph-bgc-db, rgb(20, 20, 20)),
  ),
);
