$scale: (
  track-width: (
    xs: 8px,
    xs-doc: 8px,
    mini: 4px,
  ),
  track-padding: (
    xs: 0px,
    xs-doc: 0px,
    mini: 0px,
  ),
  thumb-width: (
    xs: 8px,
    xs-doc: 8px,
    mini: 4px,
  ),
  thumb-height: (
    xs: 32px,
    xs-doc: 32px,
    mini: 32px,
  ),
  track-border-radius: (
    xs: 4px,
    xs-doc: 0px,
    mini: 2px,
  ),
  thumb-border-radius: (
    xs: 4px,
    xs-doc: 4px,
    mini: 2px,
  ),
);
