$variables: (
  theme-light: (
    --scrl_df_thmb: rgb(194, 194, 194),
    --scrl_df_thmb-h: rgb(64, 96, 255),
    --scrl_df_trck: rgb(235, 235, 235),
    --scrl_df_trck-h: rgb(235, 235, 235),
    --scrl_dc_thmb: rgba(255, 255, 255, 0.2),
    --scrl_dc_thmb-h: rgba(255, 255, 255, 0.4),
    --scrl_dc_trck: rgb(64, 96, 255),
    --scrl_dc_trck-h: rgb(64, 96, 255),
    --scrl_ui_thmb: rgb(128, 128, 128),
    --scrl_ui_thmb-h: rgb(64, 96, 255),
    --scrl_ui_trck: rgb(194, 194, 194),
    --scrl_ui_trck-h: rgb(194, 194, 194),
    --scrl_s-db_thmb: rgba(128, 128, 128, 0.4),
    --scrl_s-db_thmb-h: rgba(128, 128, 128, 0.4),
    --scrl_s-db_trck: rgb(235, 235, 235),
    --scrl_s-db_trck-h: rgb(235, 235, 235),
  ),
  theme-dark: (
    --scrl_df_thmb: #6060ff,
    --scrl_df_thmb-h: #6060ff,
    --scrl_df_trck: rgba(64, 96, 255, 0.04),
    --scrl_df_trck-h: rgba(64, 96, 255, 0.04),
    --scrl_dc_thmb: rgba(10, 10, 10, 0.2),
    --scrl_dc_thmb-h: rgba(10, 10, 10, 0.4),
    --scrl_dc_trck: rgb(64, 96, 255),
    --scrl_dc_trck-h: rgb(64, 96, 255),
    --scrl_ui_thmb: rgb(128, 128, 128),
    --scrl_ui_thmb-h: rgb(64, 96, 255),
    --scrl_ui_trck: rgb(61, 61, 61),
    --scrl_ui_trck-h: rgb(61, 61, 61),
    --scrl_s-db_thmb: rgba(128, 128, 128, 0.4),
    --scrl_s-db_thmb-h: rgba(128, 128, 128, 0.4),
    --scrl_s-db_trck: rgb(20, 20, 20),
    --scrl_s-db_trck-h: rgb(20, 20, 20),
  ),
  theme-color: (
    --scrl_df_thmb: rgba(255, 255, 255, 0.2),
    --scrl_df_thmb-h: rgba(255, 255, 255, 0.4),
    --scrl_df_trck: rgba(255, 255, 255, 0.1),
    --scrl_df_trck-h: rgba(255, 255, 255, 0.1),
    --scrl_dc_thmb: rgba(255, 255, 255, 0.2),
    --scrl_dc_thmb-h: rgba(255, 255, 255, 0.4),
    --scrl_dc_trck: rgb(64, 96, 255),
    --scrl_dc_trck-h: rgb(64, 96, 255),
    --scrl_ui_thmb: rgb(255, 255, 255),
    --scrl_ui_thmb-h: rgb(184, 184, 235),
    --scrl_ui_trck: rgb(139, 139, 222),
    --scrl_ui_trck-h: rgb(139, 139, 222),
    --scrl_s-db_thmb: rgba(128, 128, 128, 0.4),
    --scrl_s-db_thmb-h: rgba(128, 128, 128, 0.4),
    --scrl_s-db_trck: rgb(235, 235, 235),
    --scrl_s-db_trck-h: rgb(235, 235, 235),
  ),
);
