.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 48px;
  gap: 24px;

  img {
    width: fit-content;
    height: 48px;
    object-fit: contain;
  }

  @media (max-width: 511px) {
    display: none;
  }

  @media (max-width: 1439px) {
    padding: 0;
  }
}

.navbar__brand {
  margin: 0;
  height: 100%;

  overflow: hidden;
  width: 100%;
}
