$border-color: (
  neutral-700: rgb(10, 10, 10),
  neutral-600: rgb(20, 20, 20),
  neutral-500: rgb(61, 61, 61),
  neutral-400: rgb(128, 128, 128),
  neutral-300: rgb(194, 194, 194),
  neutral-200: rgb(235, 235, 235),
  neutral-100: rgb(255, 255, 255),
  accent-1-700: rgb(64, 128, 255),
  accent-1-600: rgb(79, 138, 255),
  accent-1-500: rgb(110, 158, 255),
  accent-1-400: rgb(156, 189, 255),
  accent-1-300: rgb(194, 214, 255),
  accent-1-200: rgb(224, 235, 255),
  accent-1-100: rgb(240, 245, 255),
  accent-2-700: rgb(128, 48, 255),
  accent-2-600: rgb(138, 65, 255),
  accent-2-500: rgb(158, 98, 255),
  accent-2-400: rgb(189, 147, 255),
  accent-2-300: rgb(214, 189, 255),
  accent-2-200: rgb(235, 222, 255),
  accent-2-100: rgb(245, 238, 255),
  informative-700: rgb(64, 96, 255),
  informative-600: rgb(50, 50, 197),
  informative-500: rgb(86, 86, 207),
  informative-400: rgb(139, 139, 222),
  informative-300: rgb(184, 184, 235),
  informative-200: rgb(219, 219, 245),
  informative-100: rgb(237, 237, 250),
  positive-700: rgb(0, 192, 96),
  positive-600: rgb(20, 197, 109),
  positive-500: rgb(61, 207, 134),
  positive-400: rgb(122, 222, 172),
  positive-300: rgb(173, 235, 204),
  positive-200: rgb(214, 245, 230),
  positive-100: rgb(235, 250, 242),
  attention-700: rgb(255, 192, 32),
  attention-600: rgb(255, 197, 50),
  attention-500: rgb(255, 207, 86),
  attention-400: rgb(255, 222, 139),
  attention-300: rgb(255, 235, 184),
  attention-200: rgb(255, 245, 219),
  attention-100: rgb(255, 250, 237),
  negative-700: rgb(255, 96, 64),
  negative-600: rgb(255, 109, 79),
  negative-500: rgb(255, 134, 110),
  negative-400: rgb(255, 172, 156),
  negative-300: rgb(255, 204, 194),
  negative-200: rgb(255, 230, 224),
  negative-100: rgb(255, 242, 240),
);
