$border-shadow: (
  transparent: inset 0px 0px 0px 0px rgba(0, 0, 0, 0),
  dark-2xl: inset 0px 0px 0px 16px rgb(10, 10, 10),
  dark-xl: inset 0px 0px 0px 12px rgb(10, 10, 10),
  dark-l: inset 0px 0px 0px 8px rgb(10, 10, 10),
  dark-m: inset 0px 0px 0px 4px rgb(10, 10, 10),
  dark-s: inset 0px 0px 0px 2px rgb(10, 10, 10),
  dark-xs: inset 0px 0px 0px 1px rgb(10, 10, 10),
  dark-80\%-2xl: inset 0px 0px 0px 16px rgba(10, 10, 10, 0.8),
  dark-80\%-xl: inset 0px 0px 0px 12px rgba(10, 10, 10, 0.8),
  dark-80\%-l: inset 0px 0px 0px 8px rgba(10, 10, 10, 0.8),
  dark-80\%-m: inset 0px 0px 0px 4px rgba(10, 10, 10, 0.8),
  dark-80\%-s: inset 0px 0px 0px 2px rgba(10, 10, 10, 0.8),
  dark-80\%-xs: inset 0px 0px 0px 1px rgba(10, 10, 10, 0.8),
  dark-60\%-2xl: inset 0px 0px 0px 16px rgba(10, 10, 10, 0.6),
  dark-60\%-xl: inset 0px 0px 0px 12px rgba(10, 10, 10, 0.6),
  dark-60\%-l: inset 0px 0px 0px 8px rgba(10, 10, 10, 0.6),
  dark-60\%-m: inset 0px 0px 0px 4px rgba(10, 10, 10, 0.6),
  dark-60\%-s: inset 0px 0px 0px 2px rgba(10, 10, 10, 0.6),
  dark-60\%-xs: inset 0px 0px 0px 1px rgba(10, 10, 10, 0.6),
  dark-40\%-2xl: inset 0px 0px 0px 16px rgba(10, 10, 10, 0.4),
  dark-40\%-xl: inset 0px 0px 0px 12px rgba(10, 10, 10, 0.4),
  dark-40\%-l: inset 0px 0px 0px 8px rgba(10, 10, 10, 0.4),
  dark-40\%-m: inset 0px 0px 0px 4px rgba(10, 10, 10, 0.4),
  dark-40\%-s: inset 0px 0px 0px 2px rgba(10, 10, 10, 0.4),
  dark-40\%-xs: inset 0px 0px 0px 1px rgba(10, 10, 10, 0.4),
  dark-20\%-2xl: inset 0px 0px 0px 16px rgba(10, 10, 10, 0.2),
  dark-20\%-xl: inset 0px 0px 0px 12px rgba(10, 10, 10, 0.2),
  dark-20\%-l: inset 0px 0px 0px 8px rgba(10, 10, 10, 0.2),
  dark-20\%-m: inset 0px 0px 0px 4px rgba(10, 10, 10, 0.2),
  dark-20\%-s: inset 0px 0px 0px 2px rgba(10, 10, 10, 0.2),
  dark-20\%-xs: inset 0px 0px 0px 1px rgba(10, 10, 10, 0.2),
  neutral-2xl: inset 0px 0px 0px 16px rgb(128, 128, 128),
  neutral-xl: inset 0px 0px 0px 12px rgb(128, 128, 128),
  neutral-l: inset 0px 0px 0px 8px rgb(128, 128, 128),
  neutral-m: inset 0px 0px 0px 4px rgb(128, 128, 128),
  neutral-s: inset 0px 0px 0px 2px rgb(128, 128, 128),
  neutral-xs: inset 0px 0px 0px 1px rgb(128, 128, 128),
  neutral-80\%-2xl: inset 0px 0px 0px 16px rgba(128, 128, 128, 0.8),
  neutral-80\%-xl: inset 0px 0px 0px 12px rgba(128, 128, 128, 0.8),
  neutral-80\%-l: inset 0px 0px 0px 8px rgba(128, 128, 128, 0.8),
  neutral-80\%-m: inset 0px 0px 0px 4px rgba(128, 128, 128, 0.8),
  neutral-80\%-s: inset 0px 0px 0px 2px rgba(128, 128, 128, 0.8),
  neutral-80\%-xs: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.8),
  neutral-60\%-2xl: inset 0px 0px 0px 16px rgba(128, 128, 128, 0.6),
  neutral-60\%-xl: inset 0px 0px 0px 12px rgba(128, 128, 128, 0.6),
  neutral-60\%-l: inset 0px 0px 0px 8px rgba(128, 128, 128, 0.6),
  neutral-60\%-m: inset 0px 0px 0px 4px rgba(128, 128, 128, 0.6),
  neutral-60\%-s: inset 0px 0px 0px 2px rgba(128, 128, 128, 0.6),
  neutral-60\%-xs: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.6),
  neutral-40\%-2xl: inset 0px 0px 0px 16px rgba(128, 128, 128, 0.4),
  neutral-40\%-xl: inset 0px 0px 0px 12px rgba(128, 128, 128, 0.4),
  neutral-40\%-l: inset 0px 0px 0px 8px rgba(128, 128, 128, 0.4),
  neutral-40\%-m: inset 0px 0px 0px 4px rgba(128, 128, 128, 0.4),
  neutral-40\%-s: inset 0px 0px 0px 2px rgba(128, 128, 128, 0.4),
  neutral-40\%-xs: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.4),
  neutral-20\%-2xl: inset 0px 0px 0px 16px rgba(128, 128, 128, 0.2),
  neutral-20\%-xl: inset 0px 0px 0px 12px rgba(128, 128, 128, 0.2),
  neutral-20\%-l: inset 0px 0px 0px 8px rgba(128, 128, 128, 0.2),
  neutral-20\%-m: inset 0px 0px 0px 4px rgba(128, 128, 128, 0.2),
  neutral-20\%-s: inset 0px 0px 0px 2px rgba(128, 128, 128, 0.2),
  neutral-20\%-xs: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.2),
  light-2xl: inset 0px 0px 0px 16px rgb(255, 255, 255),
  light-xl: inset 0px 0px 0px 12px rgb(255, 255, 255),
  light-l: inset 0px 0px 0px 8px rgb(255, 255, 255),
  light-m: inset 0px 0px 0px 4px rgb(255, 255, 255),
  light-s: inset 0px 0px 0px 2px rgb(255, 255, 255),
  light-xs: inset 0px 0px 0px 1px rgb(255, 255, 255),
  light-80\%-2xl: inset 0px 0px 0px 16px rgba(255, 255, 255, 0.8),
  light-80\%-xl: inset 0px 0px 0px 12px rgba(255, 255, 255, 0.8),
  light-80\%-l: inset 0px 0px 0px 8px rgba(255, 255, 255, 0.8),
  light-80\%-m: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.8),
  light-80\%-s: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.8),
  light-80\%-xs: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.8),
  light-60\%-2xl: inset 0px 0px 0px 16px rgba(255, 255, 255, 0.6),
  light-60\%-xl: inset 0px 0px 0px 12px rgba(255, 255, 255, 0.6),
  light-60\%-l: inset 0px 0px 0px 8px rgba(255, 255, 255, 0.6),
  light-60\%-m: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.6),
  light-60\%-s: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.6),
  light-60\%-xs: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.6),
  light-40\%-2xl: inset 0px 0px 0px 16px rgba(255, 255, 255, 0.4),
  light-40\%-xl: inset 0px 0px 0px 12px rgba(255, 255, 255, 0.4),
  light-40\%-l: inset 0px 0px 0px 8px rgba(255, 255, 255, 0.4),
  light-40\%-m: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.4),
  light-40\%-s: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.4),
  light-40\%-xs: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4),
  light-20\%-2xl: inset 0px 0px 0px 16px rgba(255, 255, 255, 0.2),
  light-20\%-xl: inset 0px 0px 0px 12px rgba(255, 255, 255, 0.2),
  light-20\%-l: inset 0px 0px 0px 8px rgba(255, 255, 255, 0.2),
  light-20\%-m: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  light-20\%-s: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2),
  light-20\%-xs: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2),
  accent-1-2xl: inset 0px 0px 0px 16px rgb(139, 139, 222),
  accent-1-xl: inset 0px 0px 0px 12px rgb(139, 139, 222),
  accent-1-l: inset 0px 0px 0px 8px rgb(139, 139, 222),
  accent-1-m: inset 0px 0px 0px 4px rgb(139, 139, 222),
  accent-1-s: inset 0px 0px 0px 2px rgb(139, 139, 222),
  accent-1-xs: inset 0px 0px 0px 1px rgb(139, 139, 222),
  accent-1-80\%-2xl: inset 0px 0px 0px 16px rgba(139, 139, 222, 0.8),
  accent-1-80\%-xl: inset 0px 0px 0px 12px rgba(139, 139, 222, 0.8),
  accent-1-80\%-l: inset 0px 0px 0px 8px rgba(139, 139, 222, 0.8),
  accent-1-80\%-m: inset 0px 0px 0px 4px rgba(139, 139, 222, 0.8),
  accent-1-80\%-s: inset 0px 0px 0px 2px rgba(139, 139, 222, 0.8),
  accent-1-80\%-xs: inset 0px 0px 0px 1px rgba(139, 139, 222, 0.8),
  accent-1-60\%-2xl: inset 0px 0px 0px 16px rgba(139, 139, 222, 0.6),
  accent-1-60\%-xl: inset 0px 0px 0px 12px rgba(139, 139, 222, 0.6),
  accent-1-60\%-l: inset 0px 0px 0px 8px rgba(139, 139, 222, 0.6),
  accent-1-60\%-m: inset 0px 0px 0px 4px rgba(139, 139, 222, 0.6),
  accent-1-60\%-s: inset 0px 0px 0px 2px rgba(139, 139, 222, 0.6),
  accent-1-60\%-xs: inset 0px 0px 0px 1px rgba(139, 139, 222, 0.6),
  accent-1-40\%-2xl: inset 0px 0px 0px 16px rgba(139, 139, 222, 0.4),
  accent-1-40\%-xl: inset 0px 0px 0px 12px rgba(139, 139, 222, 0.4),
  accent-1-40\%-l: inset 0px 0px 0px 8px rgba(139, 139, 222, 0.4),
  accent-1-40\%-m: inset 0px 0px 0px 4px rgba(139, 139, 222, 0.4),
  accent-1-40\%-s: inset 0px 0px 0px 2px rgba(139, 139, 222, 0.4),
  accent-1-40\%-xs: inset 0px 0px 0px 1px rgba(139, 139, 222, 0.4),
  accent-1-20\%-2xl: inset 0px 0px 0px 16px rgba(139, 139, 222, 0.2),
  accent-1-20\%-xl: inset 0px 0px 0px 12px rgba(139, 139, 222, 0.2),
  accent-1-20\%-l: inset 0px 0px 0px 8px rgba(139, 139, 222, 0.2),
  accent-1-20\%-m: inset 0px 0px 0px 4px rgba(139, 139, 222, 0.2),
  accent-1-20\%-s: inset 0px 0px 0px 2px rgba(139, 139, 222, 0.2),
  accent-1-20\%-xs: inset 0px 0px 0px 1px rgba(139, 139, 222, 0.2),
  accent-2-2xl: inset 0px 0px 0px 16px rgb(189, 147, 255),
  accent-2-xl: inset 0px 0px 0px 12px rgb(189, 147, 255),
  accent-2-l: inset 0px 0px 0px 8px rgb(189, 147, 255),
  accent-2-m: inset 0px 0px 0px 4px rgb(189, 147, 255),
  accent-2-s: inset 0px 0px 0px 2px rgb(189, 147, 255),
  accent-2-xs: inset 0px 0px 0px 1px rgb(189, 147, 255),
  accent-2-80\%-2xl: inset 0px 0px 0px 16px rgba(189, 147, 255, 0.8),
  accent-2-80\%-xl: inset 0px 0px 0px 12px rgba(189, 147, 255, 0.8),
  accent-2-80\%-l: inset 0px 0px 0px 8px rgba(189, 147, 255, 0.8),
  accent-2-80\%-m: inset 0px 0px 0px 4px rgba(189, 147, 255, 0.8),
  accent-2-80\%-s: inset 0px 0px 0px 2px rgba(189, 147, 255, 0.8),
  accent-2-80\%-xs: inset 0px 0px 0px 1px rgba(189, 147, 255, 0.8),
  accent-2-60\%-2xl: inset 0px 0px 0px 16px rgba(189, 147, 255, 0.6),
  accent-2-60\%-xl: inset 0px 0px 0px 12px rgba(189, 147, 255, 0.6),
  accent-2-60\%-l: inset 0px 0px 0px 8px rgba(189, 147, 255, 0.6),
  accent-2-60\%-m: inset 0px 0px 0px 4px rgba(189, 147, 255, 0.6),
  accent-2-60\%-s: inset 0px 0px 0px 2px rgba(189, 147, 255, 0.6),
  accent-2-60\%-xs: inset 0px 0px 0px 1px rgba(189, 147, 255, 0.6),
  accent-2-40\%-2xl: inset 0px 0px 0px 16px rgba(189, 147, 255, 0.4),
  accent-2-40\%-xl: inset 0px 0px 0px 12px rgba(189, 147, 255, 0.4),
  accent-2-40\%-l: inset 0px 0px 0px 8px rgba(189, 147, 255, 0.4),
  accent-2-40\%-m: inset 0px 0px 0px 4px rgba(189, 147, 255, 0.4),
  accent-2-40\%-s: inset 0px 0px 0px 2px rgba(189, 147, 255, 0.4),
  accent-2-40\%-xs: inset 0px 0px 0px 1px rgba(189, 147, 255, 0.4),
  accent-2-20\%-2xl: inset 0px 0px 0px 16px rgba(189, 147, 255, 0.2),
  accent-2-20\%-xl: inset 0px 0px 0px 12px rgba(189, 147, 255, 0.2),
  accent-2-20\%-l: inset 0px 0px 0px 8px rgba(189, 147, 255, 0.2),
  accent-2-20\%-m: inset 0px 0px 0px 4px rgba(189, 147, 255, 0.2),
  accent-2-20\%-s: inset 0px 0px 0px 2px rgba(189, 147, 255, 0.2),
  accent-2-20\%-xs: inset 0px 0px 0px 1px rgba(189, 147, 255, 0.2),
  informative-2xl: inset 0px 0px 0px 16px rgb(156, 189, 255),
  informative-xl: inset 0px 0px 0px 12px rgb(156, 189, 255),
  informative-l: inset 0px 0px 0px 8px rgb(156, 189, 255),
  informative-m: inset 0px 0px 0px 4px rgb(156, 189, 255),
  informative-s: inset 0px 0px 0px 2px rgb(156, 189, 255),
  informative-xs: inset 0px 0px 0px 1px rgb(156, 189, 255),
  informative-80\%-2xl: inset 0px 0px 0px 16px rgba(156, 189, 255, 0.8),
  informative-80\%-xl: inset 0px 0px 0px 12px rgba(156, 189, 255, 0.8),
  informative-80\%-l: inset 0px 0px 0px 8px rgba(156, 189, 255, 0.8),
  informative-80\%-m: inset 0px 0px 0px 4px rgba(156, 189, 255, 0.8),
  informative-80\%-s: inset 0px 0px 0px 2px rgba(156, 189, 255, 0.8),
  informative-80\%-xs: inset 0px 0px 0px 1px rgba(156, 189, 255, 0.8),
  informative-60\%-2xl: inset 0px 0px 0px 16px rgba(156, 189, 255, 0.6),
  informative-60\%-xl: inset 0px 0px 0px 12px rgba(156, 189, 255, 0.6),
  informative-60\%-l: inset 0px 0px 0px 8px rgba(156, 189, 255, 0.6),
  informative-60\%-m: inset 0px 0px 0px 4px rgba(156, 189, 255, 0.6),
  informative-60\%-s: inset 0px 0px 0px 2px rgba(156, 189, 255, 0.6),
  informative-60\%-xs: inset 0px 0px 0px 1px rgba(156, 189, 255, 0.6),
  informative-40\%-2xl: inset 0px 0px 0px 16px rgba(156, 189, 255, 0.4),
  informative-40\%-xl: inset 0px 0px 0px 12px rgba(156, 189, 255, 0.4),
  informative-40\%-l: inset 0px 0px 0px 8px rgba(156, 189, 255, 0.4),
  informative-40\%-m: inset 0px 0px 0px 4px rgba(156, 189, 255, 0.4),
  informative-40\%-s: inset 0px 0px 0px 2px rgba(156, 189, 255, 0.4),
  informative-40\%-xs: inset 0px 0px 0px 1px rgba(156, 189, 255, 0.4),
  informative-20\%-2xl: inset 0px 0px 0px 16px rgba(156, 189, 255, 0.2),
  informative-20\%-xl: inset 0px 0px 0px 12px rgba(156, 189, 255, 0.2),
  informative-20\%-l: inset 0px 0px 0px 8px rgba(156, 189, 255, 0.2),
  informative-20\%-m: inset 0px 0px 0px 4px rgba(156, 189, 255, 0.2),
  informative-20\%-s: inset 0px 0px 0px 2px rgba(156, 189, 255, 0.2),
  informative-20\%-xs: inset 0px 0px 0px 1px rgba(156, 189, 255, 0.2),
  positive-2xl: inset 0px 0px 0px 16px rgb(122, 222, 172),
  positive-xl: inset 0px 0px 0px 12px rgb(122, 222, 172),
  positive-l: inset 0px 0px 0px 8px rgb(122, 222, 172),
  positive-m: inset 0px 0px 0px 4px rgb(122, 222, 172),
  positive-s: inset 0px 0px 0px 2px rgb(122, 222, 172),
  positive-xs: inset 0px 0px 0px 1px rgb(122, 222, 172),
  positive-80\%-2xl: inset 0px 0px 0px 16px rgba(122, 222, 172, 0.8),
  positive-80\%-xl: inset 0px 0px 0px 12px rgba(122, 222, 172, 0.8),
  positive-80\%-l: inset 0px 0px 0px 8px rgba(122, 222, 172, 0.8),
  positive-80\%-m: inset 0px 0px 0px 4px rgba(122, 222, 172, 0.8),
  positive-80\%-s: inset 0px 0px 0px 2px rgba(122, 222, 172, 0.8),
  positive-80\%-xs: inset 0px 0px 0px 1px rgba(122, 222, 172, 0.8),
  positive-60\%-2xl: inset 0px 0px 0px 16px rgba(122, 222, 172, 0.6),
  positive-60\%-xl: inset 0px 0px 0px 12px rgba(122, 222, 172, 0.6),
  positive-60\%-l: inset 0px 0px 0px 8px rgba(122, 222, 172, 0.6),
  positive-60\%-m: inset 0px 0px 0px 4px rgba(122, 222, 172, 0.6),
  positive-60\%-s: inset 0px 0px 0px 2px rgba(122, 222, 172, 0.6),
  positive-60\%-xs: inset 0px 0px 0px 1px rgba(122, 222, 172, 0.6),
  positive-40\%-2xl: inset 0px 0px 0px 16px rgba(122, 222, 172, 0.4),
  positive-40\%-xl: inset 0px 0px 0px 12px rgba(122, 222, 172, 0.4),
  positive-40\%-l: inset 0px 0px 0px 8px rgba(122, 222, 172, 0.4),
  positive-40\%-m: inset 0px 0px 0px 4px rgba(122, 222, 172, 0.4),
  positive-40\%-s: inset 0px 0px 0px 2px rgba(122, 222, 172, 0.4),
  positive-40\%-xs: inset 0px 0px 0px 1px rgba(122, 222, 172, 0.4),
  positive-20\%-2xl: inset 0px 0px 0px 16px rgba(122, 222, 172, 0.2),
  positive-20\%-xl: inset 0px 0px 0px 12px rgba(122, 222, 172, 0.2),
  positive-20\%-l: inset 0px 0px 0px 8px rgba(122, 222, 172, 0.2),
  positive-20\%-m: inset 0px 0px 0px 4px rgba(122, 222, 172, 0.2),
  positive-20\%-s: inset 0px 0px 0px 2px rgba(122, 222, 172, 0.2),
  positive-20\%-xs: inset 0px 0px 0px 1px rgba(122, 222, 172, 0.2),
  attention-2xl: inset 0px 0px 0px 16px rgb(255, 222, 139),
  attention-xl: inset 0px 0px 0px 12px rgb(255, 222, 139),
  attention-l: inset 0px 0px 0px 8px rgb(255, 222, 139),
  attention-m: inset 0px 0px 0px 4px rgb(255, 222, 139),
  attention-s: inset 0px 0px 0px 2px rgb(255, 222, 139),
  attention-xs: inset 0px 0px 0px 1px rgb(255, 222, 139),
  attention-80\%-2xl: inset 0px 0px 0px 16px rgba(255, 222, 139, 0.8),
  attention-80\%-xl: inset 0px 0px 0px 12px rgba(255, 222, 139, 0.8),
  attention-80\%-l: inset 0px 0px 0px 8px rgba(255, 222, 139, 0.8),
  attention-80\%-m: inset 0px 0px 0px 4px rgba(255, 222, 139, 0.8),
  attention-80\%-s: inset 0px 0px 0px 2px rgba(255, 222, 139, 0.8),
  attention-80\%-xs: inset 0px 0px 0px 1px rgba(255, 222, 139, 0.8),
  attention-60\%-2xl: inset 0px 0px 0px 16px rgba(255, 222, 139, 0.6),
  attention-60\%-xl: inset 0px 0px 0px 12px rgba(255, 222, 139, 0.6),
  attention-60\%-l: inset 0px 0px 0px 8px rgba(255, 222, 139, 0.6),
  attention-60\%-m: inset 0px 0px 0px 4px rgba(255, 222, 139, 0.6),
  attention-60\%-s: inset 0px 0px 0px 2px rgba(255, 222, 139, 0.6),
  attention-60\%-xs: inset 0px 0px 0px 1px rgba(255, 222, 139, 0.6),
  attention-40\%-2xl: inset 0px 0px 0px 16px rgba(255, 222, 139, 0.4),
  attention-40\%-xl: inset 0px 0px 0px 12px rgba(255, 222, 139, 0.4),
  attention-40\%-l: inset 0px 0px 0px 8px rgba(255, 222, 139, 0.4),
  attention-40\%-m: inset 0px 0px 0px 4px rgba(255, 222, 139, 0.4),
  attention-40\%-s: inset 0px 0px 0px 2px rgba(255, 222, 139, 0.4),
  attention-40\%-xs: inset 0px 0px 0px 1px rgba(255, 222, 139, 0.4),
  attention-20\%-2xl: inset 0px 0px 0px 16px rgba(255, 222, 139, 0.2),
  attention-20\%-xl: inset 0px 0px 0px 12px rgba(255, 222, 139, 0.2),
  attention-20\%-l: inset 0px 0px 0px 8px rgba(255, 222, 139, 0.2),
  attention-20\%-m: inset 0px 0px 0px 4px rgba(255, 222, 139, 0.2),
  attention-20\%-s: inset 0px 0px 0px 2px rgba(255, 222, 139, 0.2),
  attention-20\%-xs: inset 0px 0px 0px 1px rgba(255, 222, 139, 0.2),
  negative-2xl: inset 0px 0px 0px 16px rgb(255, 172, 156),
  negative-xl: inset 0px 0px 0px 12px rgb(255, 172, 156),
  negative-l: inset 0px 0px 0px 8px rgb(255, 172, 156),
  negative-m: inset 0px 0px 0px 4px rgb(255, 172, 156),
  negative-s: inset 0px 0px 0px 2px rgb(255, 172, 156),
  negative-xs: inset 0px 0px 0px 1px rgb(255, 172, 156),
  negative-80\%-2xl: inset 0px 0px 0px 16px rgba(255, 172, 156, 0.8),
  negative-80\%-xl: inset 0px 0px 0px 12px rgba(255, 172, 156, 0.8),
  negative-80\%-l: inset 0px 0px 0px 8px rgba(255, 172, 156, 0.8),
  negative-80\%-m: inset 0px 0px 0px 4px rgba(255, 172, 156, 0.8),
  negative-80\%-s: inset 0px 0px 0px 2px rgba(255, 172, 156, 0.8),
  negative-80\%-xs: inset 0px 0px 0px 1px rgba(255, 172, 156, 0.8),
  negative-60\%-2xl: inset 0px 0px 0px 16px rgba(255, 172, 156, 0.6),
  negative-60\%-xl: inset 0px 0px 0px 12px rgba(255, 172, 156, 0.6),
  negative-60\%-l: inset 0px 0px 0px 8px rgba(255, 172, 156, 0.6),
  negative-60\%-m: inset 0px 0px 0px 4px rgba(255, 172, 156, 0.6),
  negative-60\%-s: inset 0px 0px 0px 2px rgba(255, 172, 156, 0.6),
  negative-60\%-xs: inset 0px 0px 0px 1px rgba(255, 172, 156, 0.6),
  negative-40\%-2xl: inset 0px 0px 0px 16px rgba(255, 172, 156, 0.4),
  negative-40\%-xl: inset 0px 0px 0px 12px rgba(255, 172, 156, 0.4),
  negative-40\%-l: inset 0px 0px 0px 8px rgba(255, 172, 156, 0.4),
  negative-40\%-m: inset 0px 0px 0px 4px rgba(255, 172, 156, 0.4),
  negative-40\%-s: inset 0px 0px 0px 2px rgba(255, 172, 156, 0.4),
  negative-40\%-xs: inset 0px 0px 0px 1px rgba(255, 172, 156, 0.4),
  negative-20\%-2xl: inset 0px 0px 0px 16px rgba(255, 172, 156, 0.2),
  negative-20\%-xl: inset 0px 0px 0px 12px rgba(255, 172, 156, 0.2),
  negative-20\%-l: inset 0px 0px 0px 8px rgba(255, 172, 156, 0.2),
  negative-20\%-m: inset 0px 0px 0px 4px rgba(255, 172, 156, 0.2),
  negative-20\%-s: inset 0px 0px 0px 2px rgba(255, 172, 156, 0.2),
  negative-20\%-xs: inset 0px 0px 0px 1px rgba(255, 172, 156, 0.2),
);
