$color: (
  transparent: rgba(0, 0, 0, 0),
  black: rgb(0, 0, 0),
  white: rgb(255, 255, 255),
  neutral-700: rgb(10, 10, 10),
  neutral-600: rgb(20, 20, 20),
  neutral-500: rgb(61, 61, 61),
  neutral-400: rgb(128, 128, 128),
  neutral-300: rgb(194, 194, 194),
  neutral-200: rgb(235, 235, 235),
  neutral-100: rgb(255, 255, 255),
  neutral-tint-4-700: rgb(12, 12, 20),
  neutral-tint-4-600: rgb(22, 22, 29),
  neutral-tint-4-500: rgb(61, 61, 69),
  neutral-tint-4-400: rgb(125, 125, 133),
  neutral-tint-4-300: rgb(189, 189, 196),
  neutral-tint-4-200: rgb(228, 228, 236),
  neutral-tint-4-100: rgb(247, 247, 255),
  neutral-tint-8-700: rgb(14, 14, 30),
  neutral-tint-8-600: rgb(24, 24, 39),
  neutral-tint-8-500: rgb(61, 61, 77),
  neutral-tint-8-400: rgb(123, 123, 138),
  neutral-tint-8-300: rgb(184, 184, 199),
  neutral-tint-8-200: rgb(221, 221, 237),
  neutral-tint-8-100: rgb(240, 240, 255),
  neutral-tint-16-700: rgb(19, 19, 49),
  neutral-tint-16-600: rgb(27, 27, 58),
  neutral-tint-16-500: rgb(61, 61, 92),
  neutral-tint-16-400: rgb(118, 118, 148),
  neutral-tint-16-300: rgb(173, 173, 204),
  neutral-tint-16-200: rgb(208, 208, 238),
  neutral-tint-16-100: rgb(209, 209, 255),
  neutral-tint-24-700: rgb(23, 23, 69),
  neutral-tint-24-600: rgb(31, 31, 76),
  neutral-tint-24-500: rgb(62, 62, 108),
  neutral-tint-24-400: rgb(113, 113, 158),
  neutral-tint-24-300: rgb(163, 163, 209),
  neutral-tint-24-200: rgb(194, 194, 240),
  neutral-tint-24-100: rgb(209, 209, 255),
  neutral-tint-32-700: rgb(27, 27, 88),
  neutral-tint-32-600: rgb(34, 34, 95),
  neutral-tint-32-500: rgb(62, 62, 123),
  neutral-tint-32-400: rgb(108, 108, 169),
  neutral-tint-32-300: rgb(152, 152, 214),
  neutral-tint-32-200: rgb(180, 180, 241),
  neutral-tint-32-100: rgb(194, 194, 255),
  accent-1-700: rgb(64, 96, 255),
  accent-1-600: rgb(50, 50, 197),
  accent-1-500: rgb(86, 86, 207),
  accent-1-400: rgb(139, 139, 222),
  accent-1-300: rgb(184, 184, 235),
  accent-1-200: rgb(219, 219, 245),
  accent-1-100: rgb(237, 237, 250),
  accent-2-700: rgb(128, 48, 255),
  accent-2-600: rgb(138, 65, 255),
  accent-2-500: rgb(158, 98, 255),
  accent-2-400: rgb(189, 147, 255),
  accent-2-300: rgb(214, 189, 255),
  accent-2-200: rgb(235, 222, 255),
  accent-2-100: rgb(245, 238, 255),
  informative-700: rgb(64, 128, 255),
  informative-600: rgb(79, 138, 255),
  informative-500: rgb(110, 158, 255),
  informative-400: rgb(156, 189, 255),
  informative-300: rgb(194, 214, 255),
  informative-200: rgb(224, 235, 255),
  informative-100: rgb(240, 245, 255),
  positive-700: rgb(0, 192, 96),
  positive-600: rgb(20, 197, 109),
  positive-500: rgb(61, 207, 134),
  positive-400: rgb(122, 222, 172),
  positive-300: rgb(173, 235, 204),
  positive-200: rgb(214, 245, 230),
  positive-100: rgb(235, 250, 242),
  attention-700: rgb(255, 192, 32),
  attention-600: rgb(255, 197, 50),
  attention-500: rgb(255, 207, 86),
  attention-400: rgb(255, 222, 139),
  attention-300: rgb(255, 235, 184),
  attention-200: rgb(255, 245, 219),
  attention-100: rgb(255, 250, 237),
  negative-700: rgb(255, 96, 64),
  negative-600: rgb(255, 109, 79),
  negative-500: rgb(255, 134, 110),
  negative-400: rgb(255, 172, 156),
  negative-300: rgb(255, 204, 194),
  negative-200: rgb(255, 230, 224),
  negative-100: rgb(255, 242, 240),
);
