$palette: (
  black: rgb(0, 0, 0),
  white: rgb(255, 255, 255),
  indigo: rgb(64, 96, 255),
  purple: rgb(128, 48, 255),
  blue: rgb(64, 128, 255),
  green: rgb(0, 192, 96),
  yellow: rgb(255, 192, 32),
  red: rgb(255, 96, 64),
  gray-700: rgb(10, 10, 10),
  gray-600: rgb(20, 20, 20),
  gray-500: rgb(61, 61, 61),
  gray-400: rgb(128, 128, 128),
  gray-300: rgb(194, 194, 194),
  gray-200: rgb(235, 235, 235),
  gray-100: rgb(255, 255, 255),
  gray-tint-4-700: rgb(12, 12, 20),
  gray-tint-4-600: rgb(22, 22, 29),
  gray-tint-4-500: rgb(61, 61, 69),
  gray-tint-4-400: rgb(125, 125, 133),
  gray-tint-4-300: rgb(189, 189, 196),
  gray-tint-4-200: rgb(228, 228, 236),
  gray-tint-4-100: rgb(247, 247, 255),
  gray-tint-8-700: rgb(14, 14, 30),
  gray-tint-8-600: rgb(24, 24, 39),
  gray-tint-8-500: rgb(61, 61, 77),
  gray-tint-8-400: rgb(123, 123, 138),
  gray-tint-8-300: rgb(184, 184, 199),
  gray-tint-8-200: rgb(221, 221, 237),
  gray-tint-8-100: rgb(240, 240, 255),
  gray-tint-16-700: rgb(19, 19, 49),
  gray-tint-16-600: rgb(27, 27, 58),
  gray-tint-16-500: rgb(61, 61, 92),
  gray-tint-16-400: rgb(118, 118, 148),
  gray-tint-16-300: rgb(173, 173, 204),
  gray-tint-16-200: rgb(208, 208, 238),
  gray-tint-16-100: rgb(224, 224, 255),
  gray-tint-24-700: rgb(23, 23, 69),
  gray-tint-24-600: rgb(31, 31, 76),
  gray-tint-24-500: rgb(62, 62, 108),
  gray-tint-24-400: rgb(113, 113, 158),
  gray-tint-24-300: rgb(163, 163, 209),
  gray-tint-24-200: rgb(194, 194, 240),
  gray-tint-24-100: rgb(209, 209, 255),
  gray-tint-32-700: rgb(27, 27, 88),
  gray-tint-32-600: rgb(34, 34, 95),
  gray-tint-32-500: rgb(62, 62, 123),
  gray-tint-32-400: rgb(108, 108, 169),
  gray-tint-32-300: rgb(152, 152, 214),
  gray-tint-32-200: rgb(180, 180, 241),
  gray-tint-32-100: rgb(194, 194, 255),
  indigo-700: rgb(64, 96, 255),
  indigo-600: rgb(50, 50, 197),
  indigo-500: rgb(86, 86, 207),
  indigo-400: rgb(139, 139, 222),
  indigo-300: rgb(184, 184, 235),
  indigo-200: rgb(219, 219, 245),
  indigo-100: rgb(237, 237, 250),
  purple-700: rgb(128, 48, 255),
  purple-600: rgb(138, 65, 255),
  purple-500: rgb(158, 98, 255),
  purple-400: rgb(189, 147, 255),
  purple-300: rgb(214, 189, 255),
  purple-200: rgb(235, 222, 255),
  purple-100: rgb(245, 238, 255),
  blue-700: rgb(64, 128, 255),
  blue-600: rgb(79, 138, 255),
  blue-500: rgb(110, 158, 255),
  blue-400: rgb(156, 189, 255),
  blue-300: rgb(194, 214, 255),
  blue-200: rgb(224, 235, 255),
  blue-100: rgb(240, 245, 255),
  green-700: rgb(0, 192, 96),
  green-600: rgb(20, 197, 109),
  green-500: rgb(61, 207, 134),
  green-400: rgb(122, 222, 172),
  green-300: rgb(173, 235, 204),
  green-200: rgb(214, 245, 230),
  green-100: rgb(235, 250, 242),
  yellow-700: rgb(255, 192, 32),
  yellow-600: rgb(255, 197, 50),
  yellow-500: rgb(255, 207, 86),
  yellow-400: rgb(255, 222, 139),
  yellow-300: rgb(255, 235, 184),
  yellow-200: rgb(255, 245, 219),
  yellow-100: rgb(255, 250, 237),
  red-700: rgb(255, 96, 64),
  red-600: rgb(255, 109, 79),
  red-500: rgb(255, 134, 110),
  red-400: rgb(255, 172, 156),
  red-300: rgb(255, 204, 194),
  red-200: rgb(255, 230, 224),
  red-100: rgb(255, 242, 240),
);
