$shadow: (
  transparent: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  neutral-dark-l: 0px 0px 64px 0px rgba(10, 10, 10, 0.2),
  neutral-dark-m: 0px 0px 32px 0px rgba(10, 10, 10, 0.2),
  neutral-dark-s: 0px 0px 16px 0px rgba(10, 10, 10, 0.2),
  neutral-medium-l: 0px 0px 64px 0px rgba(128, 128, 128, 0.2),
  neutral-medium-m: 0px 0px 32px 0px rgba(128, 128, 128, 0.2),
  neutral-medium-s: 0px 0px 16px 0px rgba(128, 128, 128, 0.2),
  neutral-light-l: 0px 0px 64px 0px rgba(255, 255, 255, 0.2),
  neutral-light-m: 0px 0px 32px 0px rgba(255, 255, 255, 0.2),
  neutral-light-s: 0px 0px 16px 0px rgba(255, 255, 255, 0.2),
  accent-1-dark-l: 0px 0px 64px 0px rgba(64, 96, 255, 0.2),
  accent-1-dark-m: 0px 0px 32px 0px rgba(64, 96, 255, 0.2),
  accent-1-dark-s: 0px 0px 16px 0px rgba(64, 96, 255, 0.2),
  accent-1-medium-l: 0px 0px 64px 0px rgba(139, 139, 222, 0.2),
  accent-1-medium-m: 0px 0px 32px 0px rgba(139, 139, 222, 0.2),
  accent-1-medium-s: 0px 0px 16px 0px rgba(139, 139, 222, 0.2),
  accent-1-light-l: 0px 0px 64px 0px rgba(237, 237, 250, 0.2),
  accent-1-light-m: 0px 0px 32px 0px rgba(237, 237, 250, 0.2),
  accent-1-light-s: 0px 0px 16px 0px rgba(237, 237, 250, 0.2),
  accent-2-dark-l: 0px 0px 64px 0px rgba(128, 48, 255, 0.2),
  accent-2-dark-m: 0px 0px 32px 0px rgba(128, 48, 255, 0.2),
  accent-2-dark-s: 0px 0px 16px 0px rgba(128, 48, 255, 0.2),
  accent-2-medium-l: 0px 0px 64px 0px rgba(189, 147, 255, 0.2),
  accent-2-medium-m: 0px 0px 32px 0px rgba(189, 147, 255, 0.2),
  accent-2-medium-s: 0px 0px 16px 0px rgba(189, 147, 255, 0.2),
  accent-2-light-l: 0px 0px 64px 0px rgba(245, 238, 255, 0.2),
  accent-2-light-m: 0px 0px 32px 0px rgba(245, 238, 255, 0.2),
  accent-2-light-s: 0px 0px 16px 0px rgba(245, 238, 255, 0.2),
  informative-dark-l: 0px 0px 64px 0px rgba(64, 128, 255, 0.2),
  informative-dark-m: 0px 0px 32px 0px rgba(64, 128, 255, 0.2),
  informative-dark-s: 0px 0px 16px 0px rgba(64, 128, 255, 0.2),
  informative-medium-l: 0px 0px 64px 0px rgba(156, 189, 255, 0.2),
  informative-medium-m: 0px 0px 32px 0px rgba(156, 189, 255, 0.2),
  informative-medium-s: 0px 0px 16px 0px rgba(156, 189, 255, 0.2),
  informative-light-l: 0px 0px 64px 0px rgba(240, 245, 255, 0.2),
  informative-light-m: 0px 0px 32px 0px rgba(240, 245, 255, 0.2),
  informative-light-s: 0px 0px 16px 0px rgba(240, 245, 255, 0.2),
  positive-dark-l: 0px 0px 64px 0px rgba(0, 192, 96, 0.2),
  positive-dark-m: 0px 0px 32px 0px rgba(0, 192, 96, 0.2),
  positive-dark-s: 0px 0px 16px 0px rgba(0, 192, 96, 0.2),
  positive-medium-l: 0px 0px 64px 0px rgba(122, 222, 172, 0.2),
  positive-medium-m: 0px 0px 32px 0px rgba(122, 222, 172, 0.2),
  positive-medium-s: 0px 0px 16px 0px rgba(122, 222, 172, 0.2),
  positive-light-l: 0px 0px 64px 0px rgba(235, 250, 242, 0.2),
  positive-light-m: 0px 0px 32px 0px rgba(235, 250, 242, 0.2),
  positive-light-s: 0px 0px 16px 0px rgba(235, 250, 242, 0.2),
  attention-dark-l: 0px 0px 64px 0px rgba(255, 192, 32, 0.2),
  attention-dark-m: 0px 0px 32px 0px rgba(255, 192, 32, 0.2),
  attention-dark-s: 0px 0px 16px 0px rgba(255, 192, 32, 0.2),
  attention-medium-l: 0px 0px 64px 0px rgba(255, 222, 139, 0.2),
  attention-medium-m: 0px 0px 32px 0px rgba(255, 222, 139, 0.2),
  attention-medium-s: 0px 0px 16px 0px rgba(255, 222, 139, 0.2),
  attention-light-l: 0px 0px 64px 0px rgba(255, 250, 237, 0.2),
  attention-light-m: 0px 0px 32px 0px rgba(255, 250, 237, 0.2),
  attention-light-s: 0px 0px 16px 0px rgba(255, 250, 237, 0.2),
  negative-dark-l: 0px 0px 64px 0px rgba(255, 96, 64, 0.2),
  negative-dark-m: 0px 0px 32px 0px rgba(255, 96, 64, 0.2),
  negative-dark-s: 0px 0px 16px 0px rgba(255, 96, 64, 0.2),
  negative-medium-l: 0px 0px 64px 0px rgba(255, 172, 156, 0.2),
  negative-medium-m: 0px 0px 32px 0px rgba(255, 172, 156, 0.2),
  negative-medium-s: 0px 0px 16px 0px rgba(255, 172, 156, 0.2),
  negative-light-l: 0px 0px 64px 0px rgba(255, 242, 240, 0.2),
  negative-light-m: 0px 0px 32px 0px rgba(255, 242, 240, 0.2),
  negative-light-s: 0px 0px 16px 0px rgba(255, 242, 240, 0.2),
);
