$scale: (
  padding: (
    s: 0px,
    xs: 0px,
  ),
  gap-x: (
    s: 4px,
    xs: 4px,
  ),
  border-radius-circular: (
    s: 32px,
    xs: 24px,
  ),
  border-radius-rounded: (
    s: 8px,
    xs: 8px,
  ),
  border-radius-square: (
    s: 0px,
    xs: 0px,
  ),
);
