$theme-light: (
  color-primary-solid: (
    focus-outline: var(--inp_pm-s_f-outline, rgb(139, 139, 222)),
    content-general: var(--inp_pm-s_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--inp_pm-s_cnt-gn-db, rgb(128, 128, 128)),
    icon: var(--inp_pm-s_ic, rgba(64, 96, 255, 0.6)),
    icon-hovered: var(--inp_pm-s_ic-h, rgb(64, 96, 255)),
    placeholder: var(--inp_pm-s_ph, rgb(128, 128, 128)),
    placeholder-hovered: var(--inp_pm-s_ph-h, rgb(128, 128, 128)),
    placeholder-active: var(--inp_pm-s_ph-a, rgb(128, 128, 128)),
    placeholder-disabled: var(--inp_pm-s_ph-db, rgb(128, 128, 128)),
    background: var(--inp_pm-s_bgc, rgb(235, 235, 235)),
    background-hovered: var(--inp_pm-s_bgc-h, rgb(235, 235, 235)),
    background-active: var(--inp_pm-s_bgc-a, rgb(235, 235, 235)),
    background-disabled: var(--inp_pm-s_bgc-db, rgb(235, 235, 235)),
    border: var(--inp_pm-s_bdc, rgb(194, 194, 194)),
    border-hovered: var(--inp_pm-s_bdc-h, rgb(139, 139, 222)),
    border-active: var(--inp_pm-s_bdc-a, rgb(64, 96, 255)),
    border-disabled: var(--inp_pm-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--inp_pm-s_bdc-ss, rgb(122, 222, 172)),
    border-error: var(--inp_pm-s_bdc-er, rgb(255, 172, 156)),
    label-text: var(--inp_pm-s_label-txt, rgb(128, 128, 128)),
    label-text-disabled: var(--inp_pm-s_label-txt-db, rgb(128, 128, 128)),
    start-meta-text: var(--inp_pm-s_start-meta-txt, rgb(128, 128, 128)),
    start-meta-text-disabled:
      var(--inp_pm-s_start-meta-txt-db, rgb(128, 128, 128)),
    start-meta-text-success:
      var(--inp_pm-s_start-meta-txt-ss, rgb(122, 222, 172)),
    start-meta-text-error: var(--inp_pm-s_start-meta-txt-er, rgb(255, 172, 156)),
    end-meta-text: var(--inp_pm-s_end-meta-txt, rgb(128, 128, 128)),
    end-meta-text-disabled: var(--inp_pm-s_end-meta-txt-db, rgb(128, 128, 128)),
    end-meta-text-success: var(--inp_pm-s_end-meta-txt-ss, rgb(122, 222, 172)),
    end-meta-text-error: var(--inp_pm-s_end-meta-txt-er, rgb(255, 172, 156)),
  ),
  color-primary-transparent: (
    focus-outline: var(--inp_pm-tp_f-outline, rgb(139, 139, 222)),
    content-general: var(--inp_pm-tp_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--inp_pm-tp_cnt-gn-db, rgb(128, 128, 128)),
    icon: var(--inp_pm-tp_ic, rgba(64, 96, 255, 0.6)),
    icon-hovered: var(--inp_pm-tp_ic-h, rgb(64, 96, 255)),
    placeholder: var(--inp_pm-tp_ph, rgb(128, 128, 128)),
    placeholder-hovered: var(--inp_pm-tp_ph-h, rgb(128, 128, 128)),
    placeholder-active: var(--inp_pm-tp_ph-a, rgb(128, 128, 128)),
    placeholder-disabled: var(--inp_pm-tp_ph-db, rgb(128, 128, 128)),
    background: var(--inp_pm-tp_bgc, rgba(0, 0, 0, 0)),
    background-hovered: var(--inp_pm-tp_bgc-h, rgba(0, 0, 0, 0)),
    background-active: var(--inp_pm-tp_bgc-a, rgba(0, 0, 0, 0)),
    background-disabled: var(--inp_pm-tp_bgc-db, rgba(0, 0, 0, 0)),
    border: var(--inp_pm-tp_bdc, rgb(235, 235, 235)),
    border-hovered: var(--inp_pm-tp_bdc-h, rgb(139, 139, 222)),
    border-active: var(--inp_pm-tp_bdc-a, rgb(64, 96, 255)),
    border-disabled: var(--inp_pm-tp_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--inp_pm-tp_bdc-ss, rgb(122, 222, 172)),
    border-error: var(--inp_pm-tp_bdc-er, rgb(255, 172, 156)),
    label-text: var(--inp_pm-tp_label-txt, rgb(128, 128, 128)),
    label-text-disabled: var(--inp_pm-tp_label-txt-db, rgb(128, 128, 128)),
    start-meta-text: var(--inp_pm-tp_start-meta-txt, rgb(128, 128, 128)),
    start-meta-text-disabled:
      var(--inp_pm-tp_start-meta-txt-db, rgb(128, 128, 128)),
    start-meta-text-success:
      var(--inp_pm-tp_start-meta-txt-ss, rgb(122, 222, 172)),
    start-meta-text-error:
      var(--inp_pm-tp_start-meta-txt-er, rgb(255, 172, 156)),
    end-meta-text: var(--inp_pm-tp_end-meta-txt, rgb(128, 128, 128)),
    end-meta-text-disabled: var(--inp_pm-tp_end-meta-txt-db, rgb(128, 128, 128)),
    end-meta-text-success: var(--inp_pm-tp_end-meta-txt-ss, rgb(122, 222, 172)),
    end-meta-text-error: var(--inp_pm-tp_end-meta-txt-er, rgb(255, 172, 156)),
  ),
  color-secondary-solid: (
    focus-outline: var(--inp_sc-s_f-outline, rgb(139, 139, 222)),
    content-general: var(--inp_sc-s_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--inp_sc-s_cnt-gn-db, rgb(128, 128, 128)),
    icon: var(--inp_sc-s_ic, rgba(64, 96, 255, 0.6)),
    icon-hovered: var(--inp_sc-s_ic-h, rgb(64, 96, 255)),
    placeholder: var(--inp_sc-s_ph, rgb(128, 128, 128)),
    placeholder-hovered: var(--inp_sc-s_ph-h, rgb(128, 128, 128)),
    placeholder-active: var(--inp_sc-s_ph-a, rgb(128, 128, 128)),
    placeholder-disabled: var(--inp_sc-s_ph-db, rgb(128, 128, 128)),
    background: var(--inp_sc-s_bgc, rgb(235, 235, 235)),
    background-hovered: var(--inp_sc-s_bgc-h, rgb(235, 235, 235)),
    background-active: var(--inp_sc-s_bgc-a, rgb(235, 235, 235)),
    background-disabled: var(--inp_sc-s_bgc-db, rgb(235, 235, 235)),
    border: var(--inp_sc-s_bdc, rgb(10, 10, 10)),
    border-hovered: var(--inp_sc-s_bdc-h, rgb(139, 139, 222)),
    border-active: var(--inp_sc-s_bdc-a, rgb(64, 96, 255)),
    border-disabled: var(--inp_sc-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--inp_sc-s_bdc-ss, rgb(122, 222, 172)),
    border-error: var(--inp_sc-s_bdc-er, rgb(255, 172, 156)),
    label-text: var(--inp_sc-s_label-txt, rgb(128, 128, 128)),
    label-text-disabled: var(--inp_sc-s_label-txt-db, rgb(128, 128, 128)),
    start-meta-text: var(--inp_sc-s_start-meta-txt, rgb(128, 128, 128)),
    start-meta-text-disabled:
      var(--inp_sc-s_start-meta-txt-db, rgb(128, 128, 128)),
    start-meta-text-success:
      var(--inp_sc-s_start-meta-txt-ss, rgb(122, 222, 172)),
    start-meta-text-error: var(--inp_sc-s_start-meta-txt-er, rgb(255, 172, 156)),
    end-meta-text: var(--inp_sc-s_end-meta-txt, rgb(128, 128, 128)),
    end-meta-text-disabled: var(--inp_sc-s_end-meta-txt-db, rgb(128, 128, 128)),
    end-meta-text-success: var(--inp_sc-s_end-meta-txt-ss, rgb(122, 222, 172)),
    end-meta-text-error: var(--inp_sc-s_end-meta-txt-er, rgb(255, 172, 156)),
  ),
  color-secondary-transparent: (
    focus-outline: var(--inp_sc-tp_f-outline, rgb(139, 139, 222)),
    content-general: var(--inp_sc-tp_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--inp_sc-tp_cnt-gn-db, rgb(128, 128, 128)),
    icon: var(--inp_sc-tp_ic, rgba(64, 96, 255, 0.6)),
    icon-hovered: var(--inp_sc-tp_ic-h, rgb(64, 96, 255)),
    placeholder: var(--inp_sc-tp_ph, rgb(128, 128, 128)),
    placeholder-hovered: var(--inp_sc-tp_ph-h, rgb(128, 128, 128)),
    placeholder-active: var(--inp_sc-tp_ph-a, rgb(128, 128, 128)),
    placeholder-disabled: var(--inp_sc-tp_ph-db, rgb(128, 128, 128)),
    background: var(--inp_sc-tp_bgc, rgba(0, 0, 0, 0)),
    background-hovered: var(--inp_sc-tp_bgc-h, rgba(0, 0, 0, 0)),
    background-active: var(--inp_sc-tp_bgc-a, rgba(0, 0, 0, 0)),
    background-disabled: var(--inp_sc-tp_bgc-db, rgba(0, 0, 0, 0)),
    border: var(--inp_sc-tp_bdc, rgba(0, 0, 0, 0)),
    border-hovered: var(--inp_sc-tp_bdc-h, rgb(139, 139, 222)),
    border-active: var(--inp_sc-tp_bdc-a, rgb(64, 96, 255)),
    border-disabled: var(--inp_sc-tp_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--inp_sc-tp_bdc-ss, rgb(122, 222, 172)),
    border-error: var(--inp_sc-tp_bdc-er, rgb(255, 172, 156)),
    label-text: var(--inp_sc-tp_label-txt, rgb(128, 128, 128)),
    label-text-disabled: var(--inp_sc-tp_label-txt-db, rgb(128, 128, 128)),
    start-meta-text: var(--inp_sc-tp_start-meta-txt, rgb(128, 128, 128)),
    start-meta-text-disabled:
      var(--inp_sc-tp_start-meta-txt-db, rgb(128, 128, 128)),
    start-meta-text-success:
      var(--inp_sc-tp_start-meta-txt-ss, rgb(122, 222, 172)),
    start-meta-text-error:
      var(--inp_sc-tp_start-meta-txt-er, rgb(255, 172, 156)),
    end-meta-text: var(--inp_sc-tp_end-meta-txt, rgb(128, 128, 128)),
    end-meta-text-disabled: var(--inp_sc-tp_end-meta-txt-db, rgb(128, 128, 128)),
    end-meta-text-success: var(--inp_sc-tp_end-meta-txt-ss, rgb(122, 222, 172)),
    end-meta-text-error: var(--inp_sc-tp_end-meta-txt-er, rgb(255, 172, 156)),
  ),
  color-tertiary-solid: (
    focus-outline: var(--inp_tt-s_f-outline, rgb(64, 96, 255)),
    content-general: var(--inp_tt-s_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--inp_tt-s_cnt-gn-db, rgb(139, 139, 222)),
    icon: var(--inp_tt-s_ic, rgba(64, 96, 255, 0.4)),
    icon-hovered: var(--inp_tt-s_ic-h, rgb(64, 96, 255)),
    placeholder: var(--inp_tt-s_ph, rgb(139, 139, 222)),
    placeholder-hovered: var(--inp_tt-s_ph-h, rgb(139, 139, 222)),
    placeholder-active: var(--inp_tt-s_ph-a, rgb(139, 139, 222)),
    placeholder-disabled: var(--inp_tt-s_ph-db, rgb(139, 139, 222)),
    background: var(--inp_tt-s_bgc, rgb(237, 237, 250)),
    background-hovered: var(--inp_tt-s_bgc-h, rgb(237, 237, 250)),
    background-active: var(--inp_tt-s_bgc-a, rgb(237, 237, 250)),
    background-disabled: var(--inp_tt-s_bgc-db, rgb(237, 237, 250)),
    border: var(--inp_tt-s_bdc, rgb(139, 139, 222)),
    border-hovered: var(--inp_tt-s_bdc-h, rgb(184, 184, 235)),
    border-active: var(--inp_tt-s_bdc-a, rgb(64, 96, 255)),
    border-disabled: var(--inp_tt-s_bdc-db, rgba(0, 0, 0, 0)),
    border-success: var(--inp_tt-s_bdc-ss, rgb(0, 192, 96)),
    border-error: var(--inp_tt-s_bdc-er, rgb(255, 96, 64)),
    label-text: var(--inp_tt-s_label-txt, rgb(128, 128, 128)),
    label-text-disabled: var(--inp_tt-s_label-txt-db, rgb(128, 128, 128)),
    start-meta-text: var(--inp_tt-s_start-meta-txt, rgb(128, 128, 128)),
    start-meta-text-disabled:
      var(--inp_tt-s_start-meta-txt-db, rgb(128, 128, 128)),
    start-meta-text-success:
      var(--inp_tt-s_start-meta-txt-ss, rgb(122, 222, 172)),
    start-meta-text-error: var(--inp_tt-s_start-meta-txt-er, rgb(255, 172, 156)),
    end-meta-text: var(--inp_tt-s_end-meta-txt, rgb(128, 128, 128)),
    end-meta-text-disabled: var(--inp_tt-s_end-meta-txt-db, rgb(128, 128, 128)),
    end-meta-text-success: var(--inp_tt-s_end-meta-txt-ss, rgb(122, 222, 172)),
    end-meta-text-error: var(--inp_tt-s_end-meta-txt-er, rgb(255, 172, 156)),
  ),
  color-tertiary-transparent: (
    focus-outline: var(--inp_tt-tp_f-outline, rgb(64, 96, 255)),
    content-general: var(--inp_tt-tp_cnt-gn, rgb(10, 10, 10)),
    content-general-disabled: var(--inp_tt-tp_cnt-gn-db, rgb(139, 139, 222)),
    icon: var(--inp_tt-tp_ic, rgba(64, 96, 255, 0.6)),
    icon-hovered: var(--inp_tt-tp_ic-h, rgb(64, 96, 255)),
    placeholder: var(--inp_tt-tp_ph, rgba(64, 96, 255, 0.4)),
    placeholder-hovered: var(--inp_tt-tp_ph-h, rgba(64, 96, 255, 0.4)),
    placeholder-active: var(--inp_tt-tp_ph-a, rgba(64, 96, 255, 0.4)),
    placeholder-disabled: var(--inp_tt-tp_ph-db, rgba(64, 96, 255, 0.4)),
    background: var(--inp_tt-tp_bgc, rgba(0, 0, 0, 0)),
    background-hovered: var(--inp_tt-tp_bgc-h, rgba(0, 0, 0, 0)),
    background-active: var(--inp_tt-tp_bgc-a, rgba(0, 0, 0, 0)),
    background-disabled: var(--inp_tt-tp_bgc-db, rgba(0, 0, 0, 0)),
    border: var(--inp_tt-tp_bdc, rgba(64, 96, 255, 0.2)),
    border-hovered: var(--inp_tt-tp_bdc-h, rgba(64, 96, 255, 0.4)),
    border-active: var(--inp_tt-tp_bdc-a, rgb(64, 96, 255)),
    border-disabled: var(--inp_tt-tp_bdc-db, rgba(64, 96, 255, 0.2)),
    border-success: var(--inp_tt-tp_bdc-ss, rgb(0, 192, 96)),
    border-error: var(--inp_tt-tp_bdc-er, rgb(255, 96, 64)),
    label-text: var(--inp_tt-tp_label-txt, rgb(128, 128, 128)),
    label-text-disabled: var(--inp_tt-tp_label-txt-db, rgb(128, 128, 128)),
    start-meta-text: var(--inp_tt-tp_start-meta-txt, rgb(128, 128, 128)),
    start-meta-text-disabled:
      var(--inp_tt-tp_start-meta-txt-db, rgb(128, 128, 128)),
    start-meta-text-success:
      var(--inp_tt-tp_start-meta-txt-ss, rgb(122, 222, 172)),
    start-meta-text-error:
      var(--inp_tt-tp_start-meta-txt-er, rgb(255, 172, 156)),
    end-meta-text: var(--inp_tt-tp_end-meta-txt, rgb(128, 128, 128)),
    end-meta-text-disabled: var(--inp_tt-tp_end-meta-txt-db, rgb(128, 128, 128)),
    end-meta-text-success: var(--inp_tt-tp_end-meta-txt-ss, rgb(122, 222, 172)),
    end-meta-text-error: var(--inp_tt-tp_end-meta-txt-er, rgb(255, 172, 156)),
  ),
);
