$scale: (
  control-height: (
    s: 48px,
  ),
  control-value-height: (
    s: 32px,
  ),
  control-gap-x: (
    s: 8px,
  ),
  control-value-gap-x: (
    s: 4px,
  ),
  control-padding-y: (
    s: 8px,
  ),
  control-padding-x: (
    s: 8px,
  ),
  control-border-width: (
    s: 1px,
  ),
  control-border-radius-rounded: (
    s: 8px,
  ),
  control-border-radius-circular: (
    s: 24px,
  ),
  control-border-radius-square: (
    s: 0px,
  ),
  control-font-size: (
    s: 14px,
  ),
  control-line-height: (
    s: 24px,
  ),
  control-chip-gap-x: (
    s: 4px,
  ),
  control-chip-border-width: (
    s: 1px,
  ),
  control-chip-border-radius-rounded: (
    s: 4px,
  ),
  control-chip-border-radius-circular: (
    s: 12px,
  ),
  control-chip-border-radius-square: (
    s: 0px,
  ),
  control-chip-padding-y: (
    s: 0px,
  ),
  control-chip-padding-x: (
    s: 2px,
  ),
  menu-offset-y: (
    s: 0px,
  ),
  menu-gap-y: (
    s: 4px,
  ),
  menu-border-width: (
    s: 1px,
  ),
  menu-border-radius-rounded: (
    s: 0 0 8px 8px,
  ),
  menu-border-radius-circular: (
    s: 0 0 12px 12px,
  ),
  menu-border-radius-square: (
    s: 0px,
  ),
  menu-padding-y: (
    s: 8px,
  ),
  menu-padding-x: (
    s: 8px,
  ),
  menu-list-padding-y: (
    s: 0px,
  ),
  menu-list-padding-x: (
    s: 0px,
  ),
  menu-font-size: (
    s: 14px,
  ),
  menu-line-height: (
    s: 24px,
  ),
  option-height: (
    s: 40px,
  ),
  option-gap-x: (
    s: 8px,
  ),
  option-icon-size: (
    s: 24px,
  ),
  option-padding-y: (
    s: 8px,
  ),
  option-padding-x: (
    s: 8px,
  ),
  option-border-radius-rounded: (
    s: 8px,
  ),
  option-border-radius-circular: (
    s: 20px,
  ),
  option-border-radius-square: (
    s: 0px,
  ),
);
