$style: (
  content: (
    font-family: "SB Sans Text, Arial, Helvetica, sans-serif",
  ),
  control: (
    font-weight: 500,
    control-chip-maw: 320px,
  ),
  menu: (
    font-weight: 500,
  ),
  animation: (
    time: 200ms,
    method: ease,
  ),
);
