$scale: (
  width: (
    xs: 128px,
  ),
  padding-x: (
    xs: 0px,
  ),
  padding-y: (
    xs: 0px,
  ),
  gap-x: (
    xs: 8px,
  ),
  glyph-border-radius-square: (
    xs: 0px,
  ),
  glyph-border-radius-circular: (
    xs: 50%,
  ),
  glyph-border-radius-rounded: (
    xs: 4px,
  ),
  glyph-width: (
    xs: 24px,
  ),
  glyph-height: (
    xs: 24px,
  ),
  glyph-border-width: (
    xs: 2px,
  ),
  glyph-padding-x: (
    xs: 0px,
  ),
  glyph-padding-y: (
    xs: 0px,
  ),
  glyph-inner-width: (
    xs: 14px,
  ),
  glyph-inner-height: (
    xs: 14px,
  ),
  text-font-size: (
    xs: 14px,
  ),
  text-line-height: (
    xs: 24px,
  ),
  text-padding-x: (
    xs: 8px,
  ),
  text-padding-y: (
    xs: 0px,
  ),
  text-gap-x: (
    xs: 12px,
  ),
);
