$variables: (
  glyph-theme-light: (
    --mda_clr-trnsprnt: rgba(0, 0, 0, 0),
    --mda_clr-drk: undefined,
    --mda_clr-lght: rgb(255, 255, 255),
    --mda_clr-ntrl: rgb(49, 49, 49),
    --mda_clr-prmr: undefined,
    --mda_clr-scndr: undefined,
    --mda_clr-nfrmtv: rgb(110, 86, 231),
    --mda_clr-pstv: rgb(61, 207, 134),
    --mda_clr-ttntn: rgb(255, 183, 86),
    --mda_clr-ngtv: rgb(255, 134, 110),
    --mda_stt-dsbld: undefined,
    --mda_stt-skltn: undefined,
    --mda_stt-skltn-bckgrnd: undefined,
  ),
  glyph-theme-dark: (
    --mda_clr-trnsprnt: rgba(0, 0, 0, 0),
    --mda_clr-ntrl: rgb(49, 49, 49),
    --mda_clr-lght: rgb(255, 255, 255),
    --mda_clr-prmr: undefined,
    --mda_clr-scndr: undefined,
    --mda_clr-nfrmtv: rgb(110, 86, 231),
    --mda_clr-pstv: rgb(61, 207, 134),
    --mda_clr-ttntn: rgb(255, 183, 86),
    --mda_clr-ngtv: rgb(255, 134, 110),
    --mda_clr-dsbld: undefined,
    --mda_clr-skltn: undefined,
    --mda_stt-skltn-bckgrnd: undefined,
  ),
);
