$style: (
  content: (
    font-family: "SB Sans Interface, Arial, Helvetica, sans-serif",
    text-case: None,
    text-decoration: None,
    font-weight: 400,
  ),
  meta: (
    gap: 6px,
    glyph-width: 14px,
    glyph-height: 14px,
    glyph-border-width: 2pxpx,
    glyph-padding-x: 0px,
    glyph-padding-y: 1px,
    font-size: 12px,
    letter-spacing: 0px,
    line-height: 16px,
    text-padding-x: 0px,
    text-padding-y: 0px,
  ),
);
