$variables: (
  theme-light: (
    --dv_dk_cnt-gn: rgb(23, 23, 23),
    --dv_dk_cnt-ad: rgba(23, 23, 23, 0.6),
    --dv_dk_br: rgb(23, 23, 23),
    --dv_nc_cnt-gn: #292929,
    --dv_nc_cnt-ad: rgba(#292929, 0.6),
    --dv_nc_br: #292929,
    --dv_pm_cnt-gn: #6e56e7,
    --dv_pm_cnt-ad: rgba(#6e56e7, 0.6),
    --dv_pm_br: #6e56e7,
    --dv_sc_cnt-gn: #3d86ff,
    --dv_sc_cnt-ad: rgba(#3d86ff, 0.6),
    --dv_sc_br: #3d86ff,
    --dv_inf_cnt-gn: #6e56e7,
    --dv_inf_cnt-ad: rgba(#6e56e7, 0.6),
    --dv_inf_br: #6e56e7,
    --dv_ps_cnt-gn: #3dcf86,
    --dv_ps_cnt-ad: rgba(#3dcf86, 0.6),
    --dv_ps_br: #3dcf86,
    --dv_at_cnt-gn: #ffb756,
    --dv_at_cnt-ad: rgba(#ffb756, 0.6),
    --dv_at_br: #ffb756,
    --dv_ng_cnt-gn: #ff866e,
    --dv_ng_cnt-ad: rgba(#ff866e, 0.6),
    --dv_ng_br: #ff866e,
    --dv_s-db_cnt-gn: #292929,
    --dv_s-db_cnt-ad: #292929,
    --dv_s-db_br: #292929,
    --dv_s-sk_cnt-gn: rgba(0, 0, 0, 0),
    --dv_s-sk_cnt-ad: rgba(0, 0, 0, 0),
    --dv_s-sk_br: #292929,
  ),
  theme-dark: (
    --dv_dk_cnt-gn: rgb(23, 23, 23),
    --dv_dk_cnt-ad: rgba(23, 23, 23, 0.6),
    --dv_dk_br: rgb(23, 23, 23),
    --dv_nc_cnt-gn: #292929,
    --dv_nc_cnt-ad: rgba(#292929, 0.6),
    --dv_nc_br: #292929,
    --dv_lt_cnt-gn: #ffffff,
    --dv_lt_cnt-ad: rgba(#ffffff, 0.6),
    --dv_lt_br: #ffffff,
    --dv_pm_cnt-gn: #6e56e7,
    --dv_pm_cnt-ad: rgba(#6e56e7, 0.6),
    --dv_pm_br: #6e56e7,
    --dv_inf_cnt-gn: #6e56e7,
    --dv_inf_cnt-ad: rgba(#6e56e7, 0.6),
    --dv_inf_br: #6e56e7,
    --dv_ps_cnt-gn: #3dcf86,
    --dv_ps_cnt-ad: rgba(#3dcf86, 0.6),
    --dv_ps_br: #3dcf86,
    --dv_at_cnt-gn: #ffb756,
    --dv_at_cnt-ad: rgba(#ffb756, 0.6),
    --dv_at_br: #ffb756,
    --dv_ng_cnt-gn: #ff866e,
    --dv_ng_cnt-ad: rgba(#ff866e, 0.6),
    --dv_ng_br: #ff866e,
    --dv_s-db_cnt-gn: #292929,
    --dv_s-db_cnt-ad: #292929,
    --dv_s-db_br: #292929,
    --dv_s-sk_cnt-gn: rgba(0, 0, 0, 0),
    --dv_s-sk_cnt-ad: rgba(0, 0, 0, 0),
    --dv_s-sk_br: #292929,
  ),
);
