$variables: (
  theme-light: (
    --chp_dk-s_cnt-gn: #ffffff,
    --chp_dk-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_dk-s_actn: rgba(#ffffff, 0.6),
    --chp_dk-s_actn-f: #ffffff,
    --chp_dk-s_actn-h: #ffffff,
    --chp_dk-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-s_bg: rgb(23, 23, 23),
    --chp_dk-s_br: rgba(0, 0, 0, 0),
    --chp_dk-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_dk-el_cnt-gn: #ffffff,
    --chp_dk-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_dk-el_actn: rgba(#ffffff, 0.6),
    --chp_dk-el_actn-f: #ffffff,
    --chp_dk-el_actn-h: #ffffff,
    --chp_dk-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-el_bg: rgb(23, 23, 23),
    --chp_dk-el_br: rgba(0, 0, 0, 0),
    --chp_dk-el_sh: 0px 2px 10px 0px rgba(23, 23, 23, 0.1),
    --chp_dk-gh_cnt-gn: rgb(23, 23, 23),
    --chp_dk-gh_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_dk-gh_actn: rgba(23, 23, 23, 0.6),
    --chp_dk-gh_actn-f: rgb(23, 23, 23),
    --chp_dk-gh_actn-h: rgb(23, 23, 23),
    --chp_dk-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-gh_bg: rgba(0, 0, 0, 0),
    --chp_dk-gh_br: rgba(0, 0, 0, 0),
    --chp_dk-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_dk-gh-o_cnt-gn: rgb(23, 23, 23),
    --chp_dk-gh-o_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_dk-gh-o_actn: rgba(23, 23, 23, 0.6),
    --chp_dk-gh-o_actn-f: rgb(23, 23, 23),
    --chp_dk-gh-o_actn-h: rgb(23, 23, 23),
    --chp_dk-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_dk-gh-o_br: rgb(23, 23, 23),
    --chp_dk-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_lt-s_cnt-gn: rgb(23, 23, 23),
    --chp_lt-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_lt-s_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-s_actn-f: rgb(23, 23, 23),
    --chp_lt-s_actn-h: rgb(23, 23, 23),
    --chp_lt-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-s_bg: #ffffff,
    --chp_lt-s_br: rgba(0, 0, 0, 0),
    --chp_lt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_lt-el_cnt-gn: rgb(23, 23, 23),
    --chp_lt-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_lt-el_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-el_actn-f: rgb(23, 23, 23),
    --chp_lt-el_actn-h: rgb(23, 23, 23),
    --chp_lt-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-el_bg: #ffffff,
    --chp_lt-el_br: rgba(0, 0, 0, 0),
    --chp_lt-gh_cnt-gn: rgb(23, 23, 23),
    --chp_lt-gh_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_lt-gh_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-gh_actn-f: rgb(23, 23, 23),
    --chp_lt-gh_actn-h: rgb(23, 23, 23),
    --chp_lt-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-gh_bg: rgba(0, 0, 0, 0),
    --chp_lt-gh_br: rgba(0, 0, 0, 0),
    --chp_lt-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_lt-gh-o_cnt-gn: rgb(23, 23, 23),
    --chp_lt-gh-o_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_lt-gh-o_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-gh-o_actn-f: rgb(23, 23, 23),
    --chp_lt-gh-o_actn-h: rgb(23, 23, 23),
    --chp_lt-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_lt-gh-o_br: #ffffff,
    --chp_lt-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_pm-s_cnt-gn: #ffffff,
    --chp_pm-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_pm-s_actn: rgba(#ffffff, 0.6),
    --chp_pm-s_actn-f: #ffffff,
    --chp_pm-s_actn-h: #ffffff,
    --chp_pm-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-s_bg: #6e56e7,
    --chp_pm-s_br: rgba(0, 0, 0, 0),
    --chp_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_pm-el_cnt-gn: #ffffff,
    --chp_pm-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_pm-el_actn: rgba(#ffffff, 0.6),
    --chp_pm-el_actn-f: #ffffff,
    --chp_pm-el_actn-h: #ffffff,
    --chp_pm-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-el_bg: #6e56e7,
    --chp_pm-el_br: rgba(0, 0, 0, 0),
    --chp_pm-gh_cnt-gn: #6e56e7,
    --chp_pm-gh_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_pm-gh_actn: rgba(#6e56e7, 0.6),
    --chp_pm-gh_actn-f: #6e56e7,
    --chp_pm-gh_actn-h: #6e56e7,
    --chp_pm-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-gh_bg: rgba(0, 0, 0, 0),
    --chp_pm-gh_br: rgba(0, 0, 0, 0),
    --chp_pm-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_pm-gh-o_cnt-gn: #6e56e7,
    --chp_pm-gh-o_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_pm-gh-o_actn: rgba(#6e56e7, 0.6),
    --chp_pm-gh-o_actn-f: #6e56e7,
    --chp_pm-gh-o_actn-h: #6e56e7,
    --chp_pm-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_pm-gh-o_br: #6e56e7,
    --chp_pm-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_sc-s_cnt-gn: #ffffff,
    --chp_sc-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_sc-s_actn: rgba(#ffffff, 0.6),
    --chp_sc-s_actn-f: #ffffff,
    --chp_sc-s_actn-h: #ffffff,
    --chp_sc-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-s_bg: #3d86ff,
    --chp_sc-s_br: rgba(0, 0, 0, 0),
    --chp_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_sc-el_cnt-gn: #ffffff,
    --chp_sc-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_sc-el_actn: rgba(#ffffff, 0.6),
    --chp_sc-el_actn-f: #ffffff,
    --chp_sc-el_actn-h: #ffffff,
    --chp_sc-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-el_bg: #3d86ff,
    --chp_sc-el_br: rgba(0, 0, 0, 0),
    --chp_sc-gh_cnt-gn: #3d86ff,
    --chp_sc-gh_cnt-ad: rgba(#3d86ff, 0.6),
    --chp_sc-gh_actn: rgba(#3d86ff, 0.6),
    --chp_sc-gh_actn-f: #3d86ff,
    --chp_sc-gh_actn-h: #3d86ff,
    --chp_sc-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-gh_bg: rgba(0, 0, 0, 0),
    --chp_sc-gh_br: rgba(0, 0, 0, 0),
    --chp_sc-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_sc-gh-o_cnt-gn: #3d86ff,
    --chp_sc-gh-o_cnt-ad: rgba(#3d86ff, 0.6),
    --chp_sc-gh-o_actn: rgba(#3d86ff, 0.6),
    --chp_sc-gh-o_actn-f: #3d86ff,
    --chp_sc-gh-o_actn-h: #3d86ff,
    --chp_sc-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_sc-gh-o_br: #3d86ff,
    --chp_sc-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_inf-s_cnt-gn: #ffffff,
    --chp_inf-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_inf-s_actn: rgba(#ffffff, 0.6),
    --chp_inf-s_actn-f: #ffffff,
    --chp_inf-s_actn-h: #ffffff,
    --chp_inf-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-s_bg: #6e56e7,
    --chp_inf-s_br: rgba(0, 0, 0, 0),
    --chp_inf-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_inf-el_cnt-gn: #ffffff,
    --chp_inf-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_inf-el_actn: rgba(#ffffff, 0.6),
    --chp_inf-el_actn-f: #ffffff,
    --chp_inf-el_actn-h: #ffffff,
    --chp_inf-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-el_bg: #6e56e7,
    --chp_inf-el_br: rgba(0, 0, 0, 0),
    --chp_inf-gh_cnt-gn: #6e56e7,
    --chp_inf-gh_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_inf-gh_actn: rgba(#6e56e7, 0.6),
    --chp_inf-gh_actn-f: #6e56e7,
    --chp_inf-gh_actn-h: #6e56e7,
    --chp_inf-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-gh_bg: rgba(0, 0, 0, 0),
    --chp_inf-gh_br: rgba(0, 0, 0, 0),
    --chp_inf-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_inf-gh-o_cnt-gn: #6e56e7,
    --chp_inf-gh-o_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_inf-gh-o_actn: rgba(#6e56e7, 0.6),
    --chp_inf-gh-o_actn-f: #6e56e7,
    --chp_inf-gh-o_actn-h: #6e56e7,
    --chp_inf-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_inf-gh-o_br: #6e56e7,
    --chp_inf-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ps-s_cnt-gn: #ffffff,
    --chp_ps-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_ps-s_actn: rgba(#ffffff, 0.6),
    --chp_ps-s_actn-f: #ffffff,
    --chp_ps-s_actn-h: #ffffff,
    --chp_ps-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-s_bg: #3dcf86,
    --chp_ps-s_br: rgba(0, 0, 0, 0),
    --chp_ps-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ps-el_cnt-gn: #ffffff,
    --chp_ps-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_ps-el_actn: rgba(#ffffff, 0.6),
    --chp_ps-el_actn-f: #ffffff,
    --chp_ps-el_actn-h: #ffffff,
    --chp_ps-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-el_bg: #3dcf86,
    --chp_ps-el_br: rgba(0, 0, 0, 0),
    --chp_ps-gh_cnt-gn: #3dcf86,
    --chp_ps-gh_cnt-ad: rgba(#3dcf86, 0.6),
    --chp_ps-gh_actn: rgba(#3dcf86, 0.6),
    --chp_ps-gh_actn-f: #3dcf86,
    --chp_ps-gh_actn-h: #3dcf86,
    --chp_ps-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-gh_bg: rgba(0, 0, 0, 0),
    --chp_ps-gh_br: rgba(0, 0, 0, 0),
    --chp_ps-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ps-gh-o_cnt-gn: #3dcf86,
    --chp_ps-gh-o_cnt-ad: rgba(#3dcf86, 0.6),
    --chp_ps-gh-o_actn: rgba(#3dcf86, 0.6),
    --chp_ps-gh-o_actn-f: #3dcf86,
    --chp_ps-gh-o_actn-h: #3dcf86,
    --chp_ps-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_ps-gh-o_br: #3dcf86,
    --chp_ps-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_at-s_cnt-gn: #ffffff,
    --chp_at-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_at-s_actn: rgba(#ffffff, 0.6),
    --chp_at-s_actn-f: #ffffff,
    --chp_at-s_actn-h: #ffffff,
    --chp_at-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-s_bg: #ffb756,
    --chp_at-s_br: rgba(0, 0, 0, 0),
    --chp_at-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_at-el_cnt-gn: #ffffff,
    --chp_at-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_at-el_actn: rgba(#ffffff, 0.6),
    --chp_at-el_actn-f: #ffffff,
    --chp_at-el_actn-h: #ffffff,
    --chp_at-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-el_bg: #ffb756,
    --chp_at-el_br: rgba(0, 0, 0, 0),
    --chp_at-gh_cnt-gn: #ffb756,
    --chp_at-gh_cnt-ad: rgba(#ffb756, 0.6),
    --chp_at-gh_actn: rgba(#ffb756, 0.6),
    --chp_at-gh_actn-f: #ffb756,
    --chp_at-gh_actn-h: #ffb756,
    --chp_at-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-gh_bg: rgba(0, 0, 0, 0),
    --chp_at-gh_br: rgba(0, 0, 0, 0),
    --chp_at-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_at-gh-o_cnt-gn: #ffb756,
    --chp_at-gh-o_cnt-ad: rgba(#ffb756, 0.6),
    --chp_at-gh-o_actn: rgba(#ffb756, 0.6),
    --chp_at-gh-o_actn-f: #ffb756,
    --chp_at-gh-o_actn-h: #ffb756,
    --chp_at-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_at-gh-o_br: #ffb756,
    --chp_at-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ng-s_cnt-gn: #ffffff,
    --chp_ng-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_ng-s_actn: rgba(#ffffff, 0.6),
    --chp_ng-s_actn-f: #ffffff,
    --chp_ng-s_actn-h: #ffffff,
    --chp_ng-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-s_bg: #ff866e,
    --chp_ng-s_br: rgba(0, 0, 0, 0),
    --chp_ng-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ng-el_cnt-gn: #ffffff,
    --chp_ng-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_ng-el_actn: rgba(#ffffff, 0.6),
    --chp_ng-el_actn-f: #ffffff,
    --chp_ng-el_actn-h: #ffffff,
    --chp_ng-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-el_bg: #ff866e,
    --chp_ng-el_br: rgba(0, 0, 0, 0),
    --chp_ng-gh_cnt-gn: #ff866e,
    --chp_ng-gh_cnt-ad: rgba(#ff866e, 0.6),
    --chp_ng-gh_actn: rgba(#ff866e, 0.6),
    --chp_ng-gh_actn-f: #ff866e,
    --chp_ng-gh_actn-h: #ff866e,
    --chp_ng-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-gh_bg: rgba(0, 0, 0, 0),
    --chp_ng-gh_br: rgba(0, 0, 0, 0),
    --chp_ng-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ng-gh-o_cnt-gn: #ff866e,
    --chp_ng-gh-o_cnt-ad: rgba(#ff866e, 0.6),
    --chp_ng-gh-o_actn: rgba(#ff866e, 0.6),
    --chp_ng-gh-o_actn-f: #ff866e,
    --chp_ng-gh-o_actn-h: #ff866e,
    --chp_ng-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_ng-gh-o_br: #ff866e,
    --chp_ng-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-s_cnt-gn: #858585,
    --chp_s-db-s_cnt-ad: #858585,
    --chp_s-db-s_actn: #858585,
    --chp_s-db-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-s_bg: #f5f5f5,
    --chp_s-db-s_br: rgba(0, 0, 0, 0),
    --chp_s-db-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-el_cnt-gn: #858585,
    --chp_s-db-el_cnt-ad: #858585,
    --chp_s-db-el_actn: #858585,
    --chp_s-db-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-el_bg: #f5f5f5,
    --chp_s-db-el_br: rgba(0, 0, 0, 0),
    --chp_s-db-el_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-gh_cnt-gn: #858585,
    --chp_s-db-gh_cnt-ad: #858585,
    --chp_s-db-gh_actn: #858585,
    --chp_s-db-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh_bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh_br: rgba(0, 0, 0, 0),
    --chp_s-db-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-gh-o_cnt-gn: #858585,
    --chp_s-db-gh-o_cnt-ad: #858585,
    --chp_s-db-gh-o_actn: #858585,
    --chp_s-db-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh-o_br: #292929,
    --chp_s-db-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-s_cnt-gn: rgba(0, 0, 0, 0),
    --chp_s-sk-s_cnt-ad: rgba(0, 0, 0, 0),
    --chp_s-sk-s_actn: rgba(0, 0, 0, 0),
    --chp_s-sk-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-s_bg: linear-gradient(0deg, #e0e0e0 0%, #292929 100%),
    --chp_s-sk-s_br: rgba(0, 0, 0, 0),
    --chp_s-sk-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-el_cnt-gn: #858585,
    --chp_s-sk-el_cnt-ad: #858585,
    --chp_s-sk-el_actn: #858585,
    --chp_s-sk-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-el_bg: #f5f5f5,
    --chp_s-sk-el_br: rgba(0, 0, 0, 0),
    --chp_s-sk-el_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-gh_cnt-gn: #858585,
    --chp_s-sk-gh_cnt-ad: #858585,
    --chp_s-sk-gh_actn: #858585,
    --chp_s-sk-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh_bg: #f5f5f5,
    --chp_s-sk-gh_br: rgba(0, 0, 0, 0),
    --chp_s-sk-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_cnt-gn: #858585,
    --chp_s-sk-gh-o_cnt-ad: #858585,
    --chp_s-sk-gh-o_actn: #858585,
    --chp_s-sk-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_br: rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  theme-dark: (
    --chp_dk-s_cnt-gn: #ffffff,
    --chp_dk-s_cnt-ad: rgba(#ffffff, 0.6),
    --chp_dk-s_actn: rgba(#ffffff, 0.6),
    --chp_dk-s_actn-f: #ffffff,
    --chp_dk-s_actn-h: #ffffff,
    --chp_dk-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-s_bg: rgb(23, 23, 23),
    --chp_dk-s_br: rgba(0, 0, 0, 0),
    --chp_dk-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_dk-el_cnt-gn: #ffffff,
    --chp_dk-el_cnt-ad: rgba(#ffffff, 0.6),
    --chp_dk-el_actn: rgba(#ffffff, 0.6),
    --chp_dk-el_actn-f: #ffffff,
    --chp_dk-el_actn-h: #ffffff,
    --chp_dk-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-el_bg: rgb(23, 23, 23),
    --chp_dk-el_br: rgba(0, 0, 0, 0),
    --chp_dk-el_sh: 0px 2px 10px 0px rgba(23, 23, 23, 0.1),
    --chp_dk-gh_cnt-gn: #ffffff,
    --chp_dk-gh_cnt-ad: rgba(#ffffff, 0.6),
    --chp_dk-gh_actn: rgba(#ffffff, 0.6),
    --chp_dk-gh_actn-f: #ffffff,
    --chp_dk-gh_actn-h: #ffffff,
    --chp_dk-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-gh_bg: rgba(0, 0, 0, 0),
    --chp_dk-gh_br: rgba(0, 0, 0, 0),
    --chp_dk-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_dk-gh-o_cnt-gn: #ffffff,
    --chp_dk-gh-o_cnt-ad: rgba(#ffffff, 0.6),
    --chp_dk-gh-o_actn: rgba(#ffffff, 0.6),
    --chp_dk-gh-o_actn-f: #ffffff,
    --chp_dk-gh-o_actn-h: #ffffff,
    --chp_dk-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_dk-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_dk-gh-o_br: rgb(23, 23, 23),
    --chp_dk-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_lt-s_cnt-gn: rgb(23, 23, 23),
    --chp_lt-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_lt-s_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-s_actn-f: rgb(23, 23, 23),
    --chp_lt-s_actn-h: rgb(23, 23, 23),
    --chp_lt-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-s_bg: #ffffff,
    --chp_lt-s_br: rgba(0, 0, 0, 0),
    --chp_lt-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_lt-el_cnt-gn: rgb(23, 23, 23),
    --chp_lt-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_lt-el_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-el_actn-f: rgb(23, 23, 23),
    --chp_lt-el_actn-h: rgb(23, 23, 23),
    --chp_lt-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-el_bg: #ffffff,
    --chp_lt-el_br: rgba(0, 0, 0, 0),
    --chp_lt-gh_cnt-gn: #ffffff,
    --chp_lt-gh_cnt-ad: rgba(#ffffff, 0.6),
    --chp_lt-gh_actn: rgba(#ffffff, 0.6),
    --chp_lt-gh_actn-f: #ffffff,
    --chp_lt-gh_actn-h: #ffffff,
    --chp_lt-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-gh_bg: rgba(0, 0, 0, 0),
    --chp_lt-gh_br: rgba(0, 0, 0, 0),
    --chp_lt-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_lt-gh-o_cnt-gn: #ffffff,
    --chp_lt-gh-o_cnt-ad: rgba(#ffffff, 0.6),
    --chp_lt-gh-o_actn: rgba(23, 23, 23, 0.6),
    --chp_lt-gh-o_actn-f: rgb(23, 23, 23),
    --chp_lt-gh-o_actn-h: rgb(23, 23, 23),
    --chp_lt-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_lt-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_lt-gh-o_br: #ffffff,
    --chp_lt-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_pm-s_cnt-gn: rgb(23, 23, 23),
    --chp_pm-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_pm-s_actn: rgba(23, 23, 23, 0.6),
    --chp_pm-s_actn-f: rgb(23, 23, 23),
    --chp_pm-s_actn-h: rgb(23, 23, 23),
    --chp_pm-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-s_bg: #6e56e7,
    --chp_pm-s_br: rgba(0, 0, 0, 0),
    --chp_pm-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_pm-el_cnt-gn: rgb(23, 23, 23),
    --chp_pm-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_pm-el_actn: rgba(23, 23, 23, 0.6),
    --chp_pm-el_actn-f: rgb(23, 23, 23),
    --chp_pm-el_actn-h: rgb(23, 23, 23),
    --chp_pm-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-el_bg: #6e56e7,
    --chp_pm-el_br: rgba(0, 0, 0, 0),
    --chp_pm-gh_cnt-gn: #6e56e7,
    --chp_pm-gh_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_pm-gh_actn: rgba(#6e56e7, 0.6),
    --chp_pm-gh_actn-f: #6e56e7,
    --chp_pm-gh_actn-h: #6e56e7,
    --chp_pm-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-gh_bg: rgba(0, 0, 0, 0),
    --chp_pm-gh_br: rgba(0, 0, 0, 0),
    --chp_pm-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_pm-gh-o_cnt-gn: #6e56e7,
    --chp_pm-gh-o_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_pm-gh-o_actn: rgba(#6e56e7, 0.6),
    --chp_pm-gh-o_actn-f: #6e56e7,
    --chp_pm-gh-o_actn-h: #6e56e7,
    --chp_pm-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_pm-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_pm-gh-o_br: #6e56e7,
    --chp_pm-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_sc-s_cnt-gn: rgb(23, 23, 23),
    --chp_sc-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_sc-s_actn: rgba(23, 23, 23, 0.6),
    --chp_sc-s_actn-f: rgb(23, 23, 23),
    --chp_sc-s_actn-h: rgb(23, 23, 23),
    --chp_sc-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-s_bg: #3d86ff,
    --chp_sc-s_br: rgba(0, 0, 0, 0),
    --chp_sc-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_sc-el_cnt-gn: rgb(23, 23, 23),
    --chp_sc-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_sc-el_actn: rgba(23, 23, 23, 0.6),
    --chp_sc-el_actn-f: rgb(23, 23, 23),
    --chp_sc-el_actn-h: rgb(23, 23, 23),
    --chp_sc-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-el_bg: #3d86ff,
    --chp_sc-el_br: rgba(0, 0, 0, 0),
    --chp_sc-gh_cnt-gn: #3d86ff,
    --chp_sc-gh_cnt-ad: rgba(#3d86ff, 0.6),
    --chp_sc-gh_actn: rgba(#3d86ff, 0.6),
    --chp_sc-gh_actn-f: #3d86ff,
    --chp_sc-gh_actn-h: #3d86ff,
    --chp_sc-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-gh_bg: rgba(0, 0, 0, 0),
    --chp_sc-gh_br: rgba(0, 0, 0, 0),
    --chp_sc-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_sc-gh-o_cnt-gn: #3d86ff,
    --chp_sc-gh-o_cnt-ad: rgba(#3d86ff, 0.6),
    --chp_sc-gh-o_actn: rgba(#3d86ff, 0.6),
    --chp_sc-gh-o_actn-f: #3d86ff,
    --chp_sc-gh-o_actn-h: #3d86ff,
    --chp_sc-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_sc-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_sc-gh-o_br: #3d86ff,
    --chp_sc-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_inf-s_cnt-gn: rgb(23, 23, 23),
    --chp_inf-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_inf-s_actn: rgba(23, 23, 23, 0.6),
    --chp_inf-s_actn-f: rgb(23, 23, 23),
    --chp_inf-s_actn-h: rgb(23, 23, 23),
    --chp_inf-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-s_bg: #6e56e7,
    --chp_inf-s_br: rgba(0, 0, 0, 0),
    --chp_inf-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_inf-el_cnt-gn: rgb(23, 23, 23),
    --chp_inf-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_inf-el_actn: rgba(23, 23, 23, 0.6),
    --chp_inf-el_actn-f: rgb(23, 23, 23),
    --chp_inf-el_actn-h: rgb(23, 23, 23),
    --chp_inf-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-el_bg: #6e56e7,
    --chp_inf-el_br: rgba(0, 0, 0, 0),
    --chp_inf-gh_cnt-gn: #6e56e7,
    --chp_inf-gh_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_inf-gh_actn: rgba(#6e56e7, 0.6),
    --chp_inf-gh_actn-f: #6e56e7,
    --chp_inf-gh_actn-h: #6e56e7,
    --chp_inf-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-gh_bg: rgba(0, 0, 0, 0),
    --chp_inf-gh_br: rgba(0, 0, 0, 0),
    --chp_inf-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_inf-gh-o_cnt-gn: #6e56e7,
    --chp_inf-gh-o_cnt-ad: rgba(#6e56e7, 0.6),
    --chp_inf-gh-o_actn: rgba(#6e56e7, 0.6),
    --chp_inf-gh-o_actn-f: #6e56e7,
    --chp_inf-gh-o_actn-h: #6e56e7,
    --chp_inf-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_inf-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_inf-gh-o_br: #6e56e7,
    --chp_inf-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ps-s_cnt-gn: rgb(23, 23, 23),
    --chp_ps-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_ps-s_actn: rgba(23, 23, 23, 0.6),
    --chp_ps-s_actn-f: rgb(23, 23, 23),
    --chp_ps-s_actn-h: rgb(23, 23, 23),
    --chp_ps-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-s_bg: #3dcf86,
    --chp_ps-s_br: rgba(0, 0, 0, 0),
    --chp_ps-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ps-el_cnt-gn: rgb(23, 23, 23),
    --chp_ps-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_ps-el_actn: rgba(23, 23, 23, 0.6),
    --chp_ps-el_actn-f: rgb(23, 23, 23),
    --chp_ps-el_actn-h: rgb(23, 23, 23),
    --chp_ps-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-el_bg: #3dcf86,
    --chp_ps-el_br: rgba(0, 0, 0, 0),
    --chp_ps-gh_cnt-gn: #3dcf86,
    --chp_ps-gh_cnt-ad: rgba(#3dcf86, 0.6),
    --chp_ps-gh_actn: rgba(#3dcf86, 0.6),
    --chp_ps-gh_actn-f: #3dcf86,
    --chp_ps-gh_actn-h: #3dcf86,
    --chp_ps-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-gh_bg: rgba(0, 0, 0, 0),
    --chp_ps-gh_br: rgba(0, 0, 0, 0),
    --chp_ps-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ps-gh-o_cnt-gn: #3dcf86,
    --chp_ps-gh-o_cnt-ad: rgba(#3dcf86, 0.6),
    --chp_ps-gh-o_actn: rgba(#3dcf86, 0.6),
    --chp_ps-gh-o_actn-f: #3dcf86,
    --chp_ps-gh-o_actn-h: #3dcf86,
    --chp_ps-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_ps-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_ps-gh-o_br: #3dcf86,
    --chp_ps-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_at-s_cnt-gn: rgb(23, 23, 23),
    --chp_at-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_at-s_actn: rgba(23, 23, 23, 0.6),
    --chp_at-s_actn-f: rgb(23, 23, 23),
    --chp_at-s_actn-h: rgb(23, 23, 23),
    --chp_at-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-s_bg: #ffb756,
    --chp_at-s_br: rgba(0, 0, 0, 0),
    --chp_at-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_at-el_cnt-gn: rgb(23, 23, 23),
    --chp_at-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_at-el_actn: rgba(23, 23, 23, 0.6),
    --chp_at-el_actn-f: rgb(23, 23, 23),
    --chp_at-el_actn-h: rgb(23, 23, 23),
    --chp_at-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-el_bg: #ffb756,
    --chp_at-el_br: rgba(0, 0, 0, 0),
    --chp_at-gh_cnt-gn: #ffb756,
    --chp_at-gh_cnt-ad: rgba(#ffb756, 0.6),
    --chp_at-gh_actn: rgba(#ffb756, 0.6),
    --chp_at-gh_actn-f: #ffb756,
    --chp_at-gh_actn-h: #ffb756,
    --chp_at-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-gh_bg: rgba(0, 0, 0, 0),
    --chp_at-gh_br: rgba(0, 0, 0, 0),
    --chp_at-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_at-gh-o_cnt-gn: #ffb756,
    --chp_at-gh-o_cnt-ad: rgba(#ffb756, 0.6),
    --chp_at-gh-o_actn: rgba(#ffb756, 0.6),
    --chp_at-gh-o_actn-f: #ffb756,
    --chp_at-gh-o_actn-h: #ffb756,
    --chp_at-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_at-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_at-gh-o_br: #ffb756,
    --chp_at-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ng-s_cnt-gn: rgb(23, 23, 23),
    --chp_ng-s_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_ng-s_actn: rgba(23, 23, 23, 0.6),
    --chp_ng-s_actn-f: rgb(23, 23, 23),
    --chp_ng-s_actn-h: rgb(23, 23, 23),
    --chp_ng-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-s_bg: #ff866e,
    --chp_ng-s_br: rgba(0, 0, 0, 0),
    --chp_ng-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ng-el_cnt-gn: rgb(23, 23, 23),
    --chp_ng-el_cnt-ad: rgba(23, 23, 23, 0.6),
    --chp_ng-el_actn: rgba(23, 23, 23, 0.6),
    --chp_ng-el_actn-f: rgb(23, 23, 23),
    --chp_ng-el_actn-h: rgb(23, 23, 23),
    --chp_ng-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-el_bg: #ff866e,
    --chp_ng-el_br: rgba(0, 0, 0, 0),
    --chp_ng-gh_cnt-gn: #ff866e,
    --chp_ng-gh_cnt-ad: rgba(#ff866e, 0.6),
    --chp_ng-gh_actn: rgba(#ff866e, 0.6),
    --chp_ng-gh_actn-f: #ff866e,
    --chp_ng-gh_actn-h: #ff866e,
    --chp_ng-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-gh_bg: rgba(0, 0, 0, 0),
    --chp_ng-gh_br: rgba(0, 0, 0, 0),
    --chp_ng-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_ng-gh-o_cnt-gn: #ff866e,
    --chp_ng-gh-o_cnt-ad: rgba(#ff866e, 0.6),
    --chp_ng-gh-o_actn: rgba(#ff866e, 0.6),
    --chp_ng-gh-o_actn-f: #ff866e,
    --chp_ng-gh-o_actn-h: #ff866e,
    --chp_ng-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_ng-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_ng-gh-o_br: #ff866e,
    --chp_ng-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-s_cnt-gn: #858585,
    --chp_s-db-s_cnt-ad: #858585,
    --chp_s-db-s_actn: #858585,
    --chp_s-db-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-s_bg: #141414,
    --chp_s-db-s_br: rgba(0, 0, 0, 0),
    --chp_s-db-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-el_cnt-gn: #858585,
    --chp_s-db-el_cnt-ad: #858585,
    --chp_s-db-el_actn: #858585,
    --chp_s-db-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-el_bg: #141414,
    --chp_s-db-el_br: rgba(0, 0, 0, 0),
    --chp_s-db-el_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-gh_cnt-gn: #858585,
    --chp_s-db-gh_cnt-ad: #858585,
    --chp_s-db-gh_actn: #858585,
    --chp_s-db-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh_bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh_br: rgba(0, 0, 0, 0),
    --chp_s-db-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-db-gh-o_cnt-gn: #858585,
    --chp_s-db-gh-o_cnt-ad: #858585,
    --chp_s-db-gh-o_actn: #858585,
    --chp_s-db-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_s-db-gh-o_br: #292929,
    --chp_s-db-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-s_cnt-gn: #858585,
    --chp_s-sk-s_cnt-ad: #858585,
    --chp_s-sk-s_actn: #858585,
    --chp_s-sk-s_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-s_bg: linear-gradient(0deg, #292929 0%, #0a0a0a 100%),
    --chp_s-sk-s_br: rgba(0, 0, 0, 0),
    --chp_s-sk-s_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-el_cnt-gn: #858585,
    --chp_s-sk-el_cnt-ad: #858585,
    --chp_s-sk-el_actn: #858585,
    --chp_s-sk-el_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-el_bg: #f5f5f5,
    --chp_s-sk-el_br: rgba(0, 0, 0, 0),
    --chp_s-sk-el_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-gh_cnt-gn: #858585,
    --chp_s-sk-gh_cnt-ad: #858585,
    --chp_s-sk-gh_actn: #858585,
    --chp_s-sk-gh_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh_bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh_br: rgba(0, 0, 0, 0),
    --chp_s-sk-gh_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_cnt-gn: #858585,
    --chp_s-sk-gh-o_cnt-ad: #858585,
    --chp_s-sk-gh-o_actn: #858585,
    --chp_s-sk-gh-o_actn-bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_bg: rgba(0, 0, 0, 0),
    --chp_s-sk-gh-o_br: #292929,
    --chp_s-sk-gh-o_sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
);
