$theme-light: (
  color-solid: (
    content-general: var(--ppr_c-s_cnt-gn, rgb(10, 10, 10)),
    border: var(--ppr_c-s_bdc, rgb(194, 194, 194)),
    border-hovered: var(--ppr_c-s_bdc-h, rgb(64, 96, 255)),
    background: var(--ppr_c-s_bgc, rgb(235, 235, 235)),
    shadow: var(--ppr_c-s_sh, 0 0 16px rgba(10, 10, 10, 0.8)),
    shadow-smoothed: var(--ppr_c-s_sh-smoothed, 0 0 8px rgba(10, 10, 10, 0.8)),
  ),
  color-solid-alt: (
    content-general: var(--ppr_c-s-alt_cnt-gn, rgb(10, 10, 10)),
    border: var(--ppr_c-s-alt_bdc, rgb(194, 194, 194)),
    border-hovered: var(--ppr_c-s-alt_bdc-h, rgb(64, 96, 255)),
    background: var(--ppr_c-s-alt_bgc, rgb(255, 255, 255)),
    shadow: var(--ppr_c-s-alt_sh, 0 0 16px rgba(10, 10, 10, 0.8)),
    shadow-smoothed:
      var(--ppr_c-s-alt_sh-smoothed, 0 0 8px rgba(10, 10, 10, 0.8)),
  ),
);
