$variables: (
  theme-light: (
    --ppr_c-s_cnt-gn: rgb(10, 10, 10),
    --ppr_c-s_bdc: rgb(194, 194, 194),
    --ppr_c-s_bdc-h: rgb(64, 96, 255),
    --ppr_c-s_bgc: rgb(235, 235, 235),
    --ppr_c-s_sh: 0 0 16px rgba(10, 10, 10, 0.8),
    --ppr_c-s_sh-smoothed: 0 0 8px rgba(10, 10, 10, 0.8),
    --ppr_c-s-alt_cnt-gn: rgb(10, 10, 10),
    --ppr_c-s-alt_bdc: rgb(194, 194, 194),
    --ppr_c-s-alt_bdc-h: rgb(64, 96, 255),
    --ppr_c-s-alt_bgc: rgb(255, 255, 255),
    --ppr_c-s-alt_sh: 0 0 16px rgba(10, 10, 10, 0.8),
    --ppr_c-s-alt_sh-smoothed: 0 0 8px rgba(10, 10, 10, 0.8),
  ),
  theme-dark: (
    --ppr_c-s_cnt-gn: rgb(255, 255, 255),
    --ppr_c-s_bdc: rgb(61, 61, 61),
    --ppr_c-s_bdc-h: rgb(64, 96, 255),
    --ppr_c-s_bgc: rgb(20, 20, 20),
    --ppr_c-s_sh: 0 0 16px rgba(128, 128, 128, 0.6),
    --ppr_c-s_sh-smoothed: 0 0 8px rgba(128, 128, 128, 0.6),
    --ppr_c-s-alt_cnt-gn: rgb(10, 10, 10),
    --ppr_c-s-alt_bdc: rgb(194, 194, 194),
    --ppr_c-s-alt_bdc-h: rgb(64, 96, 255),
    --ppr_c-s-alt_bgc: rgb(10, 10, 10),
    --ppr_c-s-alt_sh: 0 0 16px rgba(10, 10, 10, 0.8),
    --ppr_c-s-alt_sh-smoothed: 0 0 8px rgba(10, 10, 10, 0.8),
  ),
  theme-color: (
    --ppr_c-s_cnt-gn: rgb(255, 255, 255),
    --ppr_c-s_bdc: rgb(86, 86, 207),
    --ppr_c-s_bdc-h: rgb(255, 255, 255),
    --ppr_c-s_bgc: rgb(50, 50, 197),
    --ppr_c-s_sh: 0 0 16px rgba(255, 255, 255, 0.4),
    --ppr_c-s_sh-smoothed: 0 0 8px rgba(255, 255, 255, 0.4),
    --ppr_c-s-alt_cnt-gn: rgb(10, 10, 10),
    --ppr_c-s-alt_bdc: rgb(194, 194, 194),
    --ppr_c-s-alt_bdc-h: rgb(64, 96, 255),
    --ppr_c-s-alt_bgc: rgb(64, 96, 255),
    --ppr_c-s-alt_sh: 0 0 16px rgba(10, 10, 10, 0.8),
    --ppr_c-s-alt_sh-smoothed: 0 0 8px rgba(10, 10, 10, 0.8),
  ),
);
