$scale: (
  calendar-min-width: (
    default: 264px,
  ),
  calendar-height: (
    default: 232px,
  ),
  calendar-gap-y: (
    default: 16px,
  ),
  calendar-padding-y: (
    default: 20px,
  ),
  calendar-padding-x: (
    default: 20px,
  ),
  calendar-border-radius: (
    default: 16px,
  ),
  navigation-text-padding-y: (
    default: 2px,
  ),
  navigation-line-height: (
    default: 16px,
  ),
  navigation-font-size: (
    default: 14px,
  ),
  weekday-height: (
    default: 32px,
  ),
  day-height: (
    default: 32px,
  ),
  day-width: (
    default: 40px,
  ),
  day-gap-y: (
    default: 8px,
  ),
  weekday-font-size: (
    default: 16px,
  ),
  date-font-size: (
    default: 14px,
  ),
  date-border-radius: (
    default: 8px,
  ),
  month-height: (
    default: 32px,
  ),
  month-width: (
    default: 70px,
  ),
  month-gap-y: (
    default: 12px,
  ),
);
