$variables: (
  theme-light: (
    --clnd_pm_bgc: rgb(255, 255, 255),
    --clnd_pm_bdc: rgb(235, 235, 235),
    --clnd_pm_txt-gn: rgb(10, 10, 10),
    --clnd_pm_txt-nvgtn: rgb(10, 10, 10),
    --clnd_pm_txt-ad: rgb(128, 128, 128),
    --clnd_pm_txt-a: rgb(255, 255, 255),
    --clnd_pm_txt-n-rng: rgb(10, 10, 10),
    --clnd_pm_dt-bg-hvr: rgb(139, 139, 222),
    --clnd_pm_dt-bg-n-rng: rgb(139, 139, 222),
    --clnd_pm_dt-bg-ctv: rgb(64, 96, 255),
    --clnd_pm_drp-sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  theme-dark: (
    --clnd_pm_bgc: rgb(10, 10, 10),
    --clnd_pm_bdc: rgb(20, 20, 20),
    --clnd_pm_txt-gn: rgb(255, 255, 255),
    --clnd_pm_txt-nvgtn: rgb(255, 255, 255),
    --clnd_pm_txt-ad: rgb(128, 128, 128),
    --clnd_pm_txt-a: rgb(10, 10, 10),
    --clnd_pm_txt-n-rng: rgb(255, 255, 255),
    --clnd_pm_dt-bg-hvr: rgba(255, 255, 255, 0.1),
    --clnd_pm_dt-bg-n-rng: rgba(255, 255, 255, 0.1),
    --clnd_pm_dt-bg-ctv: rgb(64, 96, 255),
    --clnd_pm_drp-sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  theme-color: (
    --clnd_pm_bgc: rgba(255, 255, 255, 0.1),
    --clnd_pm_bdc: rgba(255, 255, 255, 0.2),
    --clnd_pm_txt-gn: rgb(255, 255, 255),
    --clnd_pm_txt-nvgtn: rgb(255, 255, 255),
    --clnd_pm_txt-ad: rgb(139, 139, 222),
    --clnd_pm_txt-a: rgb(255, 255, 255),
    --clnd_pm_txt-n-rng: rgb(255, 255, 255),
    --clnd_pm_dt-bg-hvr: rgba(255, 255, 255, 0.2),
    --clnd_pm_dt-bg-n-rng: rgba(255, 255, 255, 0.2),
    --clnd_pm_dt-bg-ctv: rgba(255, 255, 255, 0.4),
    --clnd_pm_drp-sh: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
);
