$variables: (
  theme-light: (
    --acdn_df_cnt-gn: rgb(10, 10, 10),
    --acdn_df_bgc: rgba(0, 0, 0, 0),
  ),
  theme-dark: (
    --acdn_df_cnt-gn: rgb(255, 255, 255),
    --acdn_df_bgc: rgba(0, 0, 0, 0),
  ),
  theme-color: (
    --acdn_df_cnt-gn: rgb(255, 255, 255),
    --acdn_df_bgc: rgba(0, 0, 0, 0),
  ),
);
